{#if dataProviders}
    <div class="form-group">
        <select bind:value={selected} class="select2" id="dataProvidersSelect" style="width: 100%;">
            {#each Object.entries(dataProviders) as [type, i]}
                {#each Object.entries(i) as [continent, j]}
                    {#each Object.entries(j) as [country, k]}
                        {#each Object.entries(k) as [l, company]}
                            {#each Object.entries(company.facilities) as [m, facility]}
                                {#if continentDisplay !== continent}
                                    {#if page === 'unavailability' }
                                        <option value="{company.data.code}" class="l1" disabled>{continent}</option>
                                    {:else}
                                        <option value="{company.data.code}" class="l1">{continent}</option>
                                    {/if}
                                    {continentDisplay = continent}
                                {/if}
                                {#if countryDisplay !== country}
                                    <option value="{company.data.country.code}" class="l2">{country}</option>
                                    {countryDisplay = country}
                                {/if}
                                {#if parseInt(m) === 0 && !showCompany}
                                    <option value="{company.eic}/{company.data.country.code}" class="l3">{company.short_name}</option>
                                {/if}
                                {#if !showFacility}
                                    <option value="{facility.eic}/{company.data.country.code}/{company.eic}" class="l4">{facility.name}</option>
                                {/if}
                            {/each}
                        {/each}
                    {/each}
                {/each}
            {/each}
        </select>
    </div>
{/if}

<script>
    export let selected, dataProviders, showCompany, showFacility, page;
    let continentDisplay = '',
        countryDisplay = '';
</script>