<p>(1) <strong>Data clarification : Filling levels above 100%</strong><br/>
    Indicated Filling level percentages are calculated with reference to the maximum technical capacity that can be sold on a long-term basis under current licensed permits. <br/>
    Storage levels above reported WGV (technical capacity) are possible for short periods, in case exceptional conditions are available, depending on contextual elements:<br/>
    operational demands, technological and geological conditions of the UGS at a certain period, gas energy equivalent, and/or security of supply considerations.</p>
<p>(2) <strong>Consumption</strong> :Consumption data by country, source: Energy Institute Statistical Review of World Energy, gas consumption for year 2023.<br/>For previous years, the corresponding available consumption data has been applied.</p>
<p>(3) <strong>Stock/Cons</strong> : Storage level compared to Consumption data as a % -  data available on country level only.</p>
<p>(4) <strong>EKB / UGS Etzel</strong> : The reference Injection Capacity to take into account for this dataset is 122,04 GWh/d and Withdrawal Capacity is 216,96 GWh/d.</p>
<p>(5) <strong>EWE</strong> : Data provided for EWE storage dataset "UGS Nüttermoor H1" (EIC: 21W0000000001059) shall be considered at the storage dataset of NL instead of DE (the physical location of the storage is in Germany, but it only serves the Dutch market).</p>
<p>(6) <strong>OMV Gas Storage (Austria)</strong> : Current Technical Working Gas Volume is only temporary (due to technical conditions) and valid until 01.04.2025</p>
<p><strong>Terranets / UGS Sandhausen</strong> : this storage is exempt from reporting (storage is not marketed externally – for local production use only)</p>
<p>(7) <strong>Stogit / IGS / Edison Stoccaggio</strong> : For Italian storage datasets, the publication on the AGSI platform includes the volume of strategic storage.<br/>The information reported by Stogit, IGS and Edison Stoccaggio on the AGSI platform publication provides an overview of national storage levels, whereas the "operational storage data", based on national (Italian) regulatory obligation, can be found on the <a href="https://jarvis.snam.it/public-data?pubblicazione=Storage%20Operational%20Data&periodo=2024%2F2025&lang=en" target="_blank">SNAM website</a> to highlight the available capacity for the market.</p>
<p><strong>BES / UGS Berlin</strong> : Decommissioned – not operational</p>
<p><strong>ONTRAS / UGS Burggraf-Bernsdorf</strong> : Decommissioned – not operational</p>
<p><strong>N-ERGIE & UNIPER / UGS Eschenfelden</strong> : Decommissioned – not operational</p>
<p><strong>Wesernetz Bremen GmbH / UGS Bremen-Lesum</strong> : Decommissioned – not operational</p>
<p><strong>EDF Energy / UGS Hole House Farm</strong> : Decommissioned - not operational</p>