
<h6>
    Inquiries
</h6>
<p>
    For inquiries, please contact GIE at:
</p>
<p>
    Gas Infrastructure Europe (GIE)<br />
    Avenue de Cortenbergh 100<br />
    1000 Brussels<br />
    Belgium<br />
    <a href="tel:+3222090500">T +32 2 209 05 00</a><br />
    <a href="mailto:transparency@gie.eu">transparency@gie.eu</a>
</p>