<div id="info">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {#if view !== 'map'}
                <div class="row">
                    <div class="col-12 mb-3">
                        <DataProviders selected={selected} dataProviders={dataProviders} view={view} page="unavailability" />
                    </div>
                </div>
            {/if}
            <div class="row">
                {#if view === 'listing'}
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Published</span>
                                <select class="form-control" name="dateSelector" on:change={handleChange}>
                                    <option value="1-weeks">Last 7 days</option>
                                    <option value="1-months">Last month</option>
                                    <option value="3-months" selected>Last 3 months</option>
                                    <option value="6-months">Last 6 months</option>
                                    <option value="1-years">Last year</option>
                                    {#if view === 'listing' || facility }
                                        <option value="0">All</option>
                                    {/if}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">From/To</span>
                                <SveltyPicker name="from" inputClasses="form-control" format="yyyy-mm-dd" startDate={minDate} endDate="{to}" bind:value={from} on:change={handleChange} />
                                <SveltyPicker name="to" inputClasses="form-control" format="yyyy-mm-dd" endDate="{moment().add(1, 'year').format(format)}" bind:value={to} on:change={handleChange} />
                            </div>
                        </div>
                    </div>
                {/if}
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">Start/End</span>
                                <SveltyPicker name="start" inputClasses="form-control" format="yyyy-mm-dd" startDate={minDate} endDate="{end}" bind:value={start} on:change={handleChange} />
                                <SveltyPicker name="end" inputClasses="form-control" format="yyyy-mm-dd" startDate={moment(start).add('2', 'days').format(format)} endDate="{moment().add(5, 'years').format(format)}" bind:value={end} on:change={handleChange} />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row form-group mb-3">
                {#each typeSelects as select}
                    <SelectRadios
                            select={select}
                            on:handleChange={handleChange}
                    />
                {/each}
            </div>
            <div class="row form-group">
                {#each flagSelects as select}
                    <SelectRadios
                            select={select}
                            on:handleChange={handleChange}
                    />
                {/each}
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <h6>Data definition</h6>
                <p>The unavailability reports are a repeating group of entries for the planned or proposed outage of a facility by Storage System Operators, detailing the unavailability type and the period and quantity of unavailability.Each Storage system operator identifies the dates and time on which the planned or unplanned outages of the Storage facility occur and the capacity which is affected, which can be filtered and refined with the date selection option at the dataset section.</p>

                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="/unavailability" class="nav-link {(view==='listing'?'active':'')}">
                            <i class="fa-solid fa-timeline-arrow"></i>
                            Listing
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/unavailability/gantt/{currentURL}" class="nav-link {(view==='gantt'?'active':'')}">
                            <i class="fa-solid fa-chart-gantt"></i>
                            Timeline
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/unavailability/map" class="nav-link {(view==='map'?'active':'')}">
                            <i class="fa-solid fa-map"></i>
                            Map
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row" style="clear: left;">
                <p><strong>Legend</strong></p>
                <div class="legend row">
                    <div class="col-lg-3">
                        <div class="legend-item">
                            <span class="planned"></span>&nbsp;Planned unavailability
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="legend-item">
                            <span class="unplanned"></span>&nbsp;Unplanned unavailability
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="legend-item">
                            <span class="confirmed">&nbsp;&nbsp;</span>&nbsp;Confirmed End Time
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <span class="legend-item">
                            <span class="estimated">&nbsp;&nbsp;</span>&nbsp;Estimated End Time
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    import DataProviders from './DataProvidersDropdown.svelte';
    import SelectRadios from './SelectRadios.svelte';
    import SveltyPicker from 'svelty-picker';
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    function handleChange(event) {
        let name = undefined, val = undefined;
        if(event.detail === undefined) {
            //dateSelector
            let target = jQuery( event.target );
            name = jQuery(target[0]).attr('name');
            val = jQuery(target[0]).val();
        } else {
            //SveltyPicker / SelectRadios
            if(event.detail.name !== undefined) {
                name = event.detail.name;
                val = event.detail.value;
            } else {
                name = jQuery(this)[0].$$.ctx[2];
                val = jQuery(this)[0].$$.ctx[0];
            }
        }
        dispatch('handleChange', {
            name: name,
            value: val,
        });
    }

    export let selected, dataProviders, to, from, start, end, minDate, format, moment, view, facility, currentURL;

    if(currentURL === undefined) {
        currentURL = 'eu';
    }

    let typeSelects = [
        { id: 'selected_type', code: 'type_all', text: 'All Unavailability', checked: true },
        { id: 'selected_type', code: 'unplanned', text: 'Unplanned Unavailability', checked: false },
        { id: 'selected_type', code: 'planned', text: 'Planned Unavailability', checked: false },
    ];
    let flagSelects = [
        { id: 'selected_end_flag', code: 'flag_all', text: 'All End Flags', checked: true },
        { id: 'selected_end_flag', code: 'estimate', text: 'Estimated End Flag', checked: false },
        { id: 'selected_end_flag', code: 'confirmed', text: 'Confirmed End Flag', checked: false },
    ];
</script>