<div id="info">
    <div class="row">
    <div class="col-sm-8">
        <h1>API Guide</h1>
        <p>You can use the EIC table below together with the <a href="{pdf_url}" target="_blank">{pdf_title}</a> to get the Historical REST API Data.</p>
        <div class="alert alert-info" role="alert">
            {#if $api_exp}
                <span class="float-end">(Expires on: {$api_exp})</span>
            {:else}
                <span class="float-end">(never expires)</span>
            {/if}
            <strong>Your key: {$api_key}</strong>
            <br>
            <code class="ng-binding">curl <i>&lt;url&gt;</i> --header "x-key: {$api_key}"</code>
        </div>

        <p>Please note that all SSO / LSO accounts already using GIE as RRM (Registered Reporting Mechanism) for REMIT reporting towards ACER or for AGSI / ALSI publication will already find an API key available after login. These accounts are also already subscribed to our IT mailing lists (unless you have opted out).</p>
        <h4>API documentation</h4>
        <p>The <a href="{pdf_url}" target="_blank">{pdf_title}</a> provides examples and guidance on how to use the service.</p>
        <h4>API EIC Code Mapping table &amp; country codes</h4>
        <p>Please use the EIC mapping table and country codes below to identify the datasets you need.</p>
        <p>The datasets are identified using the EIC codes as used for REMIT reporting and/or used for data provision to GIE. These EIC codes are available from the API section on AGSI and ALSI. Please note that the EIC code database is subject to updates and EIC codes used on AGSI or ALSI can change over time. For example : Facilities can change operator, new facilities can become operational or be decommissioned, and EIC codes (and types of code used) are undergoing an evaluation process by ACER (ACER Approved EIC code listing). If such changes would have occurred, we will be able to inform you trough the API mailing list.</p>

        <div class="table-controls">
            <div class="btn-group d-grid gap-2 d-md-block" style="text-align: center">
                <h4>Download EIC listing:</h4>
                <button on:click={tabulatorDownloadFile} class="btn btn-primary" type="button" data-type="csv" style="width: 19%">
                    <i class="fa-solid fa-file-csv"></i> CSV
                </button>
                <button on:click={tabulatorDownloadFile} class="btn btn-primary" type="button" data-type="json" style="width: 19%">
                    <i class="fa-solid fa-file-code"></i> JSON
                </button>
                <button on:click={tabulatorDownloadFile} class="btn btn-primary" type="button" data-type="xlsx" style="width: 19%">
                    <i class="fa-solid fa-file-excel"></i> XLSX
                </button>
                <button on:click={tabulatorDownloadFile} class="btn btn-primary" type="button" data-type="pdf" style="width: 19%">
                    <i class="fa-solid fa-file-pdf"></i> PDF
                </button>
                <button onclick="window.open('/api/about?show=table', '_blank')" class="btn btn-primary" type="button" style="width: 19%">
                    <i class="fal fa-arrow-down-from-dotted-line"></i> API
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button on:click|preventDefault={onLogout} class="btn btn-primary float-end btn-sm">Logout</button>
        <h3>
            Account settings:
        </h3>

        <form id="update" onsubmit="event.preventDefault();" class="form-horizontal">
            <div class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-user"></i></span>
                <input id="first_name" type="text" class="form-control" name="first_name" value="{$first_name}" placeholder="first name">
                <input id="last_name" type="text" class="form-control" name="last_name" value="{$last_name}" placeholder="last name">
            </div>

            <div class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-envelopes"></i></span>
                <input id="email" type="text" class="form-control" name="email" value="{$email}" placeholder="email">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa-solid fa-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="password">
                <div class="alert alert-danger small form-control" style="font-size: small; padding: 2px 10px;" role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i> Only enter a password if you want to change the current password.
                </div>
            </div>

            {#if isWebAccount()}
                <div class="input-group">
                    <span class="input-group-addon required"><i class="fa-solid fa-buildings"></i></span>
                    <input id="company" type="text" class="form-control" name="company" placeholder="company" value="{$company}">
                </div>
            {/if}

            <div class="input-group">
                <span class="input-group-addon"><i class="fa-solid fa-phone"></i></span>
                <input id="telephone" type="text" class="form-control" name="telephone" placeholder="telephone" value="{$telephone}">
            </div>

            <div style="margin-bottom: 15px" class="input-group">
                <span class="input-group-addon required"><i class="fa-solid fa-arrow-down-from-dotted-line"></i></span>
                <div class="form-control">Access to:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" class="" name="api_access" bind:group={$api_access} value={1}> AGSI&nbsp;&nbsp;
                    </label>
                    <label>
                        <input type="radio" class="" name="api_access" bind:group={$api_access} value={0}> Both ALSI and AGSI
                    </label>
                </div>
            </div>

            <div style="margin-bottom: 15px" class="input-group small">
                <input id="mailing" type="checkbox" class="" name="mailing" bind:checked={$mail_api}> I would like to <strong>subscribe to the API Service mailing list</strong> in order to receive Service Announcements and updates
            </div>
            <div class="form-group">
                {#if updated === 1}
                    <div class="alert alert-success" transition:fade={{duration:150}}>Your account has been updated</div>
                {:else if updated === 2 }
                    <div class="alert alert-danger" transition:fade={{duration:150}}>Something went wrong. Please email api@gie.eu</div>
                {:else if updated.length > 0 }
                    <div class="alert alert-danger" transition:fade={{duration:150}}>{updated}</div>
                {/if}
                <div class="btn-group btn-group-sm" style="text-align: center">
                    <button id="btn-update" class="btn btn-primary" on:click|preventDefault={onUpdate}>Update</button>
                    {#if isWebAccount()}
                        <button id="btn-delete" class="btn btn-danger" on:click|preventDefault={onCancel}>Cancel my account</button>
                    {/if}
                </div>
            </div>
            <div class="alert small text-danger">
                {#if isWebAccount()}
                    Your data will be stored and securely handled as long as your account remains active. To cancel your account fill in your email and password and click the red 'Cancel my account' button.
                {:else}
                    <strong>Please send an email to api@gie.eu if you want to delete your account as this account is combined with your REMIT account.</strong>
                {/if}
            </div>
        </form>
    </div><!-- /.col-lg-6 -->
</div>
</div>

<div id="dataTable"></div>

<script>
    import { token, slug, first_name, last_name, email, api_key, api_exp, role, mail_api, api_access, company, telephone } from './_components/stores.js';
    import {onMount} from "svelte";
    import { fade } from 'svelte/transition';
    import moment from "moment";

    let pdf_url = 'https://www.gie.eu/transparency-platform/GIE_API_documentation_v013.pdf',
        pdf_title = 'API User Manual and technical documentation V13 (PDF, 1.32MB)';

    const account = document.getElementById('account');
    const url = account.getAttribute('data-url'),
        params = JSON.parse(account.getAttribute('data-params'));
    let dataProviders = [],
        table,
        dataURL = url + '/about',
        logoutURL = url + '/logout',
        updateURL = url + '/update',
        cancelURL = url + '/delete',
        updated = 0;
    $token = params.access_token;
    $slug = params.slug;
    $first_name = params.first_name;
    $last_name = params.last_name;
    $email = params.email;
    $api_key = params.api_key;
    $api_exp = params.api_exp;
    $role = parseInt(params.role);
    $mail_api = parseInt(params.mail_api);
    $api_access = parseInt(params.api_access);
    $company = params.company;
    $telephone = params.telephone;


    async function onLogout(e) {
        let returnData;
        const response = await fetch(
            //proxy +
            logoutURL, {
                method: 'POST',
            });
        returnData = (await response.json());

        if (returnData.success) {
            window.location.replace("/account");
        }
    }

    function isWebAccount() {
        return ($role === 4);
    }


    async function onUpdate(e) {
        const data = jQuery('form#update').serializeArray();

        //Call login with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            updateURL, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());
        if (returnData.success) {
            updated = 1;
        } else {
            updated = 2;
        }
    }

    async function onCancel(e) {
        const data = jQuery('form#update').serializeArray();

        //Call login with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            cancelURL, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());
        if (returnData.success) {
            window.location.replace("/account");
        } else {
            updated = returnData.error;
        }
    }


    function tabulatorDownloadFile(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            options = {},
            title = 'Dataproviders'
        ;
        switch (typeVal) {
            case 'csv':
                options = {
                    delimiter: ";",
                };
                break;
            case 'json':
                break;
            case 'xlsx':
                options = {
                    sheetName: "AGSI Transparency - GIE",
                };
                break;
            case 'pdf':
                options = {
                    orientation:"landscape", //set page orientation to portrait
                    title:"AGSI Transparency - Gas Infrastructure Europe", //add title to report
                    jsPDF: {
                        unit: "in",
                        format: [11.7, 16.5],
                    }
                };
                break;
            case 'html':
                options = {
                    style:true,
                };
                break;
            default:
                title = null;
        }
        if(typeVal === 'pdf') {
            table.downloadToTab(typeVal, title + '.' + typeVal, options);
        } else {
            table.download(typeVal, title + '.' + typeVal, options);
        }
    }

    onMount(async function () {
        table = await new Tabulator('#dataTable', {
            layout: "fitColumns",
            maxHeight: "650",
            height: "650",

            dataTree: false,
            //groupBy:["country", "company"],
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table
                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: false, //do not include column calcs in downloaded table
                dataTree: false, //do not include data tree in downloaded table
            },

            pagination:false, //enable pagination

            ajaxURL: dataURL, //set url for ajax request
            ajaxParams:{'show': 'table', 'list': 'sp'}, //set any standard parameters to pass with the request
            ajaxContentType: "application/json; charset=utf-8",
            /*ajaxResponse: function(url, params, response) {
                return response.data;
            },*/

            columns: [ //Define Table Columns
                {
                    title: "Country",
                    field: "country",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    headerFilter:true,
                    hozAlign: 'left',
                    width: 100,
                },
                {
                    title: "Type",
                    field: "type",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    headerFilter:true,
                    hozAlign: 'left',
                    width: 250,
                },
                {
                    title: "EIC Code",
                    field: "eic",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    headerFilter:true,
                    hozAlign: 'left',
                    width: 250,
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        let url = cell.getData().url;
                        if(url.length > 0) {
                            return '<a href="' + url + '" target="_blank">'+message+'</a>';
                        } else {
                            return message;
                        }
                    },
                },
                {
                    title: "URL",
                    field: "url",
                    visible: false,
                    download: true,
                },
                {
                    title: "Short Name",
                    field: "short_name",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    headerFilter:true,
                    hozAlign: 'left',
                },
                {
                    title: "Name",
                    field: "name",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    headerFilter:true,
                    hozAlign: 'left',
                }
            ],
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if(data.short_name.length > 0) {
                    row.getElement().classList.add('company');
                }
            },
        });
    });
</script>
