
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Storage Capacity Forecast</h5>
            <p>Storage System Operators (SSO), which publish storage capacity forecasts for the upcoming gas storage year(s), are listed below. The links provided refer to the dedicated section of their websites where such data is posted.</p>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-12">
            {#await promise}
                <div class="new-update clearfix">
                    <i class="fas fa-sync fa-spin"></i>
                </div>
            {:then promise}
                {#each Object.entries(promise) as [company_type, countries] (company_type)}
                    <table class="table" id="capacityForecast">
                        <thead>
                        <tr class="table-active">
                            <th>Country</th>
                            <th colspan="2">Company</th>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {#each Object.entries(countries) as [country, companies] (country)}
                            {#each companies as company, i}
                                <tr class="element-{i}">
                                    {#if i === 0}
                                        <th class="table-active" rowspan="{companies.length}">{country}</th>
                                    {/if}
                                    <td><img src="data:image/png;base64,{company.image}" alt="{company.name}" /></td>
                                    <td>{company.name}</td>
                                    <td>
                                        {#if company.available_capacities.length > 0}
                                            <a href="{company.available_capacities}" target="_blank">
                                                <i class="fa-duotone fa-arrow-up-right-from-square"></i>
                                            </a>
                                        {/if}
                                    </td>
                                </tr>
                            {/each}
                        {/each}
                        </tbody>
                    </table>
                {/each}
            {/await}
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";

    const dataProviders = document.getElementById('capacityForecast');
    const apiURL = dataProviders.getAttribute('data-url') + '/about' + dataProviders.getAttribute('data-params');
    let promise = Promise.resolve([]);

    console.log(apiURL);

    async function getData() {
        const response = await self.fetch(apiURL, {
            method: 'GET'
        });
        return response.json();
    }

    onMount(async function () {
        promise = getData();
    });
</script>