<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">storage status</h3>

                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 435px;">
                    <iframe src="/data-overview/graphs/EU" title="EU graphs" scrolling="no" style="border: 0px none; margin-left: -20px; height: 1000px; margin-top: -468px; width: 106%;" loading="lazy"></iframe>
                </div>

                <a href="/data-overview/graphs/EU" class="btn btn-primary">Data by country</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">filling levels / Europe</h3>

                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 435px;">
                    <iframe src="/data-visualisation/filling-levels/EU" title="EU filling levels" scrolling="no" style="border: 0px none; margin-left: -30px; height: 1200px; margin-top: -652px; width: 100%;" loading="lazy"></iframe>
                </div>

                <a href="/data-visualisation/filling-levels/EU" class="btn btn-primary">Data by country</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Filling levels</h3>
                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 435px; padding: 15px;">
                    <h4>{percentage} %</h4>
                    <canvas id="gauge"></canvas>
                    <h5><strong>EU27</strong> Aggregate</h5>
                    <h4>{twh}</h4>
                </div>
                <a href="/data-overview/EU" class="btn btn-primary">Data by country</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Storage Inventory</h3>

                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 400px;">
                    <iframe src="/data-visualisation/map" title="Storage Inventory" scrolling="no" style="border: 0px none; margin-left: -30px; height: 1500px; margin-top: -425px; width: 116%;" loading="lazy"></iframe>
                </div>

                <a href="/data-visualisation/map" class="btn btn-primary">View map</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">filling levels (country)</h3>

                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 400px;">
                    <iframe src="/data-visualisation/filling-levels-country/map" scrolling="no" title="Filling Levels map (country)" style="border: 0px none; margin-left: -30px; height: 1500px; margin-top: -425px; width: 111%; text-align: left;" loading="lazy"></iframe>
                </div>
                <a href="/data-visualisation/filling-levels-country/map" class="btn btn-primary">View map</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">outages</h3>

                <div style="border: 1px solid rgba(0, 0, 0, 0.176); overflow: hidden; margin: 15px auto; max-width: 100%; height: 400px;">
                    <iframe src="/unavailability/map" scrolling="no" title="Unavailability map" style="border: 0px none; margin-left: -30px; height: 1500px; margin-top: -750px; width: 116%; text-align: left;" loading="lazy"></iframe>
                </div>
                <a href="/unavailability" class="btn btn-primary">View map</a>
            </div>
        </div>
    </div>
</div>

<script>
    import {onMount} from "svelte";
    import moment from "moment/moment";

    const apiURL = document.getElementById('dashboard').getAttribute('data-url'),
        newsURL = apiURL + '/news?limit=5',
        format = 'YYYY-MM-DD';
    let data = [],
        serviceAnnouncements = [],
        gasDay = '', trend = '', trend_class = '', twh = 0, percentage = 0;

    onMount(async function () {
        const response_news = await fetch(newsURL, {
            method: 'GET'
        });
        serviceAnnouncements = await response_news.json();
        let sa = serviceAnnouncements['data'][0];

        document.getElementById('sa_slide').innerHTML = '<a href="/news/' + sa.url + '"><i class="fa-solid fa-bell-exclamation"></i> <strong>' + moment(sa.start_at).format(format) + '</strong>&nbsp;-&nbsp;' + sa.title + '</a>';

        const response_data = await fetch(apiURL, {
            method: 'GET'
        });
        data = await response_data.json();
        gasDay = data.gas_day;
        data = data.data[0]
        if(data.trend > 0 && data.trend !== 0) {
            trend_class = 'positive';
            trend = '<i class="fa-solid fa-caret-up"></i> +' + data.trend + ' %' ;
        } else {
            //negative trend
            trend_class = 'negative';
            trend = '<i class="fa-solid fa-caret-down"></i>' + data.trend + ' %' ;
        }
        twh = data.gasInStorage + ' TwH';
        percentage = data.full;

        let opts = {
            angle: 0, // The span of the gauge arc
            lineWidth: 0.44, // The line thickness
            radiusScale: 1, // Relative radius
            pointer: {
                length: 0.6, // // Relative to gauge radius
                strokeWidth: 0.035, // The thickness
                color: '#000000' // Fill color
            },
            limitMax: false,     // If false, max value increases automatically if value > maxValue
            limitMin: false,     // If true, the min value of the gauge will be fixed
            colorStart: '#6FADCF',   // Colors
            colorStop: '#8FC0DA',    // just experiment with them
            strokeColor: '#E0E0E0',  // to see which ones work best for you
            generateGradient: true,
            highDpiSupport: true,     // High resolution support
            percentColors: [[0.0, "#d70b0b" ], [0.50, "#f9c802"], [1.0, "#66ff00"]],
        };
        let target = document.getElementById('gauge'); // your canvas element
        let gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
        gauge.maxValue = 100; // set max gauge value
        gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
        gauge.animationSpeed = 12; // set animation speed (32 is default value)
        gauge.set(percentage); // set actual value
    });
    function formatDate(date) {
        return moment(date).format('D MMMM YYYY');
    }
</script>
