<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>AGSI Aggregated Gas Storage Inventory</h5>
            <p>GIE is pleased that its members have agreed on a voluntary basis to publish storage inventory as per member state, storage operator and storage site. This initiative helps to provide the information the market needs to operate efficiently and effectively whilst protecting commercially sensitive information.</p>
            <p>For information, please contact the GIE Secretariat at <a href="mailto:transparency@gie.eu?subject=AGSI Inquiry">transparency@gie.eu</a>.</p>
        </div>
        <div class="col-4">
            <h6>GSE Transparency Template</h6>
            <p>Additional standardised transparency information is available from GSE members through the <a href="https://www.gie.eu/transparency/gse-transparency-template/" target="_blank">GSE Transparency Template</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {#await promise}
                <div class="new-update clearfix">
                    <i class="fas fa-sync fa-spin"></i>
                </div>
            {:then promise}
                {#each Object.entries(promise) as [company_type, countries] (company_type)}
                    <div class="card">
                        <div class="card-body">
                            {#each Object.entries(countries) as [country, companies] (country)}
                            <span class="country">{country}</span>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Logo</th>
                                        <th>Name</th>
                                        <th style="width: 25px">Website</th>
                                        <th style="width: 25px">Transparency Template</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {#each companies as company}
                                        <tr>
                                            <td><img src="data:image/png;base64,{company.image}" alt="{company.name}" /></td>
                                            <td>{company.name}</td>
                                            <td>
                                                {#if company.publication_link.length > 0}
                                                    <a href="{company.publication_link}" target="_blank">
                                                        <i class="fa-duotone fa-arrow-up-right-from-square"></i>
                                                    </a>
                                                {/if}
                                            </td>
                                            <td>
                                                {#if company.transparency_template.length > 0}
                                                    <a href="{company.transparency_template}" target="_blank">
                                                        <i class="fa-duotone fa-arrow-up-right-from-square"></i>
                                                    </a>
                                                {/if}
                                            </td>
                                        </tr>
                                    {/each}
                                    </tbody>
                                </table>
                            {/each}
                        </div>
                    </div>
                {/each}
            {/await}
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";

    const dataProviders = document.getElementById('dataProviders');
    const apiURL = dataProviders.getAttribute('data-url') + '/about' + dataProviders.getAttribute('data-params');
    let promise = Promise.resolve([]);

    async function getData() {
        const response = await self.fetch(apiURL, {
            method: 'GET'
        });
        return response.json();
    }

    onMount(async function () {
        promise = getData();
    });
</script>
