 <div id="info">
    <div class="row">
        <div class="col">
            <p class="clearfix pt-3">These maps indicate the currently available storage capacities and filling levels per country - the full
                dataset is shown when selecting an item on the map. The data legend will be adjusted upon start of
                injection or withdrawal season and will reflect the requirements as expected for each season.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card text-center">
            <div class="card-body" id="filling-levels-vs-working-gas-volume">
                <div style="position: relative">
                    <div class="logo_gie"></div>
                    <div id="leaflet-gas-map" style="height: {height};"></div>
                    <div class="loading" style="position: absolute; top: 20%; width: 100%; text-align: center">
                        <h3>Loading data</h3>
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    import {onMount} from "svelte";
    let L = window.L;
    const SIZE_LIMIT = 3000;
    let height = '600px';

    const fillingLevels = document.getElementById('dataVisualisationWGV'),
        url = fillingLevels.getAttribute('data-url');

    const COUNTRY_LOCATION = {
        'AT': [48.2081743, 16.3738189],
        'BE': [50.503887, 4.469936],
        'BG': [42.733883, 25.48583],
        'HR': [45.1, 15.2],
        'CZ': [49.817492, 15.472962],
        'DK': [55.6760968, 12.5683372],
        'FR': [46.227638, 2.213749],
        'DE': [51.165691, 10.451526],
        'HU': [47.162494, 19.5033041],
        'IE': [53.41291, -8.24389],
        'IT': [41.87194, 12.56738],
        'LV': [56.879635, 24.603189],
        'NL': [52.132633, 5.291266],
        'PL': [51.919438, 19.145136],
        'PT': [39.399872, -8.224454],
        'RO': [45.943161, 24.96676],
        'SK': [48.669026, 19.699024],
        'ES': [40.463667, -3.74922],
        'SE': [60.128161, 18.643501],
        'GB': [55.378051, -3.435973],
        'UA': [48.379433, 31.16558],
        'GB*': [55.378051, -3.435973]
    }
    const ABOUT_CODES = {
        'EU' : {
            name : 'Europe',
            countries : {
                'AT' : 'Austria',
                'BE' : 'Belgium',
                'BG' : 'Bulgaria',
                'HR' : 'Croatia',
                'CZ' : 'Czech Republic',
                'DK' : 'Denmark',
                'FR' : 'France',
                'DE' : 'Germany',
                'HU' : 'Hungary',
                'IE' : 'Ireland',
                'IT' : 'Italy',
                'LV' : 'Latvia',
                'NL' : 'Netherlands',
                'PL' : 'Poland',
                'PT' : 'Portugal',
                'RO' : 'Romania',
                'SK' : 'Slovakia',
                'ES' : 'Spain',
                'SE' : 'Sweden',
                //'GB' : 'United Kingdom'
            }
        },
        'NE' : {
            name : 'Non-EU' ,
            countries : {
                //'GB*' : 'United Kingdom',
                'UA' : 'Ukraine'
            }
        }
    }

    onMount(async function () {
        await redraw_agsi_overview();
    })

    async function build_country_gas_map(content_id, data) {
        let full_range = {
            0: '#a90000',
            10: '#f70000',
            20: '#fe660d',
            30: '#fea315',
            40: '#8ca744',
            50: '#67b919',
            60: '#17b017',
            70: '#479f22',
            80: '#106c16',
            90: '#094809'
        }

        function get_color(c) {
            let color = '#000000';
            for (let key in full_range) {
                if (parseInt(c) >= parseInt(key)) {
                    color = full_range[key];
                }
            }
            return color;
        }

        // Based on the gasInStorage
        function get_radius(r) {
            return r > 200 ? 26 :
                r > 100 ? 20 :
                    r > 50 ? 14 :
                        r > 0 ? 8 :
                            0;
        }

        let map = L.map(content_id, {
            scrollWheelZoom: false
        }).setView([50, 16], 3.5);
        let mapLink =
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';

        L.tileLayer(
            'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: 'Source: GIE | Attribution: Sonnem Holding B.V.',
                maxZoom: 18,
            }).addTo(map);
        jQuery('.leaflet-control-attribution').hide()


        data.forEach(function (item, index) {
            try {
                let color = get_color(item.full),
                    radius = get_radius(item.workingGasVolume),
                    lat_long = COUNTRY_LOCATION[item.country];
                if (lat_long === undefined) {
                    console.log("Undefined:" + item.country);
                    return;
                }
                if (isNaN(item.full)) {
                    console.log("Undefined: " + item.country);
                    return;
                }

                let circle = new L.circleMarker(lat_long, {
                    fillOpacity: 0.65,
                    color: color,
                });
                radius = Math.max(2, Math.sqrt(item.workingGasVolume)*2.25);
                circle.setRadius(radius)
                // Number date to human readable
                let date = new Date(item.gasDayStart).toISOString().split('T')[0];
                let label = "<h5>" + item.country + "</h5>";
                label += "<small><p style='margin-bottom: 0; margin-top: 0;'>";
                label += "<table style='margin-bottom: 0; margin-top: 0; text-align: left;'>";

                label += "<tr><td>Gas Day Start</td><td>" + "<b>" + date + "</b></td></tr>";
                label += "<tr><td>Filling Level</td><td>" + "<b>" + item.full + " %</b>" + "</td></tr>";
                label += "<tr><td>Gas In Storage</td><td>" + "<b>" + item.gasInStorage + " TWh</b>" + "</td></tr>";
                label += "<tr><td>Withdrawal</td><td>" + "<b>" + item.withdrawal + " GWh/d</b>" + "</td></tr>";
                label += "<tr><td>Injection</td><td>" + "<b>" + item.injection + " GWh/d</b>" + "</td></tr>";
                label += "<tr><td>Working Gas Volume</td><td>" + "<b>" + item.workingGasVolume + " TWh</b>" + "</td></tr>";
                label += "<tr><td>Withdrawal Capacity</td><td>" + "<b>" + item.withdrawalCapacity + " GWh/d</b>" + "</td></tr>";
                label += "<tr><td>Injection Capacity</td><td>" + "<b>" + item.injectionCapacity + " GWh/d</b>" + "</td></tr>";
                label += "</table></p></small>";

                circle.bindTooltip(label);

                let offset = 0.15;
                lat_long = [lat_long[0] + offset, lat_long[1] + offset];
                let text = new L.marker(lat_long, {
                    icon: L.divIcon({
                        className: 'div-icon',
                        iconSize: [100, 20],
                        html: '<p opacity: 0.3; style="color: ' + color + '"><strong>' + item.full + "%" + '</strong></p>',
                    }),
                    zIndexOffset: 0,
                    interactive: false
                });
                //text.addTo(map);
                circle.addTo(map);
            } catch (e) {
                console.log(e)
            }
        });

        let legend_color = L.control({position: "bottomleft"});
        legend_color.onAdd = function (map) {
            let div = L.DomUtil.create('div', 'info legend'),
                grades = [1, 42, 52, 62, 72, 82, 92],
                labels = ['<strong>Full (%) </strong>'],
                categories = ['1 - 40', '41 - 50', '51 - 60', '61 - 70', '71 - 80', '81 - 90', '91 - 100'];

            for (let i = 0; i < grades.length; i++) {
                let grade = grades[i];//*0.5;
                labels.push(
                    '<div><span class="circle" style="background:' + get_color(grade) + '"></span><span>' + categories[i] + '</span></div>');
            }
            div.innerHTML = labels.join('\n');
            return div;
        };
        legend_color.addTo(map);

        let legend_size = L.control({position: "bottomright"});

        legend_size.onAdd = function (map) {
            let div = L.DomUtil.create('div', 'info legend'),
                grades = [1, 51, 101, 202],
                labels = ['<strong>Working Gas Volume (TWh)</strong>'],
                categories = ['0-50', '51-100', '101-200', '200+'];


            for (let i = 0; i < grades.length; i++) {
                let grade = grades[i];//*0.5;
                labels.push(
                    '<i class="circlepadding" style="width: ' + Math.max(8, (7 - 2.2 * get_radius(grade))) + 'px;"></i> <i style="background: #8080A0; width: ' + get_radius(grade) + 'px; height: ' + get_radius(grade) + 'px; border-radius: 50%; margin-top: ' + Math.max(0, (9 - get_radius(grade))) + 'px;"></i><i class="circlepadding" style="width: ' + Math.max(2, (25 - 2 * get_radius(grade))) + 'px;"></i> ' + categories[i]);
            }
            div.innerHTML = labels.join('<br>');
            return div;
        };
        //legend_size.addTo(map);

    }
    async function redraw_agsi_overview() {
        let storages = await get_country_data();
        await build_country_gas_map('leaflet-gas-map', storages);
    }

    async function get_country_data() {
        let country_codes = Object.keys(ABOUT_CODES['EU']['countries']).concat(
            Object.keys(ABOUT_CODES['NE']['countries'])
        );
        // Put country codes in a list of records with country: key
        let country_list = country_codes.map(function (code) {
            return {country: code};
        });
        // Get data from now until 5 days ago.
        let start_date = new Date(),
            end_date = new Date();
        start_date.setDate(start_date.getDate() - 5);
        // Date to yyyy-mm-dd string
        start_date = start_date.toISOString().split('T')[0];
        end_date = end_date.toISOString().split('T')[0];
        let data = await get_agsi_data(country_list, start_date, end_date);
        // Get the first record for each country
        let country_data = [];
        for (let i = 0; i < data.length; i++) {
            let record = data[i];
            let country = record.data[0];
            if(record.country !== undefined) {
                country['country'] = record.country;
                country_data[i] = country;
            }
        }
        return country_data;
    }

    /**
     * Get AGSI data for the given selection.
     * @param  selection_list The list of selections to query.
     * @param  start_date The start date of the data.
     * @param  end_date The end date of the data.
     *
     * @returns The data for the given selection.
     */
    async function get_agsi_data(selection_list, start_date, end_date) {
        let data = [];

        await Promise.all(selection_list.map(async selection =>
                query_agsi_data(selection.continent, selection.country, selection.company, selection.facility, start_date, end_date
                ).then(selection_data => preprocess_agsi_data(selection_data)
                    // Push the data to an array as dictionary with the key being the facility.company
                ).then(results => data.push(
                        {
                            'company': selection.company_name,
                            'country': selection.country,
                            'facility': selection.facility_name,
                            'continent': selection.continent,
                            'data': results.data,
                            'metadata': results.metadata
                        }
                    )
                )
            )
        );

        return data;
    }

    /**
     * Queries the AGSI data for the given selection.
     * @param  continent The continent of the selection.
     * @param  country The country of the selection.
     * @param  company The company of the selection.
     * @param  facility The facility of the selection.
     * @param  start_date The start date of the data.
     * @param  end_date The end date of the data.s
     *
     * @returns The data for the given selection.
     */
    async function query_agsi_data(continent, country, company, facility, start_date, end_date) {
        let params = {
            "from": start_date,
            "size": SIZE_LIMIT
        }
        if (end_date) {
            params.to = end_date;
        }
        if (continent) {
            params.continent = continent;
        }
        if (country) {
            params.country = country;
        }
        if (company) {
            params.company = company;
        }
        if (facility) {
            params.facility = facility;
        }

        //console.log(params);
        // Initialize data array
        let data = {};

        // Let us load in the first page, and get the total number of pages
        let url_params = Object.keys(params).map(key => key + '=' + params[key]).join('&');
        let url_fetch = url + "?" + url_params + '&page=1';
        let response = await fetch(url_fetch, {
            method: 'GET',
        });

        let parsed = await response.json();
        // Meta data
        let dataset = parsed.dataset.replace(/data-overview/g, 'data-visualisation/preview');
        // First page
        data[1] = parsed.data;

        let last_page = parsed.last_page;
        // If we have more than one page, we will load in the rest of the pages.
        if (last_page > 1) {
            // Start at number 2, because we already have the first page
            let pages = Array(last_page - 1).fill(0).map((x, i) => i + 2);
            // Multi-threaded fetching of data (https://stackoverflow.com/questions/59037553/fetch-multiple-urls-at-the-same-time)
            await Promise.all(pages.map(page =>
                fetch(
                    url + "?" + Object.keys(params).map(key => key + '=' + params[key]).join('&') + "&page=" + page
                ).then(resp => resp.json()
                    // Save the data in the data dictionary with its corresponding page.
                ).then(results => data[page] = results.data)));
        }

        // Flatten the data dictionary into an array
        let data_array = Object.keys(data).map(key => data[key]).flat(1);
        return {
            metadata: {
                'first_page': url_fetch,
                'dataset': dataset,
                'start_date': start_date,
                'end_date': end_date,
                'size': SIZE_LIMIT,
                'last_page': last_page
            },
            data: data_array
        }
    }

    /**
     * Preprocesses the AGSI data.
     * @param selection_data
     *
     * @returns The data for the given selection.
     */
    function preprocess_agsi_data(selection_data) {
        let unprocessed_data = selection_data.data;
        let metadata = selection_data.metadata;

        let variables = ['gasDayStart', 'full', 'gasInStorage', 'injection', 'injectionCapacity', 'trend', 'workingGasVolume', 'netWithdrawal', 'withdrawal', 'withdrawalCapacity'];
        // Turn the data into a dictionary with gasDayStart as key and the rest as values
        let processed_data = [];
        for (let i = 0; i < unprocessed_data.length; i++) {

            let day_data = {};
            for (let j = 0; j < variables.length; j++) {
                let variable = variables[j];
                if (variable === 'gasDayStart') {
                    day_data[variable] = Date.parse(unprocessed_data[i][variable]);
                } else {
                    day_data[variable] = parseFloat(unprocessed_data[i][variable]).toFixed(2);
                }
            }
            processed_data.push(day_data);
        }

        return {
            'data': processed_data,
            'metadata': metadata
        };
    }
</script>