<div id="info">
    <div class="row">
        <div class="col">
            <p>Click on a point to display facility information. <span class="color-gie">Daily updated data from the API service is indicated in blue.</span> Other facility data is updated annually and is based on <a href="https://www.gie.eu/transparency/databases/" target="_blank">GIE (map) database</a>.<br/>
                Indicated map coordinates are for data visualization purposes only and do not reflect the exact physical location for each facility or infrastructure element (at closest zoom level).</p>
        </div>
    </div>
</div>
<div class="row" style="height: 100%; min-height: 700px; width: 99%;">
    <div class="col-md-12" style="position: relative">
        <div class="card text-center">
            <div class="card-body">
                <div style="position: relative">
                    <div class="logo_gie"></div>
                    <div id="map" style="height: {height}; width: 100%; margin: 0"></div>
                    <div class="loading" style="position: absolute; top: 50px; width: 100%; text-align: center">
                        <h3>Loading data</h3>
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";

    let L = window.L;

    let height = '800px',
        iframe = false;

    const data_visualisation = document.getElementById('dataVisualisationMap');
    let url = data_visualisation.getAttribute('data-url');

    onMount(async function () {
        if(window.self !== window.top) {
            iframe = true;
        }
        await build_agsi_facility_map_v2('map');
        //jQuery('#info-agsi').show();
    });
    let AGSI_STATIC_LABELS = {
        "companyName" : "Operator",
        "companyCode" : "Operator EIC code",
        "eic" : "Facility EIC code",
        "countryName" : "Country",
        "type" : "Type",
        "status" : "Status",
        "investment" : "Investment",
        "startup_year" : "Year of Startup",
        "technology" : "Technology",
        "location" : "Location",
        "tpa_regime" : "TPA Regime",
        "comment" : "Comment"
    }

    let AGSI_HREF_LABELS = {
        "transparency_link" : "Transparency Template",
        "operational_link" : "Website",
    }

    let AGSI_DYNAMIC_LABELS = {
        "gasDayStart" : "Gas Day Start",
        "report_status" : "Status",
        "gasInStorage" : "Gas in Storage (TWh)",
        "full" : "Full (%)",
        'trend' : 'Trend',
        "injection" : "Injection (GWh/d)",
        "withdrawal" : "Withdrawal (GWh/d)",
        "injectionCapacity" : "Injection Capacity (GWh/d)",
        "withdrawalCapacity" : "Withdrawal Capacity (GWh/d)",
        "workingGasVolume" : "Working Gas Volume (TWh)"
    }

    async function process_agsi_dynamic_data_v2() {
        let about_aggregated = await query_agsi_about_aggregated();
        // Dive deep levels into the aggregated data
        let facilities = [];
        // Iterate over the continent (keys) in about_aggregated
        for (let country in about_aggregated) {
            for (let company in about_aggregated[country]) {
                for (let facility_name in about_aggregated[country][company]['facilities']) {
                    let facility = about_aggregated[country][company]['facilities'][facility_name]
                    let dynamic_label = '';
                    let record_data = facility.data;
                    if(record_data['report_status'] !== undefined) {
                        record_data.gasDayStart = new Date(record_data.gasDayStart).toISOString().split('T')[0];
                        for (let key in AGSI_DYNAMIC_LABELS) {
                            // If no value, set value to -
                            if (record_data[key] === undefined || record_data[key] === 'NaN' || record_data[key] === 'null' || record_data[key] === null) {
                                record_data[key] = "-";
                            }
                            // Colored value
                            dynamic_label += '<tr class="color-gie"><td>' + AGSI_DYNAMIC_LABELS[key] + '</td>';

                            if(key === 'trend' && record_data['trend'] < 0) dynamic_label += '<td class="negative-trend">';
                            else if(key === 'trend' && record_data['trend'] > 0) dynamic_label += '<td class="positive-trend">';
                            else dynamic_label += '<td>';
                            dynamic_label += record_data[key] + '</td></tr>';
                        }
                    }
                    facility.dynamic_label = dynamic_label;
                    facilities.push(
                        facility
                    )
                }
            }
        }
        // Sort the data by status (operational last)
        facilities.sort(function(a, b) {
            if (a.status === "operational" && b.status !== "operational") {
                return 1;
            }
            if (a.status !== "operational" && b.status === "operational") {
                return -1;
            }
            return 0;
        });

        return facilities;
    }

    async function query_agsi_about_aggregated(){
        let url_fetch = url + "/about-aggregated";
        let response = await fetch(url_fetch, {
            method: 'GET'
        });

        let parsed = await response.json();
        return parsed.SSO;
    }

    async function build_agsi_facility_map_v2(content_id){
        let data = await process_agsi_dynamic_data_v2();
        let full_range = {
            "virtual" : '#ef1ee3',
            "operational" : '#1d84bc',
            "planned" : '#f4be04',
            "under construction" : '#e9292e',
            "suspended" : '#808285'
        }
        function get_color(c){
            let color = '#000000';
            for (let key in full_range){
                if (c === key){
                    color = full_range[key];
                }
            }
            return color;
        }

        let map = (iframe) ?
            L.map(content_id, { zoomControl: false }).setView([30.70, 9.92], 3) :
            L.map(content_id, {}).setView([50.8465573,4.351697], 5);
        let mapLink = '<a href="http://openstreetmap.org" >OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: 'Source: Gas Infrastructure Europe (GIE) | Attribution: Sonnem Holding B.V.',
                maxZoom: 18,
            }).addTo(map);

        // Hide the attribution
        // jQuery('.leaflet-control-attribution').hide()
        map.attributionControl.setPrefix('')

        // Add the search bar
        let markersLayer = new L.LayerGroup();	//layer contain searched elements
        map.addLayer(markersLayer);
        let controlSearch = new L.Control.Search({
            layer: markersLayer,
            initial: false,
            position : 'topleft'
        });
        map.addControl( controlSearch );
        // Add the layers
        map.addLayer(markersLayer);
        let layerControl = L.control
            .layers(
                {},
                {},
                {position : 'topleft'},
            )
            .addTo(map);

        let small_pipeline_layer = "/build/data/PIPELINES-SMALL.geojson";
        let medium_pipeline_layer = "/build/data/PIPELINES-MEDIUM.geojson";
        let large_pipeline_layer = "/build/data/PIPELINES-LARGE.geojson";
        let gas_fields_layer = "/build/data/GAS_FIELDS.geojson";
        //  Custom layer options
        const small_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                fillColor: "#B9B7BD",
                color : "#B9B7BD",
                opacity: 0.5,
                weight: 1,
                fillOpacity: 0.5,
            },
        };
        const medium_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                fillColor: "#B9B7BD",
                color : "#B9B7BD",
                opacity: 0.5,
                weight: 2,
                fillOpacity: 0.5,
            },
        };
        const large_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                fillColor: "#B9B7BD",
                color : "#B9B7BD",
                opacity: 0.5,
                weight: 3,
                fillOpacity: 0.5,
            },
        };
        const gas_fields_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                fillColor: "#8B0000",
                color : "#8B0000",
                opacity: 0.25,
                weight: 2,
                fillOpacity: 0.25,
            },
        };
        // Custom functions
        const get = async (url) => {
            const res = await fetch(url);
            return await res.json();
        };
        const drawCanvasLayer = async (url, _name, options) => {
            const name = _name || "canvas";
            const json = await get(url);
            const canvasLayer = L.gridLayer.geoJson(json, options);//.addTo(map);
            layerControl.addOverlay(canvasLayer, name);
        };
        // Draw the layers
        await drawCanvasLayer(small_pipeline_layer, "Pipelines - Small", small_pipeline_options);
        await drawCanvasLayer(medium_pipeline_layer, "Pipelines - Medium", medium_pipeline_options);
        await drawCanvasLayer(large_pipeline_layer, "Pipelines - Large", large_pipeline_options);
        await drawCanvasLayer(gas_fields_layer, "Gas Fields", gas_fields_options);

        let lat = getQueryStringValue("lat"),
            lng = getQueryStringValue("lng"),
            showInfoOnStart = false;
        data.forEach(function (item, index) {
            try{
                // Check if the facility is virtual
                let color = "#808080";
                if(item.virtual_point === 'yes'){
                    color = get_color('virtual');
                }
                else{
                    color = get_color(item.status);
                }
                let radius = 5;
                let lat_long = [item.latitude, item.longitude];
                let circle = new L.circleMarker(lat_long, {
                    title : item.name,
                    fillOpacity: 0.65,
                    color : color,
                });
                circle.setRadius(radius)
                let label = "<h4>" + item.name + "</h4>";
                // dynamic_label (if exists)
                // Static data table
                // Decrease whitespace between rows
                label += "<div class='info-table'>";
                label += "<table style='margin-bottom: 0; margin-top: 0;'>";
                label += item.dynamic_label;

                for (let key in AGSI_STATIC_LABELS){
                    // If no value, set value to -
                    if (item[key] === undefined || item[key] === 'NaN' || item[key] === 'null' || item[key] === null || item[key].length === 0) {
                        item[key] = "-";
                    }
                    label += "<tr><td>" + AGSI_STATIC_LABELS[key] + '</td><td>';
                    if(key === 'status') label += '<span style="color: ' + color + '">';
                    label += item[key];
                    if(key === 'status') label += '</span>';
                    label += "</td></tr>";
                }
                label += "</table><br>";
                // HREF
                let buttons = '';
                for (let key in AGSI_HREF_LABELS){
                    if (item[key] !== undefined && item[key].length > 1){
                        buttons += "<a href='" + item[key] + "'"+ ' target="_blank" class="btn btn-outline-dark">' + AGSI_HREF_LABELS[key] + " <i class=\"fa-duotone fa-arrow-up-right-from-square\"></i></a>";
                    }
                }
                if(buttons.length > 1) {
                    label += '<div class="btn-group btn-group-sm" role="group">' + buttons + '</div>';
                }
                label += "</div>";
                item.label = label;

                circle.on('click', function(ev) {
                    info.update(item.label)
                });
                let id = parseInt(item.latitude.replace('.', '') + item.longitude.replace('.', ''));
                if(item.latitude === lat && item.longitude === lng) {
                    showInfoOnStart = item.label;
                }

                markersLayer.addLayer(circle);
            }
            catch(e){
                console.log(e)
            }
        });

        jQuery('#textsearch').on('keyup', function(e) {
            controlSearch.searchText( e.target.value );
        });

        let info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this._div.id = 'info-agsi';
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (label) {
            // Show div with id info-agsi
            let close_button = '<button type="button" class="info-close" onclick="jQuery(\'#info-agsi\').hide(); return false;" aria-label="Close" style="float:right; margin: 0; padding: 0; background-color: transparent; border: none; color: #000000; opacity: 0.5;"><span aria-hidden="true">&times;</span></button>'
            if(showInfoOnStart) {
                map.setView([lat, lng], 8);
                this._div.innerHTML = close_button + showInfoOnStart;
                this._div.style = '';
                showInfoOnStart = false;
            } else {
                if(label) {
                    this._div.innerHTML = close_button + label;
                    this._div.style = '';
                } else {
                    this._div.innerHTML = close_button + '<h5>Storage Information</h5>Select a gas storage.';
                    this._div.style = 'display:none;';
                }
            }
        };
        info.addTo(map);

        let legend_color = L.control({ position: "bottomleft" });
        legend_color.onAdd = function (map) {
            let div = L.DomUtil.create('div', 'info legend');
            let grades = ['virtual','operational', 'under construction', 'planned', 'suspended'];
            let labels = ['<strong> Status </strong>'];
            let categories = ['Virtual Storage / Storage Group','Operational', 'Under Construction', 'Planned', 'Suspended'];

            for (let i = 0; i < grades.length; i++) {
                let grade = grades[i];//*0.5;
                labels.push(
                    '<i class="circle"style="background:' + get_color(grade) + '"></i><span>' + categories[i] + '</span>');
            }
            div.innerHTML = labels.join('<br>');
            return div;
        };
        legend_color.addTo(map);


        function getQueryStringValue (key) {
            return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
        }/*
        if(lat && lng) {
            map.setView([lat, lng]);
            let id = parseInt(lat.replace('.', '') + lng.replace('.', ''));
        }*/
    }
</script>