<div id="info">
    <div class="row">
        <div class="col">
            <div id="breadcrumb">Your current selection: {@html currentDataset}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <DataProviders dataProviders={dataProviders} selected={selected} showFacility="false"/>
        </div>
        <div class="col-6">
            <p><strong>Data by Year</strong><br/>
                Please select a region for a detailed graphical comparative overview. Click on a year in the X-axis to
                add/remove a graph line.<br/>
                Additional tools to view, print or download each dataset or visualization are available in the dedicated
                submenu for each graph.</p>
            <div class="row">
                <div class="col-md-12 small text-danger">
                    <p><strong>DATA USAGE :</strong> It is mandatory to credit or mention to GIE (Gas Infrastructure  Europe), AGSI or ALSI as data source when using or repackaging this data</p>
                </div>
                <div class="col-md-12 small">
                    <p>GIE is progressively updating its Transparency Platforms following <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32022R2576&from=EN" target="_blank" rel="noreferrer">Council Regulation (EU) 2022/2576</a> and inputs as received from Storage System Operators (SSOs).</p>
                </div>
            </div>
        <!--
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    {#if URLType === 'filling-levels'}
                        <span class="nav-link active">
                            Storage Filling Levels / EU
                        </span>
                    {:else}
                        <a class="nav-link active" href="/data-visualisation/filling-levels/eu">
                            <i class="fa-solid fa-code-compare"></i> Storage Filling Levels / EU
                        </a>
                    {/if}
                </li>
                <li class="nav-item" role="presentation">
                    {#if URLType === 'filling-levels-region'}
                        <span class="nav-link active">
                            Storage Filling Levels / Region / Operator
                        </span>
                    {:else}
                        <a class="nav-link active" href="/data-visualisation/filling-levels-region/eu">
                            Storage Filling Levels / Region / Operator
                        </a>
                    {/if}
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/data-visualisation/filling-levels/eu">
                        <i class="fa-solid fa-gauge-high"></i>
                        Filling Levels
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/data-visualisation/maps">
                        <i class="fa-solid fa-map"></i>
                        Maps
                    </a>
                </li>
            </ul>
        -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 highcharts-multiple">
        {#if URLType === 'filling-levels' }
            <div id="highcharts-comparison-full" style="height: {height};"></div>
            <div class="loading">
                <h3>Loading data</h3>
                <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
            </div>
        {:else}
            <div id="highcharts-comparison-netwithdrawal" style="height: {height};"></div>
            <div class="loading">
                <h3>Loading data</h3>
                <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
            </div>
        {/if}
    </div>
</div>
<script>
    import DataProviders from './_components/DataProvidersDropdown.svelte';
    import {onMount} from "svelte";
    import moment from 'moment';

    let height = '600px';
    //TODO: min/max not working on company level

    const data_visualisation = document.getElementById('dataVisualisation');
    let url = data_visualisation.getAttribute('data-url'),
        params = data_visualisation.getAttribute('data-params'),
        paramObj = new URLSearchParams(params),
        URLType = paramObj.get('type'),
        currentDataset = '',
        dataProviders = [],
        selected, selectBox,
        format = 'YYYY-MM-DD',
        now = moment(),
        //currentGasDay = ((now.format('HH:mm') < '18:30') ? now.subtract(2, 'days') : now.subtract(1, 'days')),
        //to = currentGasDay.format(format),
        currentURL, pageURL = '/data-visualisation/' + URLType + '/',
        to,
        from = moment('2011-01-01').format(format);//moment('2022-07-01').format(format);

    console.log(URLType);

    const SIZE_LIMIT = 3000;

    const ABOUT_CODES = {
        'EU': {
            name: 'Europe',
            countries: {
                'AT': 'Austria',
                'BE': 'Belgium',
                'BG': 'Bulgaria',
                'HR': 'Croatia',
                'CZ': 'Czech Republic',
                'DK': 'Denmark',
                'FR': 'France',
                'DE': 'Germany',
                'HU': 'Hungary',
                'IE': 'Ireland',
                'IT': 'Italy',
                'LV': 'Latvia',
                'NL': 'Netherlands',
                'PL': 'Poland',
                'PT': 'Portugal',
                'RO': 'Romania',
                'SK': 'Slovakia',
                'ES': 'Spain',
                'SE': 'Sweden',
                'GB': 'United Kingdom'
            }
        },
        'NE': {
            name: 'Non-EU',
            countries: {
                'GB*': 'United Kingdom',
                'UA': 'Ukraine'
            }
        }
    };

    let units = {
        gasInStorage: {
            unit: ' TWh'
        },
        injection: {
            unit: ' GWh/d'
        },
        netWithdrawal: {
            unit: ' GWh/d'
        },
        withdrawal: {
            unit: ' GWh/d'
        },
        withdrawalCapacity: {
            unit: ' GWh/d'
        },
        injectionCapacity: {
            unit: ' GWh/d'
        },
        workingGasVolume: {
            unit: ' TWh'
        },
        full: {
            unit: '%'
        },
        trend: {
            unit: ' '
        }
    };

    let current_year_color = '#87bf5e';
    let sonnem_theme = {
        // Dutchmasters milkmaid colors: https://github.com/EdwinTh/dutchmasters
        colors: [
            //"#87bf5e",
            "#25777b",
            "#f7a35c",
            "#b851e8",
            "#8085e9",
            "#89441e",
            "#e1d166",
            "#f9a3fc",
            "#246fb6",
            "#fb8994",
            "#df4b2f",
            "#adf557",
            "#b5b4b4",
            "#2f2838",
            "#65c8dd",
            "#658fdd",
            "#f548c6",
            "#39b2b8",
            "#39b84e",
            "#d0da32",
        ],

        chart: {
            style: {
                color: "#777"
            }
        },
        title: {
            style: {
                color: "black",
                fontWeight: "bold"
            }
        },
        yAxis: {
            gridLineDashStyle: "Dot",
            gridLineColor: "#CEC6B9",
            lineColor: "#CEC6B9",
            minorGridLineColor: "#CEC6B9",
            labels: {
                align: "left",
                x: 0,
                y: -2,
                format: "{value}"
            },
            tickLength: 0,
            tickColor: "#CEC6B9",
            tickWidth: 1,
            title: {
                style: {
                    color: "#74736c"
                }
            }
        },
        credits: {
            style: {
                color: "#666"
            }
        },
        labels: {
            style: {
                color: "#D7D7D8"
            }
        }
    };
    // SET theme
    Highcharts.setOptions(sonnem_theme);

    const basic_options = {
        chart: {
            zoomType: 'x'
        },
        title: {
            useHTML: true,
            style: {'text-align': 'center'}
        },

        exporting: {enabled: true},

        plotOptions: {
            series: {
                color: 'grey',
                lineWidth: 1,
                marker: {enabled: false},
            }
        },
        credits: {
            text: 'Source: Gas Infrastructure Europe (GIE) | Attribution: Sonnem Holding B.V.',
            href: 'javascript:window.open("https://www.sonnem.tk", "_blank")',
            style: {
                color: '#303030'
            }
        },

        legend: {
            enabled: true,
            symbolWidth: 40
        },
        navigator: {
            enabled: true,
            series: {
                fillOpacity: .05,
            }
        },
        scrollbar: {
            enabled: false
        },
        rangeSelector: {
            enabled: true
        },

        series: {
            states: {
                hover: {
                    enabled: false
                }
            }
        },

        tooltip: {
            enabled: true,
            split: true,
            useHTML: true
        },

        time: {
            useUTC: true
        },
        yAxis: {
            opposite: false
        }
    }
    const comparison_line_options = {

        chart: {
            type: 'line',
            zoomType: 'x'
        },

        xAxis: {
            title: {enabled: false},
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%d %b', this.value);
                }
            },
        },
        scrollbar: {enabled: false},
        navigator: {enabled: false},
        rangeSelector: {enabled: false},

        yAxis: {
            opposite: false
        }
    };

    async function getData() {
        const response_data_providers = await fetch(url + '/about', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();

        selectBox = jQuery('.select2').select2ToTree().on('select2:select', function (e) {
            let data = e.params.data;
            selected = data.id;
            window.location.href = pageURL + selected;
        });

    }

    onMount(async function () {
        if (params === '?') {
            //nothing selected, redirect to EU
            window.location.href = pageURL + 'eu';
        }
        await getData();
        currentURL = window.location.href.split(pageURL)[1];
        selectBox.val(currentURL.toUpperCase()).trigger('change');

        params = parseParams(params.split('?')[1]);
        await initialize();
    });

    /**
     * Initializes the page and the charts, called when the page is loaded. Also called when the user changes the parameters.
     */
    async function initialize() {
        await redraw_agsi_dashboard();
    }

    let charts = [
        'highcharts-underlying-full',
        'highcharts-underlying-netwithdrawal'
    ];

    /**
     * Draws the AGSI dashboard (multichart, comparison and underlying), requests data from the facility, company, country or region selected.
     * In addition to this, it also requests data from the underlying countries (when region is selected), and the underlying facilities (when country or company is selected).
     *
     */
    async function redraw_agsi_dashboard() {
        // Initialize what facilities to retrieve
        let master_selection = [
            {
                'continent': params.continent,
                'facility': params.facility,
                'country': params.country,
                'company': params.company
            }
        ];
        // Get all underlying selections (company, facilities, etc) from the master selection


        let master_raw_data = await get_agsi_data(master_selection, from, to);
        let subtitle = master_raw_data[0].metadata.dataset;

        // Get comparison charts
        let comparison_data = prepare_visualisation_comparison_agsi(master_raw_data[0].data);

        if(URLType === 'filling-levels') {
            build_agsi_comparison_chart('highcharts-comparison-full', comparison_data.comparison.full.series, params, 'full', 'Storage Filling Levels', subtitle);
        } else {
            build_agsi_comparison_chart('highcharts-comparison-netwithdrawal', comparison_data.comparison.netWithdrawal.series, params, 'netWithdrawal', 'Storage Net Withdrawal', subtitle);
        }
    }

    /**
     * Processes the basic_data obtained from one facility, company, country or region and prepares it for the comparison chart.
     * It uses 2020 as the reference year and everything will be converted to this year. It is therefore important that in the highchart settings, only month and day are used on x-axis.
     *
     * @param basic_data
     */
    function prepare_visualisation_comparison_agsi(basic_data) {
        // Create array of series for comparison charts
        // Get last n years
        //let n_years = 5;
        let n_years = moment().diff(from, 'years');
        let current_year = now.year();
        let show_years = 5,
            color, lineWidth;

        let comparison = {
            full: {
                range: {},
                series: []
            },
            gasInStorage: {
                range: {},
                series: []
            },
            injection: {
                range: {},
                series: []
            },
            withdrawal: {
                range: {},
                series: []
            },
            netWithdrawal: {
                range: {},
                series: []
            },
            trend: {
                range: {},
                series: []
            }
        };

        // Initialize the data series...
        for (let i = 0; i <= n_years; i++) {
            if (current_year - i === current_year) {
                color = current_year_color;
                lineWidth = 3;
            } else {
                color = undefined;
                lineWidth = 1;
            }

            for (let variable in comparison) {
                comparison[variable].series.push({
                    name: current_year - i,
                    data: [],
                    color: color,
                    lineWidth: lineWidth,
                    tooltip: {'valueSuffix': units[variable].unit},
                    visible: i <= show_years,
                });
            }
        }

        let gas_date;
        for (let i = basic_data.length - 1; i >= 0; --i) {
            gas_date = new Date(basic_data[i].gasDayStart);
            // Add 1 day and set hours to 0 to get the next day
            gas_date.setDate(gas_date.getDate() + 1);
            gas_date.setHours(0, 0, 0, 0);

            // Change to year 2000 for comparison purposes
            let comparison_gas_date_unprocessed = 2020 + "-" + (gas_date.getMonth() + 1) + "-" + gas_date.getDate();
            // Parse to IOS safe date
            let comparison_gas_date = Date.parse(comparison_gas_date_unprocessed.replace(/-/g, "/"));
            
            // Check what year the data is from, and push the index to the correct array
            let index = -(gas_date.getFullYear() - current_year); // e.g. 2022-2019 is --3=3
            if (index >= 0 && index <= n_years) {
                // Iterate over the comparison variables
                for (let variable in comparison) {
                    comparison[variable].series[index].data.push([
                        comparison_gas_date,
                        basic_data[i][variable]
                    ]);
                }
            }

            // Save the range for the comparison charts - min, max
            for (let variable in comparison) {
                if (comparison[variable].range[comparison_gas_date] === undefined) {
                    comparison[variable].range[comparison_gas_date] = {
                        min: basic_data[i][variable],
                        max: basic_data[i][variable]
                    };
                } else {
                    if (comparison[variable].range[comparison_gas_date].min > basic_data[i][variable]) {
                        comparison[variable].range[comparison_gas_date].min = basic_data[i][variable];
                    }
                    if (comparison[variable].range[comparison_gas_date].max < basic_data[i][variable]) {
                        comparison[variable].range[comparison_gas_date].max = basic_data[i][variable];
                    }
                }
            }


        }

        // https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/arearange-line

        // Change the range for the comparison charts from a dictionary to an array
        // Initialize and fill the array with the min and max values for each year
        for (let variable in comparison) {
            let data_to_push = [];
            // Sort the dictionary by date
            let sorted_range = Object.keys(comparison[variable].range).sort();

            // Iterate over the sorted range dictionary
            for (let i = 0; i < sorted_range.length; i++) {
                data_to_push.push([
                    parseInt(sorted_range[i]),
                    comparison[variable].range[sorted_range[i]].min,
                    comparison[variable].range[sorted_range[i]].max
                ]);
            }
            // Push the array to the comparison variable
            comparison[variable].series.push({
                name: 'Historical Max/Min (since 2011)',
                data: data_to_push,
                type: 'arearange',
                lineWidth: 0.5,
                //linkedTo: ':previous',
                color: '#808080',
                fillOpacity: 0.05,
                zIndex: 0,
                visible: false,
                tooltip: {'valueSuffix': units[variable].unit}
            });
        }
        return {'comparison': comparison};
    }


    /**
     * Processes the underlying_raw_data obtained from all facilities, or countries and prepares it for the underlying charts.
     * @param underlying_raw_data
     *
     * @returns  {{underlying: {gasInStorage: {series: *[]}, trend: {series: *[]}, withdrawal: {series: *[]}, netWithdrawal: {series: *[]}, injection: {series: *[]}, full: {series: *[]}}}} underlying_data_rearranged
     */
    function prepare_visualisation_underlying_agsi(underlying_raw_data) {

        let underlying = {
            full: {
                series: []
            },
            gasInStorage: {
                series: []
            },
            injection: {
                series: []
            },
            withdrawal: {
                series: []
            },
            netWithdrawal: {
                series: []
            },
            trend: {
                series: []
            }
        };

        let visible;
        for (let i = 0; i < underlying_raw_data.length; i++) {
            let selected_data = underlying_raw_data[i];
            for (let variable in underlying) {
                // Visible only when i below 5 (i.e. only show the first 5 facilities)
                visible = i < 5;


                // Initialize array
                underlying[variable].series.push({
                    name: selected_data.name,
                    data: [],
                    tooltip: {'valueSuffix': units[variable].unit},
                    color: undefined,
                    lineWidth: 1,
                    visible: visible
                });

                // Iterate from end of array to begin at 0. This is to make sure the data is in the correct order.
                for (let j = selected_data.data.length - 1; j >= 0; --j) {
                    underlying[variable].series[i].data.push([
                        selected_data.data[j].gasDayStart,
                        selected_data.data[j][variable]
                    ]);
                }


            }

        }

        return {'underlying': underlying};
    }


    /**
     * Builds the most simple line chart, based on the data provided.
     * @param content_id The id of the div where the chart will be placed.
     * @param series The data to be used in the chart.
     * @param parameters The parameters to be used in the chart.
     * @param variable The variable to be used in the chart.
     * @param title The title of the chart.
     * @param subtitle The subtitle of the chart.
     */
    function build_agsi_line_chart(content_id, series, parameters, variable, title, subtitle) {
        let unit = units[variable].unit,
            yAxisOptions;
        if (unit === '%') {
            yAxisOptions = {
                title: {
                    text: variable + '</br>(' + unit + ')'
                },
                min: 0,
                max: 100,
                tickPositions: [0, 25, 50, 75, 100],
                plotLines: [{value: 0, zIndex: 10, width: 1, color: '#000'}]
            }
        } else {
            yAxisOptions = {
                title: {
                    text: variable + '</br>(' + unit + ')'
                }
            }
        }

        Highcharts.stockChart(content_id, Highcharts.merge(basic_options, {
                chart: {
                    events: {
                        load: function () {
                            jQuery('#' + content_id + ' + .loading').hide();
                            jQuery('#detailed-tab').prop('disabled', false);
                            jQuery('#detailed-tab .fa-spinner').hide();
                            jQuery('#detailed-tab .fa-magnifying-glass-chart').show();
                        }
                    }
                },
                title: {
                    text: title
                },
                subtitle: {
                    text: subtitle
                },
                navigator: {
                    enabled: true
                },
                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Date'
                    },
                    events: {
                        beforeSetExtremes: function (e) {
                            jQuery('#' + content_id + ' + .loading').show();
                            setTheExtremes(this, content_id);
                        },
                        afterSetExtremes: function (e) {
                            jQuery('#' + content_id + ' + .loading').hide();
                            setTheExtremes(this, content_id);
                        },

                    },
                },
                yAxis: yAxisOptions,
                legend: {
                    enabled: true
                },
                series: series,
                rangeSelector: {
                    inputEnabled: true, // it supports only days
                    selected: 1 // 3m
                },
                exporting: {
                    csv: {
                        dateFormat: '%Y-%m-%d',
                        decimalPoint: ',',
                    },
                },
            })
        );
    }

    let token = -1;

    function setTheExtremes(thisChart, content_id) {
        jQuery.each(charts, function (index, value) {
            if (token !== index) {
                let chart = jQuery('#' + value).highcharts();
                chart.xAxis[0].setExtremes(thisChart.min, thisChart.max);
            } else {
                token = index;
            }
        });
    }

    /**
     * Build a comparison chart, based on the data provided. This is a line chart with a range chart on top.
     * @param  content_id The id of the div where the chart will be placed.
     * @param  series The data to be used in the chart.
     * @param  parameters The parameters to be used in the chart.
     * @param  variable The variable to be used in the chart.
     * @param  title The title of the chart.
     * @param  subtitle The subtitle of the chart.
     */
    function build_agsi_comparison_chart(content_id, series, parameters, variable, title, subtitle) {
        let unit = units[variable].unit,
            yAxisOptions = {};
        if (unit === '%') {
            yAxisOptions = {
                title: {
                    text: variable + '</br>(' + unit + ')'
                },
                min: 0,
                max: 100,
                tickPositions: [0, 25, 50, 75, 100],
                plotLines: [{value: 0, zIndex: 10, width: 1, color: '#000'}]
            }
        } else {
            yAxisOptions = {
                title: {
                    text: variable + '</br>(' + unit + ')'
                }
            }
        }

        Highcharts.stockChart(content_id, Highcharts.merge(basic_options, comparison_line_options, {
            chart: {
                events: {
                    load: function () {
                        jQuery('#' + content_id + ' + .loading').hide();
                    }
                }
            },
            title: {
                text: title
            },
            subtitle: {
                text: subtitle
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            yAxis: yAxisOptions,
            legend: {
                enabled: true
            },
            series: series
        }));
    }

    /**
     * Gets the underlying data from the master selection. This is used to build the charts.
     * TODO: THIS IS NOT DYNAMIC, IF NEW COUNTRIES ARE ADDED, ABOUT_CODES NEED TO BE UPDATED! We can also just query the countries from about...
     * @param  master_selection The master selection.
     * @param  start_date The start date of the data.
     * @param  end_date The end date of the data.
     *
     * @returns The data to be used in the chart.
     */
    async function get_agsi_data_underlying(master_selection, start_date, end_date) {
        let naming_convention = 'facility';
        // Dissect the master selection to get the parameters
        let selection_list = [];
        // Append two lists
        let country_codes = Object.keys(ABOUT_CODES['EU']['countries']).concat(
            Object.keys(ABOUT_CODES['NE']['countries'])
        );


        // If we have a continent, we will select all countries in the continent.
        if (master_selection.continent !== undefined && master_selection.country === undefined) {
            let countries_full = Object.keys(ABOUT_CODES[master_selection.continent].countries).sort()
            for (let i = 0; i < countries_full.length; i++) {
                selection_list.push({
                    'country': countries_full[i],
                    'name': countries_full[i]
                });
            }
            naming_convention = 'continent';
        }
        //Otherwise, if we have a country we will select all facilities within a country.
        else if (master_selection.country !== undefined && master_selection.company === undefined && master_selection.facility === undefined) {
            // Retrieve AGSI about
            //let about_data = await query_agsi_about();
            // In which continent is this country located? (EU or NE)
            const continent_key = master_selection.country in ABOUT_CODES['EU'].countries ? 'EU' : 'NE';
            const continent_full = ABOUT_CODES[continent_key].name;
            const country_full = ABOUT_CODES[continent_key].countries[master_selection.country];
            // Retrieve the list of facilities in this country
            /*console.log(dataProviders);
        console.log(continent_full);
        console.log(country_full);
        */
            let about_data_filtered = dataProviders['SSO'][continent_full][country_full];

            for (let i = 0; i < about_data_filtered.length; i++) {
                let company = about_data_filtered[i];
                for (let j = 0; j < company.facilities.length; j++) {
                    let facility = company.facilities[j];
                    let selection = {
                        'country': master_selection.country,
                        'company_name': company.name,
                        'company': company.eic,
                        'facility_name': facility.name,
                        'facility': facility.eic,
                        'name': facility.name
                    };
                    selection_list.push(selection);
                }
            }
        }
        // Otherwise, if we have a company we will select all facilities within a company.
        else if (master_selection.country !== undefined && master_selection.company !== undefined && master_selection.facility === undefined) {
            // Retrieve AGSI about
            //let about_data = await query_agsi_about();
            // In which continent is this country located? (EU or NE)
            const continent_key = master_selection.country in ABOUT_CODES['EU'].countries ? 'EU' : 'NE';
            const continent_full = ABOUT_CODES[continent_key].name;
            const country_full = ABOUT_CODES[continent_key].countries[master_selection.country];
            // Retrieve the list of facilities in this country
            let about_data_filtered = dataProviders['SSO'][continent_full][country_full];

            for (let i = 0; i < about_data_filtered.length; i++) {
                let company = about_data_filtered[i];

                if (company.eic === master_selection.company) {
                    for (let j = 0; j < company.facilities.length; j++) {
                        let facility = company.facilities[j];
                        let selection = {
                            'country': master_selection.country,
                            'company_name': company.name,
                            'company': company.eic,
                            'facility_name': facility.name,
                            'facility': facility.eic,
                            'name': facility.name
                        };
                        selection_list.push(selection);
                    }
                }
            }
        }
        // Otherwise, if we have a facility we will return the same as there is no real extra value...
        else {
            selection_list = [{
                'country': master_selection.country,
                'company_name': master_selection.company_name,
                'company': master_selection.company,
                'facility_name': master_selection.facility_name,
                'facility': master_selection.facility,
                'name': 'Facility'
            }];
        }

        // Retrieve the data for each selection
        let data = await get_agsi_data(selection_list, start_date, end_date);

        /*/ Add the names to the data
    for (let i = 0; i < data.length; i++) {
        data[i].name = selection_list[i].name;
    }*/

        // Do the naming convention
        if (naming_convention === 'continent') {
            for (let i = 0; i < data.length; i++) {
                data[i].name = data[i].country;
            }
        }
        if (naming_convention === 'facility') {
            for (let i = 0; i < data.length; i++) {
                data[i].name = data[i].facility;
            }
        }

        return data;
    }

    /**
     * Get AGSI data for the given selection.
     * @param  selection_list The list of selections to query.
     * @param  start_date The start date of the data.
     * @param  end_date The end date of the data.
     *
     * @returns The data for the given selection.
     */
    async function get_agsi_data(selection_list, start_date, end_date) {
        let data = [];

        await Promise.all(selection_list.map(async selection =>
                query_agsi_data(selection.continent, selection.country, selection.company, selection.facility, start_date, end_date
                ).then(selection_data => preprocess_agsi_data(selection_data)
                    // Push the data to an array as dictionary with the key being the facility.company
                ).then(results => data.push(
                        {
                            'company': selection.company_name,
                            'country': selection.country,
                            'facility': selection.facility_name,
                            'continent': selection.continent,
                            'data': results.data,
                            'metadata': results.metadata
                        }
                    )
                )
            )
        );

        return data;
    }

    /**
     * Queries the AGSI data for the given selection.
     * @param  continent The continent of the selection.
     * @param  country The country of the selection.
     * @param  company The company of the selection.
     * @param  facility The facility of the selection.
     * @param  start_date The start date of the data.
     * @param  end_date The end date of the data.s
     *
     * @returns The data for the given selection.
     */
    async function query_agsi_data(continent, country, company, facility, start_date, end_date) {
        let params = {
            "from": start_date,
            "size": SIZE_LIMIT
        }
        if (end_date) {
            params.to = end_date;
        }
        if (continent) {
            params.continent = continent;
        }
        if (country) {
            params.country = country;
        }
        if (company) {
            params.company = company;
        }
        if (facility) {
            params.facility = facility;
        }

        //console.log(params);
        // Initialize data array
        let data = {};

        // Let us load in the first page, and get the total number of pages
        let url_params = Object.keys(params).map(key => key + '=' + params[key]).join('&');
        let url_fetch = url + "?" + url_params + '&page=1';
        let response = await fetch(url_fetch, {
            method: 'GET',
        });

        let parsed = await response.json();
        // Meta data
        let dataset = parsed.dataset.replace(/data-overview/g, 'data-visualisation/preview');
        // First page
        data[1] = parsed.data;

        let last_page = parsed.last_page;
        // If we have more than one page, we will load in the rest of the pages.
        if (last_page > 1) {
            // Start at number 2, because we already have the first page
            let pages = Array(last_page - 1).fill(0).map((x, i) => i + 2);
            // Multithreaded fetching of data (https://stackoverflow.com/questions/59037553/fetch-multiple-urls-at-the-same-time)
            await Promise.all(pages.map(page =>
                fetch(
                    url + "?" + Object.keys(params).map(key => key + '=' + params[key]).join('&') + "&page=" + page
                ).then(resp => resp.json()
                    // Save the data in the data dictionary with its corresponding page.
                ).then(results => data[page] = results.data)));
        }

        // Flatten the data dictionary into an array
        let data_array = Object.keys(data).map(key => data[key]).flat(1);
        return {
            metadata: {
                'first_page': url_fetch,
                'dataset': dataset,
                'start_date': start_date,
                'end_date': end_date,
                'size': SIZE_LIMIT,
                'last_page': last_page
            },
            data: data_array
        }
    }

    /**
     * Preprocesses the AGSI data.
     * @param selection_data
     *
     * @returns The data for the given selection.
     */
    function preprocess_agsi_data(selection_data) {
        let unprocessed_data = selection_data.data;
        let metadata = selection_data.metadata;
        if (currentDataset.length === 0) {
            currentDataset = metadata.dataset.replace(/graphs/g, pageURL.replace('/', '').replace(/.$/, ''));
        }

        let variables = ['gasDayStart', 'full', 'gasInStorage', 'injection', 'injectionCapacity', 'trend', 'workingGasVolume', 'netWithdrawal', 'withdrawal', 'withdrawalCapacity'];
        // Turn the data into a dictionary with gasDayStart as key and the rest as values
        let processed_data = [];
        for (let i = 0; i < unprocessed_data.length; i++) {

            let day_data = {};
            for (let j = 0; j < variables.length; j++) {
                let variable = variables[j];
                if (variable === 'gasDayStart') {
                    day_data[variable] = Date.parse(unprocessed_data[i][variable]);
                } else {
                    day_data[variable] = parseFloat(unprocessed_data[i][variable]);
                }
            }
            processed_data.push(day_data);
        }

        return {
            'data': processed_data,
            'metadata': metadata
        };
    }


    function decode(str) {
        return decodeURIComponent(str.replace(/\+/g, " "));
    }

    function parseParams(string) {
        let re = /([^&=]+)=?([^&]*)/g;
        let params = {}, e;
        while (e = re.exec(string)) {
            let k = decode(e[1]), v = decode(e[2]);
            if (k.substring(k.length - 2) === '[]') {
                k = k.substring(0, k.length - 2);
                (params[k] || (params[k] = [])).push(v);
            } else params[k] = v;
        }
        return params;
    }
</script>