<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Data Usage Rules & Source Referral</h5>
            <h6>Use and redistribution of GIE Transparency Platform data</h6>
            <p>
                All data published on GIE Transparency Platforms is (and will remain) available to the public free of charge and is also provided for free through our API service. <br/>
                Data can be used, embedded, grouped, repackaged, divulged in any way, shape or format you see fit on the explicit condition that a clear indication on GIE as data source is mandatory.
            </p>

            <h6>Source referral mandatory</h6>
            <p>
                A mention / credit to GIE, AGSI or ALSI (as applicable) as data source is a minimum requirement. <br/>
                Example : indicate GIE (Gas Infrastructure Europe) or GIE AGSI / ALSI as data source underneath the data or insert (AGSI/ALSI/GIE) in the name of your datafeed / data ticker.
            </p>
            <p>
                Indicating “GIE” or “Gas Infrastructure Europe (GIE)” or “AGSI” or “ALSI” or “GIE AGSI” / “GIE ALSI’ as your data source is all considered fit for purpose.
            </p>
            <p>
                For usage in data / commodity tickers (when repackaging our data), please include “GIE’ in the ticker name, in those cases where a direct source referral is not possible
            </p>

            <h6>Recalling API access in case of breach on terms of usage</h6>
            <p>
                GIE checks on this and if we would not see such source referral, GIE reserves its right to withdraw/recall your API access key (prior notice will be provided). <br/>
                Upon registration for our (free) API service, you will also find this is a checkbox you need to click and consent to prior to activation of your account.
            </p>

            <h6>API service</h6>
            <p>
                All data is provided for free, <a href="/login">login or register here</a>.
            </p>

            <h6>Contact</h6>
            <p>
                For data inquiries, please contact us via <a href="mailto:transparency@gie.eu">transparency@gie.eu</a><br/>
                For API related inquiries, please contact us via <a href="mailto:api@gie.eu">api@gie.eu</a>
            </p>
        </div>
        <div class="col-4">
            <Inquiries/>
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";
    import Inquiries from "./_components/Inquiries.svelte";

    const dataProviders = document.getElementById('data-usage');
    const apiURL = dataProviders.getAttribute('data-url') + '/about' + dataProviders.getAttribute('data-params');
    let promise = Promise.resolve([]);

    async function getData() {
        const response = await self.fetch(apiURL, {
            method: 'GET'
        });
        return response.json();
    }

    onMount(async function () {
        promise = getData();
    });
</script>
