
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Additional Data Sources</h5>
            <p>
                GIE is also providing related data such as the Storage Map and Storage Investment Database at <a href="https://www.gie.eu/publications/maps/" target="_blank">https://www.gie.eu/publications/maps/</a>
            </p>
            <h5>Gas Day Definition</h5>
            <p>
                “Gas day’ means the period from 5:00 to 5:00 UTC the following day for winter time and from 4:00 to 4:00 UTC the following day when daylight saving is applied. Gas day is to be interpreted as UTC+1 for CET or UTC+2 in summer time for CEST. (Definition: see CAM Network Code specifications)
            </p>
            <h5>News Updates</h5>
            <p>
                AGSI offers you the possibility to be kept up to date whenever a new Service Announcemement or update from one of our data providers is posted on the website. Please provide your contact details using the subscription form, and you will be informed by e-mail whenever news or updates are made available.
            </p>
            <h5>Publication Date And Timing</h5>
            <p>
                The data represents gas in storage at the end of the previous gas day. Data is updated every day at 19:30 CET and a second time at 23:00. Some SSO are not able to provide their data before 19:30 but it will be included in the second processing run at 23:00.
            </p>
            <h5>REMIT For Storage</h5>
            <p>
                For fundamental data reporting to the ACER REMIT Information System (ARIS), please see <a href="http://www.gie.eu/remit/" target="_blank">http://www.gie.eu/remit/</a>
            </p>
            <h5>Units Of Measurement</h5>
            <p>
                Energy units: based on GCV. For GCV, energy and Wobbe-index the default combustion reference temperature is 25 °C (normalised) (Definition : see INT Network Code specifications)
            </p>
            <h5>Ukrainian Datasets</h5>
            <p>
                <strong>PJSC Ukrtransgaz</strong> is now providing data to the AGSI platform in energy units, following REMIT specifications.<br/>
                All data since 01.01.2017 is converted on SSO side, measured at 25 °C combustion temperature. New historical data has been received since 01.01.2017 – additional adjusted historical data is expected for 2016.
            </p>
            <p>
                Please be informed that the data for UGS Verhunske is currently not available – as this UGS is located in occupied territory. New data for UGS Verhunske is expected, and will be based on the last known quantities, converted to energy units.
            </p>
            <p>
                The Ukrainian data is available since 29/04/2014. Any data prior to 2017 is currently based on historical data in mcm – converted using a fixed conversion factor of 11,4 [kWh/Nm³].
            </p>
            <h5>Datasets</h5>
            <p>
                The published datasets are based on the EIC code mapping table provided to ACER. Storage data is aggregated by company, and country. The individual storage facility or storage groups are indicated as either UGS (Underground Gas Storage) or VGS (Virtual Gas Storage = storage group).
            </p>
            <h5>Footnote</h5>
            <Footnote/>
            <h5>AGSI Historical Data Coverage</h5>
            <p>
                For transparency purposes : an overview of historical data status on AGSI is available here <a href="http://www.gie.eu/REMIT/download/DATA_STATUS_AGSI_30112016.xlsx" target="_blank">AGSI historical data status - 30/11/2016</a>
            </p>
            <p>
                <u>Important : Only the data coverage received since 7 April 2016 (data provided under REMIT) is complete for the SSO we are allowed to publish data for.</u>
            </p>
            <p>
                Any data prior to 7 April 2016 (historical datasets, going back to 01/01/2011) are in some cases still incomplete.
            </p>
            <p>
                This because some SSO have not yet been able to provide all required historical data (in energy units).
                Please note that it is only a legal requirement for SSO to provide data under REMIT since 7 April 2016.
                Any data prior to 7 April 2016 is provided on a voluntary basis, GIE has requested the SSO to provide this historical data, to further improve our data coverage.
            </p>
            <p>
                For analysts :
            </p>
            <p>
                <u>Data analysis is ALWAYS best done on the FACILITY datasets.</u> GIE only receives data on storage facility level.
                <u>If using the AGGREGATED country and Europe datasets, the data coverage as indicated in this file needs to be taken into account.</u>
            </p>
            <p>
                Green = data is present and published on AGSI
                Orange = data is not received, or cannot be published on AGSI
                Red = historical data is missing, because the SSO still needs to provide it, because the storage facility was not yet operational, or because the storage facility has been decommissioned
            </p>
            <p>
                Any missing or incomplete data is be visible on AGSI using dashes.
            </p>
            <h5>Clarification On Differences New / Old AGSI Publication</h5>
            <p>
                On 9 August 2016 the AGSI website has been relaunched and is since publishing its data directly in energy units rather than volume.
            </p>
            <p>
                We are receiving data from SSO directly in energy units, so there is no conversion done by GIE. All data conversions have been done on SSO side. A standard conversion is not applicable : conversion factors can change every day, differ by storage type, storage facility, gas quality, … The only data GIE has converted is  Ukrainian data prior to 2017 using a fixed conversion factor of 11,4 [kWh/Nm³].
            </p>
            <p>
                Since 7 April 2016, all European SSO are legally obliged to provide their data on a daily basis in energy units, under the REMIT Directive (see <a href="https://www.gie.eu/transparency/remit-for-lng-storage/" target="_blank">https://www.gie.eu/transparency/remit-for-lng-storage/</a>). The Press Release GIE sent related to the launch of the new platform can be found at : http://www.gie.eu/events/email/GIE_pressrelease_newAGSI-ALSI.html
            </p>
            <p>
                Caution in case you would be trying to compare old AGSI with new AGSI:
            </p>
            <ul>
                <li>New AGSI in energy units publishes a lot more SSO, which were not part of old AGSI before. For example in Germany we BES, DEA, Eneco, EWE, KGE, Nuon, Statoil, TEP, Trianel, GSA, VNG, .. have been added.</li>
                <li>These SSO are publishing more facilities (several examples of that)</li>
                <li>Some facilities have moved to other SSO that are not publishing on AGSI (for example UGS Stockstadt and Hahnlein have been sold to MND)</li>
                <li>Some storage groups have been redefined in its composition, and there are also new storage groups comprised or added to the data publication (Austria, Germany, Poland ...)</li>
                <li>REMIT obligations for SSO started only on 7 April 2016. Any historical data prior to that had to be collected from GIE and you will find that the majority of the historical data is present but not yet all of it. This is best reflected in the WGV coverage (black line in graphs)</li>
            </ul>
            <p>
                Specific remark : UK data on new AGSI has a totally different composition :
            </p>
            <ul>
                <li>Old AGSI UK dataset = Centrica Storage + National Grid LNG + Scottish Power + SSE + EDF + Star Energy</li>
                <li>New AGSI UK dataset = SSE + Storengy UK + Uniper Energy Storage</li>
            </ul>
        </div>
        <div class="col-4">
            <h6>
                Inquiries
            </h6>
            <p>
                For inquiries, please contact GIE at:
            </p>
            <p>
                Gas Infrastructure Europe (GIE)<br />
                Avenue de Cortenbergh 100<br />
                1000 Brussels<br />
                Belgium<br />
                T +32 2 209 05 00<br />
                transparency@gie.eu
            </p>
        </div>
    </div>
</div>

<script>
    import Footnote from "./_components/Footnote.svelte";
</script>
