{#if preview}
<div id="info">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="/data-visualisation/preview/eu" class="nav-link">
                        <i class="fa-solid fa-code-compare"></i> Data by Year
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="detailed-tab" data-bs-toggle="tab" data-bs-target="#detailed-tab-pane" type="button" role="tab" disabled>
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        Data by Region / Operator
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/data-visualisation/preview/filling-levels" class="nav-link">
                        <i class="fa-solid fa-gauge-high"></i>
                        Filling Levels
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/data-visualisation/preview/maps" class="nav-link">
                        <i class="fa-solid fa-map"></i>
                        Maps
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/data-visualisation/preview/flows" class="nav-link active">
                        <i class="fa-solid fa-wind"></i>
                        Flows
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="height: 100%; min-height: 2570px;">
    <div style="position: relative">
        <iframe src="https://www.gasparency.com/_flow_gie_template" title="Flows" style="height:100%; width: 100%; background-color: white; z-index: 1; position: relative;"></iframe>
        <div class="loading" style="position: absolute; top: 0; width: 100%; text-align: center">
            <h3>Loading data</h3>
            <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
        </div>
    </div>
</div>
{/if}
<script>
    const flows = document.getElementById('flows');

    let preview = jQuery(location).attr('href').indexOf('preview') >= 0;
</script>