{#if isThis }
<div id="info">
    <div class="row">
        <div class="col">
            <div id="breadcrumb">Your current selection: {@html dataset}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <DataProviders selected={selected} dataProviders={dataProviders}/>
        </div>
        <div class="col-6">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="/data-overview/{currentURL}" class="nav-link">
                        <i class="fa-regular fa-timeline-arrow"></i> Historical Data
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/data-overview/graphs/{currentURL}" class="nav-link active">
                        <i class="fa-regular fa-chart-line"></i> Graphs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 small text-danger">
        <p><strong>DATA USAGE :</strong> It is mandatory to credit or mention to GIE (Gas Infrastructure Europe), AGSI or ALSI as data source when using or repackaging this data</p>
    </div>
    <div class="col-md-12 small">
        <p>GIE is progressively updating its Transparency Platforms following <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32022R2576&from=EN" target="_blank" rel="noreferrer">Council Regulation (EU) 2022/2576</a> and inputs as received from Storage System Operators (SSOs).</p>
    </div>
</div>
{/if}
{#if loading}
    <div id="loading">
        <h3>Loading data</h3>
        <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
    </div>
{/if}
<div id="highcharts-multichart" style="height: 600px;"></div>
<script>
    import {onMount} from "svelte";
    import DataProviders from './_components/DataProvidersDropdown.svelte';
    import moment from 'moment';

    const graphs = (document.getElementById('graphs')) ?
        document.getElementById('graphs') :
        document.getElementById('dashboard');
    let isThis = (document.getElementById('graphs')),
        url = graphs.getAttribute('data-url'),
        params = graphs.getAttribute('data-params'),
        apiURL = url + params,
        format = 'YYYY-MM-DD';

    let chart,
        dataProviders = [],
        now = moment(),
        //currentGasDay = ((now.format('HH:mm') < '18:30') ? now.subtract(2, 'days') : now.subtract(1, 'days')),
        //to = currentGasDay.format(format),
        //oneMonthAgo = moment().subtract(1, 'months'),
        from = moment('2011-01-01').format(format),//oneMonthAgo.format(format), //
        size = 3000,
        selected, selectBox, currentURL,
        dataset = '',
        chartData = {},
        loading = true
    ;
    const canvas = document.getElementsByClassName('canvas');

    async function getData() {
        const response_data_providers = await fetch(url + '/about?list=sp', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();

        selectBox = jQuery('.select2').select2ToTree().on('select2:select', function (e) {
            let data = e.params.data;
            selected = data.id;
            window.location.href = "/data-overview/graphs/" + selected;
        });
    }

    onMount(async function () {
        await getData();
        currentURL = window.location.href.split('graphs/')[1];
        if(currentURL !== undefined) {
            selectBox.val(currentURL.toUpperCase()).trigger('change');
        }
    });

    /////////////////////////
    let raw_data;
    let series_highcharts;

    initialize()

    async function initialize() {
        await redraw_gas_multichart();
    }

    function decode(str) {
        return decodeURIComponent(str.replace(/\+/g, " "));
    }

    function parseParams(string) {
        let re = /([^&=]+)=?([^&]*)/g;
        let params = {}, e;
        while (e = re.exec(string)) {
            let k = decode(e[1]), v = decode(e[2]);
            if (k.substring(k.length - 2) === '[]') {
                k = k.substring(0, k.length - 2);
                (params[k] || (params[k] = [])).push(v);
            } else params[k] = v;
        }
        return params;
    }

    async function redraw_gas_multichart() {
        params = parseParams(params.split('?')[1]);
        params.from = from;
        //params.to = to;
        params.size = size;
        raw_data = await get_agsi_data();
        if(raw_data.length === 0) {
            loading = false;
        } else {
            // Get first element of raw_data (this is the first selection in the facilities)
            series_highcharts = prepare_highchart_series_gas(raw_data);
        }
        // Create highcharts chart
        await build_multichart('highcharts-multichart', series_highcharts);
    }

    function build_multichart(content_id, series) {
        chart = Highcharts.stockChart(content_id, {
            chart: {
                events: {
                    load() {
                        loading = true;
                    },
                    render() {
                        loading = false;
                    },
                },
            },
            title: {
                text: "Historical data graph"
            },
            subtitle: {
                text: dataset
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date'
                }
            },
            legend: {
                enabled: true
            },
            yAxis: [{
                title: {
                    text: 'Storage'
                },
                height: '33%',
                offset: 0,
                opposite: false,
                labels: {
                    formatter: function () {
                        return this.value + 'TWh';
                    }
                }
            },
                {
                    title: {
                        text: 'Injection'
                    },
                    top: '33%',
                    offset: 0,
                    height: '33%',
                    opposite: false,

                    labels: {
                        formatter: function () {
                            return this.value + 'GWh/d';
                        }
                    }
                },
                {
                    title: {
                        text: 'Withdrawal'
                    },
                    top: '66%',
                    offset: 0,
                    height: '33%',
                    opposite: false,

                    labels: {
                        formatter: function () {
                            return this.value + 'GWh/d';
                        }
                    }
                }
            ],
            series: series,

            rangeSelector: {
                inputEnabled: true, // it supports only days
                selected: 1 // 3m
            },
        });
    }

    function prepare_highchart_series_gas(returned_data) {
        let map = [
            {
                name: 'Storage',
                yAxis: 0,
                data: []
            },
            {
                name: 'Working Gas Volume',
                yAxis: 0,
                data: []
            },
            {
                name: 'Injection',
                yAxis: 1,
                data: []
            },
            {
                name: 'Injection Capacity',
                yAxis: 1,
                data: []
            },
            {
                name: 'Withdrawal',
                yAxis: 2,
                data: []
            },
            {
                name: 'Withdrawal Capacity',
                yAxis: 2,
                data: []
            }
        ];

        if(returned_data) {
            for (let i = returned_data.length - 1; i >= 0; --i) {
                // Push to storage
                map[0].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].gasInStorage
                ]);
                // Push to working gas volume
                map[1].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].workingGasVolume
                ]);
                // Injection
                map[2].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].injection
                ]);
                // Injection Capacity
                map[3].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].injectionCapacity
                ]);
                // Withdrawal
                map[4].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].withdrawal
                ]);
                // Withdrawal Capacity
                map[5].data.push([
                    returned_data[i].gasDayStart,
                    returned_data[i].withdrawalCapacity
                ]);
            }
        }
        return map;

    }

    async function get_agsi_data() {
        let data = await query_agsi_data();
        return preprocess_agsi_data(data);
    }

    async function query_agsi_data() {
        // Initialize data array
        let data = {};

        // Let us load in the first page, and get the total number of pages
        let url_params = Object.keys(params).map(key => key + '=' + params[key]).join('&');
        let url_fetch = url + "?" + url_params + '&page=1';
        let response = await fetch(url_fetch, {
            method: 'GET',
        });

        let parsed = await response.json();
        // First page
        data[1] = parsed.data;
        //dataset
        dataset = parsed.dataset.replace(/data-overview/g, 'data-overview/graphs');

        let last_page = parsed.last_page;
        // Start at number 2, because we already have the first page
        let pages = Array(last_page - 1).fill(0).map((x, i) => i + 2);
        await Promise.all(pages.map(page =>
            fetch(
                url + "?" + Object.keys(params).map(key => key + '=' + params[key]).join('&') + "&page=" + page
            ).then(resp => resp.json()
                // Save the data in the data dictionary with its corresponding page.
            ).then(results => data[page] = results.data)));
        // Flatten the data dictionary into an array
        return Object.keys(data).map(key => data[key]).flat(1);
    }

    function preprocess_agsi_data(facility_data) {
        let variables = ['gasDayStart', 'full', 'gasInStorage', 'injection', 'injectionCapacity', 'trend', 'workingGasVolume', 'withdrawal', 'withdrawalCapacity'];
        // Turn the data into a dictionary with gasDayStart as key and the rest as values
        let process_data = [];
        for (let i = 0; i < facility_data.length; i++) {

            let day_data = {};
            for (let j = 0; j < variables.length; j++) {
                let variable = variables[j];
                if (variable === 'gasDayStart') {
                    day_data[variable] = Date.parse(facility_data[i][variable]);
                } else {
                    day_data[variable] = Number(facility_data[i][variable]);
                }
            }
            process_data.push(day_data);
        }

        return process_data;
    }
</script>
