<div id="info">
    <div class="row">
        <div class="col">
            <div id="breadcrumb">Your current selection: {@html dataset}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <div class="row">
                <div class="col-12 mb-3">
                    <DataProviders selected={selected} dataProviders={dataProviders}/>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-sm">
                            <select class="form-control" name="dateSelector" on:change={handleChange}>
                                <option value="1-weeks">Last 7 days</option>
                                <option value="1-months" selected>Last month</option>
                                <option value="3-months">Last 3 months</option>
                                <option value="6-months">Last 6 months</option>
                                <option value="1-years">Last year</option>
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">From/To</span>
                            <SveltyPicker inputClasses="form-control" format="yyyy-mm-dd" startDate="2011-01-01" endDate="{currentGasDay.add(1, 'days').format(format)}" bind:value={from} on:change={handleChange} />
                            <SveltyPicker inputClasses="form-control" format="yyyy-mm-dd" startDate="2011-01-01" endDate="{currentGasDay.add(1, 'days').format(format)}" bind:value={to} on:change={handleChange} />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="/data-overview/{currentURL}" class="nav-link active">
                        <i class="fa-regular fa-timeline-arrow"></i> Historical Data
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/data-overview/graphs/{currentURL}" class="nav-link">
                        <i class="fa-regular fa-chart-line"></i> Graphs
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>
                <strong>Legend</strong>
            </p>
            <div class="legend row">
                <div class="col-12">
                    <div class="legend-item">
                        <span class="badge confirmed">C</span> Confirmed
                    </div>
                    <div class="legend-item">
                        <span class="badge estimated">E</span> Estimated
                    </div>
                    <div class="legend-item">
                        <span class="badge no-data">N</span> No Data
                    </div>
                    <span class="legend-item">
                        <i class="fa-solid fa-bell-exclamation"></i> News
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="legend row">
        <div class="col-12">
            <strong style="width: 50px; display: block; margin: 5px 0 0 0">Full%: </strong>
            <div class="legend-item">
                <span class="badge full0">1 - 10</span>
            </div>
            <div class="legend-item">
                <span class="badge full10">11 - 20</span>
            </div>
            <div class="legend-item">
                <span class="badge full20">21 - 30</span>
            </div>
            <div class="legend-item">
                <span class="badge full30">31 - 40</span>
            </div>
            <div class="legend-item">
                <span class="badge full40">41 - 50</span>
            </div>
            <div class="legend-item">
                <span class="badge full50">51 - 60</span>
            </div>
            <div class="legend-item">
                <span class="badge full60">61 - 70</span>
            </div>
            <div class="legend-item">
                <span class="badge full70">71 - 80</span>
            </div>
            <div class="legend-item">
                <span class="badge full80">81 - 90</span>
            </div>
            <div class="legend-item">
                <span class="badge full90">91 - 100</span>
            </div>
        </div>
    </div>
</div>

<div class="row table-controls">
    <div class="col-12 text-end">
        <strong>Download current data view:</strong>
        <span class="text-danger float-end" id="downloads" role="alert">&nbsp;Downloads will be available after data has been fully loaded. <strong>Loaded <span id="loaded"></span>%</strong></span>

        <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="csv" style="display: none">
            <i class="fal fa-spinner fa-spin" style=""></i><i class="fal fa-download" style="display: none"></i> CSV
        </button>
        <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="json" style="display: none">
            <i class="fal fa-spinner fa-spin" style=""></i><i class="fal fa-download" style="display: none"></i> JSON
        </button>
        <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="xlsx" style="display: none">
            <i class="fal fa-spinner fa-spin" style=""></i><i class="fal fa-download" style="display: none"></i> XLSX
        </button>
        <!--<button on:click={tabulatorDownloadFile} class="btn" data-type="pdf"><i class="fal fa-download"></i> PDF</button>-->
    </div>
</div>

<div id="dataTable"></div>

<script>
    import {onMount} from "svelte";
    import DataProviders from './_components/DataProvidersDropdown.svelte';
    import SveltyPicker from 'svelty-picker';
    import moment from 'moment';

    const historical = document.getElementById('historical');
    const url = historical.getAttribute('data-url'),
        params = historical.getAttribute('data-params'),
        format = 'YYYY-MM-DD';
    let apiURL = url + params,
        dataProviders = [],
        table,
        now = moment(),
        currentGasDay = ((now.format('HH:mm') < '18:30') ? now.subtract(2, 'days') : now.subtract(1, 'days')),
        to = currentGasDay.format(format),
        oneMonthAgo = moment().subtract(1, 'months'),
        from = oneMonthAgo.format(format),
        selected, selectBox, currentURL, dataset = '',
        myColumns
    ;
    //$current_gas_dayCarbon = ($now->format('H:i') < '18:30') ? $now->subDays(2) : Carbon::yesterday();

    function tabulatorDownloadFile(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            options = {},
            title = 'StorageData_GIE_' + from + '_' + to
            ;
        switch (typeVal) {
            case 'csv':
                options = {
                    delimiter: ";",
                };
                break;
            case 'json':
                break;
            case 'xlsx':
                options = {
                    sheetName: "Storage Data - GIE",
                };
                break;
            case 'pdf':
                options = {
                    orientation:"landscape", //set page orientation to portrait
                    title:"Historical Storage Data - Gas Infrastructure Europe", //add title to report
                    jsPDF: {
                        unit: "in",
                        format: [11.7, 16.5],
                    }
                };
                break;
            case 'html':
                options = {
                    style:true,
                };
                break;
            default:
                title = null;
        }
        //table.downloadToTab(typeVal, title + '.' + typeVal, options);
        table.download(typeVal, title + '.' + typeVal, options);
    }

    async function getData() {
        const response_data_providers = await fetch(url + '/about?list=sp', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();
        selectBox = jQuery('.select2').select2ToTree({
            placeholder: "Select a dataset",
            allowClear: true
        }).on('select2:select', function (e) {
            let data = e.params.data;
            selected = data.id;
            window.location.href = "/data-overview/" + selected;
        });
        drawTable();
    }

    onMount(async function () {
        let toNumberAccessor = function(value, data, type, params, column, row){
            let toNumber = Number(value);
            return (isNaN(toNumber)) ? 0 : toNumber;
        }
        let fixedDecimals = function(value, limit = 2) {
            let fixed = parseFloat(value).toFixed(limit);
            return (isNaN(parseFloat(fixed))) ? '' : fixed;
        }
        //set columns
        myColumns = [ //Define Table Columns
            {
                title: "",
                titleDownload: "Status",
                field: 'status',
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                width: 8,
            },
            {
                title:
                    "<span class='title-tooltip' title='Status at 6AM CEST'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Gas Day Start",
                field: "gasDayStart",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                formatter: function (cell, formatterParams, onRendered) {
                    let message = cell.getValue();
                    let info = cell.getData().info;
                    let m = '';
                    if(info !== undefined && info.length > 0) {
                        jQuery.each( info, function( index, value ) {
                            m += '<a href="' + value + '"><i class="fa-solid fa-bell-exclamation float-start"></i></a>';
                        });
                    }
                    return m + message;
                },
            },
            {
                title:
                    "<span class='title-tooltip' title='Volume of gas in storage at end of gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Gas in storage <small>TWh</small>",
                titleDownload: "Gas in storage (TWh)",
                field: "gasInStorage",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue(), 4);
                },
            },
            {
                title: "<span class='title-tooltip' title='% of working gas volume in storage'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Full <sup>1</sup><small>%</small>",
                titleDownload: "Full (%)",
                field: "full",
                width: 60,
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue());
                },
            },
            {
                title: "<span class='title-tooltip' title='Daily increase or decrease of gas in storage'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Trend <small>%</small>",
                titleDownload: "Trend (%)",
                field: "trend",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    let val = fixedDecimals(cell.getValue()),
                        icon = ' ';
                    if(val < 0) {
                        //negative value
                        icon += '<i class="fa-solid fa-caret-down"></i>';
                    } else if(val > 0) {
                        icon += '<i class="fa-solid fa-caret-up"></i>';
                    }
                    return val + icon;
                },
            }
        ];

        if(!params.includes('company') && !params.includes('continent')) {
            myColumns.push(
                {
                    title: "<span class='title-tooltip' title='Annual consumption by country'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Consumption <sup>2</sup><small>TWh</small>",
                    titleDownload: "Consumption (TWh)",
                    field: "consumption",
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    headerTooltip: 'Annual consumption by country',
                    accessorDownload: toNumberAccessor,
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Filling level compared to annual consumption'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Stock/Cons <sup>3</sup><small>%</small>",
                    titleDownload: "Stock/Cons (%)",
                    field: "consumptionFull",
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    headerTooltip: 'Filling level compared to annual consumption',
                    accessorDownload: toNumberAccessor,
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue());
                    },
                }
            );
        }

        myColumns.push(
            {
                title: "<span class='title-tooltip' title='Amount of gas injected during gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Injection <small>GWh/d</small>",
                titleDownload: "Injection (GWh/d)",
                field: "injection",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue());
                },
            },
            {
                title: "<span class='title-tooltip' title='Amount of gas withdrawn during gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Withdrawal <small>GWh/d</small>",
                titleDownload: "Withdrawal (GWh/d)",
                field: "withdrawal",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue(), 1);
                },
            },
            {
                title: "<span class='title-tooltip' title='This is the maximum amount that can be stored at the facility.'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Technical Capacity <small>TWh</small>",
                titleDownload: "Technical Capacity (TWh)",
                field: "workingGasVolume",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue(), 4);
                },
            },
            {
                title: "<span class='title-tooltip' title='Declared Total Maximum Technical Injection (DTMTI)'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Injection Capacity <small>GWh/d</small>",
                titleDownload: "Injection capacity (GWh/d)",
                field: "injectionCapacity",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue());
                },
            },
            {
                title: "<span class='title-tooltip' title='Declared Total Maximum Technical Withdrawal (DTMTW)'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                    "Withdrawal Capacity <small>GWh/d</small>",
                titleDownload: "Withdrawal capacity (GWh/d)",
                field: "withdrawalCapacity",
                visible: true,
                download: true,
                resizable: false,
                headerSort: false,
                accessorDownload: toNumberAccessor,
                formatter: function(cell, formatterParams, onRendered) {
                    return fixedDecimals(cell.getValue());
                },
            },
        );
        if(params.includes('company')) {
            myColumns.push(
                {
                    title: "<span class='title-tooltip' title='Capacity already booked at the storage facility for the current gas storage year'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Contracted Capacity <small>TWh</small>",
                    titleDownload: "Contracted Capacity (TWh)",
                    headerTooltip: 'Capacity already booked at the storage facility for the current gas storage year',
                    field: "contractedCapacity",
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Capacity still available at the storage facility for the current gas storage year'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Available Capacity <small>TWh</small>",
                    titleDownload: "Available Capacity (TWh)",
                    headerTooltip: 'Capacity still available at the storage facility for the current gas storage year',
                    field: "availableCapacity",
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                }
            );
        }
        await getData();
    });

    function handleChange(event) {
        let target = jQuery( event.target );
        if(typeof target[0] === "object") {
            let name = jQuery(target[0]).attr('name'),
                val = jQuery(target[0]).val();
            if (name === 'dateSelector') {
                if(val === 'all' || val === '0') {
                    from = moment('2011-01-01').format(format);
                } else {
                    let x = val.split('-'),
                        nr = (parseInt(x[0]) === 0) ? 10 : parseInt(x[0]),
                        type = (x[1]) ? x[1] : 'years';
                    to = moment().format(format);
                    from = moment().subtract(nr, type).format(format);
                }
            } else {
                eval(name + " = '" + val + "'");
            }
        } else if(typeof target[0] === "undefined") {
            //datetime
        } else {
            //select
            window.location.href = "/data-overview/" + selected;
        }
        jQuery('#loaded').text(0);
        jQuery('.download').addClass('disabled').prop('disabled', true);
        jQuery('.download i, .download svg, #downloads, button.download').toggle();
        drawTable();
    }

    function parseParams(str) {
        return str.split('&').reduce(function (params, param) {
            let paramSplit = param.split('=').map(function (value) {
                return decodeURIComponent(value.replace(/\+/g, ' '));
            });
            params[paramSplit[0]] = paramSplit[1];
            return params;
        }, {});
    }

    function drawTable() {
        let full_range = {
            0: '#a90000',
            10: '#f70000',
            20: '#fe660d',
            30: '#fea315',
            40: '#8ca744',
            50: '#67b919',
            60: '#17b017',
            70: '#479f22',
            80: '#106c16',
            90: '#094809'
        }
        let getFullClass = function(c) {
            let fullClass = '';
            for (let key in full_range) {
                if (parseInt(c) >= parseInt(key)) {
                    fullClass = 'full' + key;
                }
            }
            return fullClass;
        }

        if(to < from) {
            //to is before from > set to from
            to = from;
        }
        //add day to 'to'
        //let getTo = moment(to).add(1, 'days').format(format);

        table = new Tabulator('#dataTable', {
            layout: "fitColumns",
            maxHeight: "650",
            height: "650",

            dataTree: false,
            initialSort:[
                {
                    column: "gasDayStart",
                    dir: "desc"
                }, //sort by this first
            ],
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table
                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: false, //do not include column calcs in downloaded table
                dataTree: false, //do not include data tree in downloaded table
            },

            //pagination:true, //enable pagination
            //paginationMode:"remote", //enable remote pagination
            paginationSize: 3000, // this option can take any positive integer value
            progressiveLoad: "load", //enable progressive loading
            progressiveLoadDelay: 0, //wait 200 milliseconds between each request
            progressiveLoadScrollMargin: 300, //trigger next ajax load when scroll bar is 300px or less from the bottom of the table.

            ajaxURL: apiURL, //set url for ajax request
            ajaxParams:{'from': from, 'to': to}, //set any standard parameters to pass with the request
            ajaxContentType: "application/json; charset=utf-8",
            ajaxResponse: function(url, params, response) {
                dataset = response.dataset;
                //calc percentages
                jQuery('#loaded').text( Math.round((params.page / response.last_page) * 100));
                if(response.last_page === params.page) {
                    jQuery('.download').removeClass('disabled').prop('disabled', false);
                    jQuery('.download i, .download svg, #downloads, button.download').toggle();
                }
                currentURL = window.location.href.split('view/')[1];
                jQuery('#dataProvidersSelect').val(currentURL.toUpperCase()).trigger('change');
                return response;
            },

            columns: myColumns,
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if (data.status === "E") {
                    row.getElement().classList.add('estimated');
                } else if (data.status === "C") {
                    row.getElement().classList.add('confirmed');
                } else {
                    row.getElement().classList.add('no-data');
                }
                //trend bar
                if (data.trend < 0) {
                    row.getElement().classList.add('negative-trend');
                } else if (data.trend > 0) {
                    row.getElement().classList.add('positive-trend');
                } else {
                    row.getElement().classList.add('no-trend');
                }

                let fullClass = getFullClass(data.full);
                if(fullClass.length > 0) {
                    row.getElement().classList.add(fullClass);
                }
            },
        });
    }
</script>
