<div class="row">
    <div class="col-md-6">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                Log In
            </div>
            <div class="card-body">
                <p class="card-text">Login to access and edit your account or subscription settings, access the API documentation and get your API key</p>
                <div id="login-alert" class="alert alert-danger col-sm-12" style="display: none;"></div>
                <div id="login-success" class="alert alert-success col-sm-12" style="display: none;"></div>

                <form id="login" on:submit|preventDefault={onLogin} class="form-horizontal">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-solid fa-envelopes"></i></span>
                        <input id="login-email" type="text" class="form-control" name="login_email" value="" placeholder="email">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-solid fa-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="login_password" placeholder="password">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 ">
                            {#if sending_forget}
                                <div class="alert alert-info small">Sending your data for the forgot password functionality. Please be patient and do not refresh the page.</div>
                            {/if}
                            {#if login_error}
                                <div class="alert alert-danger" transition:fade={{duration:150}}>{login_error}</div>
                            {/if}
                            {#if success}
                                <div class="alert alert-success" transition:fade={{duration:150}}>
                                    {#if success.length > 5}{success}
                                    {:else}
                                        You are logged in. You will be redirected to your account page.
                                    {/if}
                                </div>
                            {/if}
                            <button id="btn-login" class="btn btn-primary" on:click={() => setClicked('login')} disabled='{sending_forget}'>Login</button>
                            <button id="btn-password" class="btn btn-xs pull-right" on:click={() => setClicked('forgot')} disabled='{sending_forget}'>Forgot password?</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-default">
            <div class="card-header bg-default text-primary">
                Register
            </div>
            <div class="card-body">
                <div style="padding: 2px; text-align: center; width: 150px; float: right;" class="alert alert-warning small" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i> Required fields
                </div>
                <p class="card-text">Register to get access to the API documentation and get an API key</p>

                <form id="register" on:submit|preventDefault={onRegister} class="form-horizontal">
                    <div class="input-group">
                        <span class="input-group-addon required"><i class="fa-solid fa-user"></i></span>
                        <input id="register-first_name" type="text" class="form-control" name="register_first_name" value="" placeholder="first name" required>
                        <input id="register-last_name" type="text" class="form-control" name="register_last_name" value="" placeholder="last name" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon required"><i class="fa-solid fa-envelopes"></i></span>
                        <input id="register-email" type="text" class="form-control" name="register_email" value="" placeholder="email" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon required"><i class="fa-solid fa-lock"></i></span>
                        <input id="register-password" type="password" class="form-control" name="register_password" placeholder="password" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon required"><i class="fa-solid fa-buildings"></i></span>
                        <input id="register-company" type="text" class="form-control" name="register_company" placeholder="company" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-solid fa-phone"></i></span>
                        <input id="register-telephone" type="text" class="form-control" name="register_telephone" placeholder="telephone">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon required"><i class="fa-solid fa-arrow-down-from-dotted-line"></i></span>
                        <div class="form-control">Access to:<br/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="register_access" value="1" id="register_access_agsi" checked>
                                <label class="form-check-label" for="register_access_agsi">AGSI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="register_access" value="0" id="register_access_both">
                                <label class="form-check-label" for="register_access_both">Both AGSI and ALSI</label>
                            </div>
                        </div>
                    </div>

                    <div class="input-group small">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" name="register_consent" id="register-consent" bind:checked={consent}>
                            <label class="form-check-label" for="register-consent">
                                <strong>I consent to GIE to collect data in order to track my usage of the API service</strong>
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" name="register_agree" id="register-agree" bind:checked={agree}>
                            <label class="form-check-label" for="register-agree">
                                <strong>I understand that if no credit or source is mentioned, GIE can disable / de-activate my API access key</strong>
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" name="register_mailing" id="register-mailing">
                            <label class="form-check-label" for="register-mailing">
                                I would like to <strong>subscribe to the API Service mailing list</strong> in order to receive Service Announcements and updates
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 ">
                            {#if error}
                                <div class="alert alert-danger" transition:fade={{duration:150}}>{error}</div>
                            {/if}
                            {#if success}
                                <div class="alert alert-success" transition:fade={{duration:150}}>You are registered. You will be logged in and redirected to your account page.</div>
                            {/if}
                            {#if !consent}
                                <div class="alert alert-info small">You need to give your consent before being able to register.</div>
                            {/if}
                            {#if !agree}
                                <div class="alert alert-info small">You need to agree that you understand that, if you publish data provided by GIE, you need to give credit or mention GIE as source.</div>
                            {/if}
                            <button id="btn-register" class="btn btn-primary" disabled={!consent||!agree}>Register</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    import { token } from './_components/stores.js';
    import { fade } from 'svelte/transition';

    let consent = false,
        sending_forget = false,
        agree = false;
    const login = document.getElementById('login');
    const url = login.getAttribute('data-url');
    let loginURL = url + '/login',
        forgotURL = url + '/forgot',
        registerURL = url + '/register',
        clicked = false, success = false, error = false, login_error = false;
    //see if already logged in
    if ($token.length > 0) {
        //already logged in > redirect
        window.location.replace("/account");
    }

    function setClicked(val) {
        clicked = val;
    }
    async function onLogin(e) {
        const formData = new FormData(e.target);

        const data = {};
        for (let field of formData) {
            const [key, value] = field;
            data[key] = value;
        }

        //let data = jQuery('form#login').serializeArray();
        let url = loginURL;
        if(clicked !== 'login') {
            url = forgotURL;
            //also set spinner
            sending_forget = true;
        }
        //Call login with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            url, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());
        if(returnData) {
            sending_forget = false;

            if (returnData.success) {
                //logged in > redirect
                success = true;
                login_error = false;
                window.location.href = "/account";
            } else {
                if (returnData.error) {
                    login_error = returnData.error;
                } else if (returnData.email) {
                    if (clicked === 'login') {
                        login_error = returnData.email;
                    } else {
                        login_error = false;
                        success = returnData.email;
                    }
                } else {
                    if (returnData instanceof Object) {
                        login_error = 'Something went wrong. Please contact api@gie.eu for assistance.';
                    } else {
                        login_error = returnData;
                    }
                }
            }
        }
    }

    async function onRegister(e) {
        const formData = new FormData(e.target);

        const data = {};
        for (let field of formData) {
            const [key, value] = field;
            data[key] = value;
        }

        //Call register with http and get token info
        let returnData;
        const response = await fetch(
            //proxy +
            registerURL, {
                method: 'POST',
                body: JSON.stringify(data),
            });
        returnData = (await response.json());

        if (returnData.success) {
            //already logged in > redirect
            success = true;
            login_error = false;
            window.location.href = "/account";
        } else {
            if(returnData instanceof Object){
                login_error = 'Something went wrong. Please contact api@gie.eu for assistance.';
            } else {
                login_error = returnData;
            }
        }
    }
</script>
