<div class="row info">
    <div class="col-md-4">
        <p>
            <strong>Welcome to AGSI.</strong>
            <span>
                All available datasets can be downloaded (in Excel, CSV and JSON format). The data below offers an aggregated view – individual datasets by company and storage facility are also accessible through the collapsible view.<br/>
                Full historical data for and graphs view is accessible by clicking on the icons next to each dataset. All data is also offered via our <a href="/account">API service</a>.
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <strong>Legend</strong>
        </p>
        <div class="legend row gx-0 py-0">
            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="legend-item">
                    <span class="badge confirmed">C</span> Confirmed
                </div>
                <div class="legend-item">
                    <span class="badge estimated">E</span> Estimated
                </div>
                <div class="legend-item">
                    <span class="badge no-data">N</span> No Data
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-5">
                <span class="legend-item">
                    <i class="fa-sharp fa-solid fa-square fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i> (DSR) Depleted Field
                </span>
                <span class="legend-item">
                    <span class="fa-stack fa-1x fa-xs" style="width: 1.12em; height: 1.8em;">
                      <i class="fa-solid fa-circle fa-stack-1x" style="margin-top: -1px;"></i>
                      <i class="fa-solid fa-sharp fa-rectangle fa-stack-1x"></i>
                    </span> (ASR) Aquifer
                </span>
                <span class="legend-item">
                    <i class="fa-sharp fa-solid fa-triangle"></i> (ASF) Salt Cavern
                </span>
                <span class="legend-item">
                    <i class="fa-solid fa-sparkle fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i> (SRC) Rock Cavern
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-sparkle fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i> (GRP) Virtual Storage Group
                </span>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-6 col-sm-4">
                <span class="legend-item">
                    <i class="fa-solid fa-bell-exclamation"></i> News
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-timeline-arrow"></i> Historical data
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-chart-line"></i> Graphs
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-location-dot"></i> Data Visualisation
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-globe"></i> Publication link
                </span>
                <span class="legend-item">
                    <i class="fa-regular fa-text-size"></i> Transparency
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-3">
                API service
            </dt>
            <dd class="col-9">
                All data is provided for free, <a href="/account">login or register here.</a>
            </dd>
            <dt class="col-3">
                Data usage
            </dt>
            <dd class="col-9 text-danger">
                It is mandatory to credit or mention to GIE (Gas Infrastructure Europe), AGSI or ALSI as data source when using or repackaging this data.
            </dd>
            <dt class="col-3">
                Contact
            </dt>
            <dd class="col-9">
                For data inquiries, please contact us via <a href="mailto:transparency@gie.eu?subject=AGSI data inquiry">transparency@gie.eu</a><br/>
                For API related inquiries, please contact us via <a href="mailto:api@gie.eu?subject=AGSI inquiry">api@gie.eu</a>
            </dd>
        </dl>
    </div>
    <div class="legend col-12">
        <strong style="width: 50px; display: inline-block; margin: 5px 0 0 0">Full%: </strong>
        <div class="legend-item">
            <span class="badge full0">1 - 10</span>
        </div>
        <div class="legend-item">
            <span class="badge full10">11 - 20</span>
        </div>
        <div class="legend-item">
            <span class="badge full20">21 - 30</span>
        </div>
        <div class="legend-item">
            <span class="badge full30">31 - 40</span>
        </div>
        <div class="legend-item">
            <span class="badge full40">41 - 50</span>
        </div>
        <div class="legend-item">
            <span class="badge full50">51 - 60</span>
        </div>
        <div class="legend-item">
            <span class="badge full60">61 - 70</span>
        </div>
        <div class="legend-item">
            <span class="badge full70">71 - 80</span>
        </div>
        <div class="legend-item">
            <span class="badge full80">81 - 90</span>
        </div>
        <div class="legend-item">
            <span class="badge full90">91 - 100</span>
        </div>
    </div>
</div>

<div class="row table-controls">
    <div class="col-lg-3 col-md-4">
        <span>Status on {date_human} at 6AM CEST</span>
    </div>
    <div class="col-lg-9 col-md-8">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <label title="Select GasDayStart">
                    <span>
                        <i class="fa-solid fa-calendar-day"></i>
                    </span>
                    <SveltyPicker id="date" inputClasses="form-control"
                                  startDate="2016-04-08" endDate="{currentGasDay.add(1, 'days').format(format)}"
                                  format="yyyy-mm-dd"
                                  bind:value={date}
                                  on:change={handleKeydown} />
                </label>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <strong>Download current data view:</strong>
                <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="csv">
                    <i class="fa-solid fa-spinner fa-spin loading" style=""></i><i class="fa-solid fa-file-csv enabled" style="display: none"></i> CSV
                </button>
                <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="json">
                    <i class="fa-solid fa-spinner fa-spin loading" style=""></i><i class="fa-solid fa-file-text enabled" style="display: none"></i> JSON
                </button>
                <button on:click={tabulatorDownloadFile} class="btn download disabled" data-type="xlsx">
                    <i class="fa-solid fa-spinner fa-spin loading" style=""></i><i class="fa-solid fa-file-excel enabled" style="display: none"></i> XLSX
                </button>
            </div>
        </div>
    </div>
</div>

<!--
-->
<div id="dataTable" class="home"></div>

<div class="row footer">
    <div class="col-12">
        <p>
            GIE is progressively updating its Transparency Platforms following <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32022R2576&from=EN" target="_blank" rel="noreferrer">Council Regulation (EU) 2022/2576</a> and inputs as received from Storage System Operators (SSOs).<br/>
            The data provided on the AGSI website reflects the geographical location of the underground storage facility. Additional data clarifications are available in the footnote section.
        </p>
    </div>
    <div class="col-12 extra-information">
        <p><strong>Footnote</strong></p>
        <Footnote/>
    </div>
</div>

<!-- hidden table for download -->
<div id="downloadTable" class="d-none"></div>
<script>
    import {onMount} from "svelte";
    import SveltyPicker from 'svelty-picker';
    import moment from 'moment';
    import Footnote from './_components/Footnote.svelte';

    const apiURL = document.getElementById('main').getAttribute('data-url'),
        newsURL = document.getElementById('main').getAttribute('data-url') + '/news',
        format = 'YYYY-MM-DD';
    let serviceAnnouncements = [],
        table, downloadTable,
        currentGasDay = ((moment().format('HH:mm') < '18:30') ? moment().subtract(2, 'days') : moment().subtract(1, 'days')),
        date = currentGasDay.format(format),
        date_human = ((moment().format('HH:mm') < '18:30') ? moment().subtract(1, 'days') : moment()).format('DD/MM/YYYY'),
        data = []
    ;

    async function getData() {
        const response_news = await fetch(newsURL, {
            method: 'GET'
        });
        serviceAnnouncements = await response_news.json();
        if(serviceAnnouncements !== null && serviceAnnouncements['data'] && serviceAnnouncements['data'].length > 0) {
            let sa = serviceAnnouncements['data'][0];

            document.getElementById('sa_slide').innerHTML = '<a href="/news/' + sa.url + '"><i class="fa-solid fa-bell-exclamation"></i> <strong>' + moment(sa.start_at).format(format) + '</strong>&nbsp;-&nbsp;' + sa.title + '</a>';
        }
    }

    onMount(async function () {
        await getData();
        //console.table(serviceAnnouncements);
        drawTable();
    });

    function tabulatorDownloadFile(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            options = {},
            title = 'AGSI_CountryAggregatedDataset_gasDayStart_' + date
        ;
        switch (typeVal) {
            case 'csv':
                options= {
                    delimiter: ";"
                };
                break;
            case 'json':
                break;
            case 'xlsx':
                options = {
                    sheetName: "GIE AGSI - " + date,
                };
                break;
            case 'pdf':
                options = {
                    orientation:"landscape", //set page orientation to portrait
                    title:"Gas Infrastructure Europe - AGSI: " + date, //add title to report
                    jsPDF: {
                        unit: "in",
                        format: [11.7, 16.5],
                    }
                };
                break;
            case 'html':
                options = {
                    style:true,
                };
                break;
            default:
                title = null;
        }
        //table.downloadToTab(typeVal, title + '.' + typeVal, options);
        downloadTable.download(typeVal, title + '.' + typeVal, options);
    }


    function handleKeydown(event) {
        //datetime
        jQuery('.loading').show();
        jQuery('.enabled').hide();
        jQuery('.download').addClass('disabled');
        data = [];

        drawTable();
    }

    function drawTable() {
        table = new Tabulator('#dataTable', {
            layout: "fitColumns",
            //maxHeight: "100%",
            footerElement: "",

            dataTree: true,
            dataTreeElementColumn: "name", //insert the collapse/expand toggle element in the name column
            dataTreeChildField: "children", //look for the child row data array in the childRows field
            dataTreeChildIndent: 5, //indent child rows by 5 px
            dataTreeCollapseElement: "<i class=\"fa-thin fa-minus\"></i>", //fontawesome toggle icon
            dataTreeExpandElement: "<i class=\"fa-thin fa-plus\"></i>", //fontawesome toggle icon
            dataTreeBranchElement: false, //hide branch element
            dataTreeFilter: true, //enable child row filtering
            dataTreeSort: false, //disable child row sorting
            dataTreeStartExpanded: function(row, level) {
                return (level === 0);
                //return !(row.getData().status === "N"); //expand rows where the "status" data field is not N (no data);
            },
            initialSort:[
                {
                    column: "name",
                    dir: "asc"
                }, //sort by this first
            ],
            persistence: false,
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table
                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: false, //do not include column calcs in downloaded table
                dataTree: true, //do include data tree in downloaded table
            },
            downloadRowRange: "all",

            pagination: false, //enable remote pagination
            //autoResize:false, // prevent auto resizing of table

            ajaxURL: apiURL, //set url for ajax request
            ajaxParams:{'date': date}, //set any standard parameters to pass with the request
            ajaxContentType : "application/json; charset=utf-8",
            ajaxResponse:function(url, params, response) {
                //url - the URL of the request
                //params - the parameters passed with the request
                //response - the JSON object returned in the body of the response.
                //console.log(url, params, response);
                data = jQuery.makeArray(response.data);
                date = data[0].gasDayStart;
                //document.getElementById('gasDay').innerText = ' GasDayStart ' + date + '/ GasDayEnd ' + moment(date).add(1, 'days').format(format);
                jQuery('#date').innerText = date;
                jQuery('.loading').hide();
                jQuery('.enabled').show();
                jQuery('.download').removeClass('disabled');
                let downloadData = [], counter = 0, handleData = jQuery.extend(true, {}, data);
                jQuery.each(handleData, function (i, continent) {
                    let country_children = continent.children;
                    delete continent.children;
                    continent.type = continent.name;
                    downloadData[++counter] = continent;
                    jQuery.each(country_children, function (j, country_child) {
                        let company_children = country_child.children;
                        delete country_child.children;
                        country_child.type = 'country';
                        downloadData[++counter] = country_child;

                        jQuery.each(company_children, function (k, company_child) {
                            let facility_children = company_child.children;
                            delete company_child.children;
                            company_child.type = 'company';
                            downloadData[++counter] = company_child;
                            jQuery.each(facility_children, function (l, facility_child) {
                                facility_child.type = 'facility';
                                downloadData[++counter] = facility_child;
                            });
                        });
                    });
                });
                //console.log(downloadData);
                downloadTable.replaceData(downloadData);

                return data; //return the tableData property of a response json object
            },

            columns: [ //Define Table Columns
                {
                    title: "",
                    titleDownload: "Status",
                    field: 'status',
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    frozen: true,
                    width: 8,
                },
                {
                    title: "Name <small>Selected date: <span id='date'>" + moment(date).format('dddd Do MMMM, YYYY') + "</span></small>",
                    titleDownload: "Name",
                    field: "name",
                    visible: true,
                    download: true,
                    minWidth: 350,
                    headerSort: false,
                    resizable: false,
                    frozen: true,
                    hozAlign: 'left',
                    formatter: function (cell, formatterParams, onRendered) {
                        let message = cell.getValue();
                        let info = cell.getData().info;
                        let m = '';
                        if(info.length > 0) {
                            jQuery.each( info, function( index, value ) {
                                if(~value.toLowerCase().indexOf('http'))
                                m += '<a href="' + value + '"><i class="fa-solid fa-bell-exclamation"></i></a>';
                            });
                        }
                        let t = '';
                        if(!cell.getData().children) {
                            let type = cell.getData().type;
                            if(type) {
                                if (type.toLowerCase() === 'dsr') {
                                    t = '<i class="fa-sharp fa-solid fa-square fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>';
                                } else if (type.toLowerCase() === 'asr') {
                                    t = '<span class="fa-stack fa-1x fa-xs" style="width: 1.12em; height: 1.8em;"><i class="fa-solid fa-circle fa-stack-1x" style="margin-top: -1px;"></i><i class="fa-solid fa-sharp fa-rectangle fa-stack-1x"></i></span>';
                                } else if (type.toLowerCase() === 'asf') {
                                    t = '<i class="fa-sharp fa-solid fa-triangle"></i>';
                                } else if (type.toLowerCase() === 'src') {
                                    t = '<i class="fa-solid fa-sparkle fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>';
                                } else if (type.toLowerCase() === 'grp') {
                                    t = '<i class="fa-regular fa-sparkle fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>';
                                }
                            }
                        }
                        return t + message + m;
                    },
                },
                {
                    title:
                        "<span class='title-tooltip' title='Volume of gas in storage at end of gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Gas in storage <small>TWh</small>",
                    titleDownload: "Gas in storage (TWh)",
                    //headerTooltip: 'Volume of gas in storage  at end of gas day',
                    field: "gasInStorage",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "<span class='title-tooltip' title='% of working gas volume in storage'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Full <sup>1</sup><small>%</small>",
                    titleDownload: "Full (%)",
                    //headerTooltip: '% of working gas volume in storage',
                    field: "full",
                    width: 60,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue());
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Daily increase or decrease of gas in storage'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Trend <small>%</small>",
                    titleDownload: "Trend (%)",
                    //headerTooltip: 'Daily increase or decrease of gas in storage',
                    field: "trend",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        let val = fixedDecimals(cell.getValue()),
                            icon = ' ';
                        if(val < 0) {
                            //negative value
                            icon += '<i class="fa-solid fa-caret-down"></i>';
                        } else if(val > 0) {
                            icon += '<i class="fa-solid fa-caret-up"></i>';
                        }
                        return val + icon;
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Annual consumption by country'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Consumption <sup>2</sup><small>TWh</small>",
                    titleDownload: "Consumption (TWh)",
                    //headerTooltip: 'Annual consumption by country',
                    field: "consumption",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        if(cell.getData().status === 'N') {
                            return '';
                        } else {
                            return fixedDecimals(cell.getValue(), 4);
                        }
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Filling level compared to annual consumption'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Stock/Cons <sup>3</sup><small>%</small>",
                    titleDownload: "Stock/Cons (%)",
                    //headerTooltip: 'Filling level compared to annual consumption',
                    field: "consumptionFull",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        if(cell.getData().status === 'N') {
                            return '';
                        } else {
                            return fixedDecimals(cell.getValue());
                        }
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Amount of gas injected during gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Injection <small>GWh/d</small>",
                    titleDownload: "Injection (GWh/d)",
                    //headerTooltip: 'Amount of gas injected during gas day',
                    field: "injection",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue());
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Amount of gas withdrawn during gas day'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Withdrawal <small>GWh/d</small>",
                    titleDownload: "Withdrawal (GWh/d)",
                    //headerTooltip: 'Amount of gas withdrawn during gas day',
                    field: "withdrawal",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 1);
                    },
                },
                {
                    title: "<span class='title-tooltip' title='This is the maximum amount that can be stored at the facility.'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Technical Capacity <small>TWh</small>",
                    titleDownload: "Technical Capacity (TWh)",
                    //headerTooltip: 'Technical Capacity - This is the maximum amount that can be stored at the facility.',
                    field: "workingGasVolume",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        let status = cell.getData().status;
                        if(status === 'N') {
                            cell.getElement().classList.add('wgv');
                            return fixedDecimals(cell.getValue(), 4);
                        } else {
                            return fixedDecimals(cell.getValue(), 4);
                        }
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Declared Total Maximum Technical Injection (DTMTI)'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Injection Capacity <small>GWh/d</small>",
                    titleDownload: "Injection Capacity (GWh/d)",
                    //headerTooltip: 'Declared Total Maximum Technical Injection (DTMTI)',
                    field: "injectionCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue());
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Declared Total Maximum Technical Withdrawal (DTMTW)'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Withdrawal Capacity <small>GWh/d</small>",
                    titleDownload: "Withdrawal Capacity (GWh/d)",
                    //headerTooltip: 'Declared Total Maximum Technical Withdrawal (DTMTW)',
                    field: "withdrawalCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue());
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Capacity already booked at the storage facility for the current gas storage year'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Contracted Capacity <small>TWh</small>",
                    titleDownload: "Contracted Capacity (TWh)",
                    //headerTooltip: 'Capacity already booked at the storage facility for the current gas storage year',
                    field: "contractedCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "<span class='title-tooltip' title='Capacity still available at the storage facility for the current gas storage year'><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Available Capacity <small>TWh</small>",
                    titleDownload: "Available Capacity (TWh)",
                    //headerTooltip: 'Capacity still available at the storage facility for the current gas storage year',
                    field: "availableCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "<span class='title-tooltip' title=\"Operators' capacities comprised in the aggregated country dataset\"><i class=\"fa-solid fa-circle-question\"></i></span>" +
                        "Covered Capacity <small>%</small>",
                    titleDownload: "Covered Capacity (%)",
                    //headerTooltip: 'Covered Capacity',
                    field: "coveredCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    formatter: function(cell, formatterParams, onRendered) {
                        let url = cell.getData().url,
                            count = (url.split('/')).length;
                        if(cell.getData().status === 'N' && count < 3) {
                            return '';
                        } else {
                            return fixedDecimals(cell.getValue(), 2);
                        }
                    },
                },
                {
                    title: "View",
                    width: 100,
                    field: null,
                    visible: true,
                    download: false,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'left',
                    formatter: function (cell, formatterParams, onRendered) {
                        let url = cell.getData().url,
                            longitude = cell.getData().longitude,
                            latitude = cell.getData().latitude,
                            publication_link = cell.getData().publication_link,
                            transparency_template = cell.getData().transparency_template;
                        let text = '<a href="/data-overview/' + url + '" title="Data Overview"><i class="fa-regular fa-timeline-arrow"></i></a>' +
                            '<a href="/data-overview/graphs/' + url + '" title="Graphs"><i class="fa-regular fa-chart-line"></i></a>';
                        if (longitude && longitude.length > 3 && latitude && latitude.length > 3) {
                            text += '<a href="/data-visualisation/map?lat=' + latitude + '&lng=' + longitude + '" title="Map"><i class="fa-regular fa-location-dot"></i></a>';
                        } else {
                            text += '<i class="fa-regular fa-square" style="color: transparent"></i>';
                        }
                        if (publication_link && publication_link.length > 3) {
                            text += '<a href="' + publication_link + '" title="Publication Link" target="_blank" rel="noreferrer"><i class="fa-regular fa-globe"></i></a>';
                        } else {
                            text += '<i class="fa-regular fa-square" style="color: transparent"></i>';
                        }
                        if (transparency_template && transparency_template.length > 3) {
                            text += '<a href="' + transparency_template + '" title="Transparency Template" target="_blank" rel="noreferrer"><i class="fa-regular fa-text-size"></i></a>';
                        } else {
                            text += '<i class="fa-regular fa-square" style="color: transparent"></i>';
                        }

                        return text;
                    }
                },
            ],
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if (data.status === "E") {
                    row.getElement().classList.add('estimated');
                } else if (data.status === "C") {
                    row.getElement().classList.add('confirmed');
                } else {
                    row.getElement().classList.add('no-data');
                }

                //trend bar
                if (data.trend < 0) {
                    row.getElement().classList.add('negative-trend');
                } else if (data.trend > 0) {
                    row.getElement().classList.add('positive-trend');
                } else {
                    row.getElement().classList.add('no-trend');
                }

                let fullClass = getFullClass(data.full);
                if(fullClass.length > 0) {
                    row.getElement().classList.add(fullClass);
                }
            },
        });
        table.on("rowClick", function(e, row){
            //e - the click event object
            //row - row component
            let className = e.composedPath()[0].className,
                children = row.getTreeChildren();
            if (className !== 'more-info' && children.length > 0) {
                row.treeToggle(); //toggle the rows children
                row._row.element.classList.toggle('open')
                let offset = document.documentElement.scrollTop; //row._row.element.offsetTop;
                window.scrollTo(0, offset);
                //table.scrollToRow(row);
            }
        });

        //define custom accessor
        let toNumberAccessor = function(value, data, type, params, column, row){
            //value - original value of the cell
            //data - the data for the row
            //type - the type of access occurring  (data|download|clipboard)
            //params - the accessorParams object passed from the column definition
            //column - column component for the column this accessor is bound to
            //row - row component for the row
            let toNumber = Number(value);
            return (isNaN(toNumber)) ? 0 : toNumber;
        }
        let fixedDecimals = function(value, limit = 2) {
            let fixed = parseFloat(value).toFixed(limit);
            return (isNaN(parseFloat(fixed))) ? '' : fixed;
        }

        let full_range = {
            0: '#a90000',
            10: '#f70000',
            20: '#fe660d',
            30: '#fea315',
            40: '#8ca744',
            50: '#67b919',
            60: '#17b017',
            70: '#479f22',
            80: '#106c16',
            90: '#094809'
        }
        let getFullClass = function(c) {
            let fullClass = '';
            for (let key in full_range) {
                if (parseInt(c) >= parseInt(key)) {
                    fullClass = 'full' + key;
                }
            }
            return fullClass;
        }

        downloadTable = new Tabulator('#downloadTable', {
            columns: [ //Define Table Columns
                {
                    title: "Type",
                    titleDownload: "Type",
                    field: "type",
                    visible: true,
                    download: true,
                    minWidth: 50,
                    headerSort: false,
                    resizable: false,
                    frozen: true,
                    hozAlign: 'left',
                },
                {
                    title: "Status",
                    titleDownload: "Status",
                    field: "status",
                    visible: true,
                    download: true,
                    minWidth: 50,
                    headerSort: false,
                    resizable: false,
                    frozen: true,
                    hozAlign: 'left',
                },
                {
                    title: "Name",
                    titleDownload: "Name",
                    field: "name",
                    visible: true,
                    download: true,
                    minWidth: 350,
                    headerSort: false,
                    resizable: false,
                    frozen: true,
                    hozAlign: 'left',
                },
                {
                    title: "Gas in storage (TWh)",
                    titleDownload: "Gas in storage (TWh)",
                    headerTooltip: 'Volume of gas in storage  at end of gas day',
                    field: "gasInStorage",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                    formatter: function(cell, formatterParams, onRendered) {
                        return fixedDecimals(cell.getValue(), 4);
                    },
                },
                {
                    title: "Full (1)(%)",
                    titleDownload: "Full (%)",
                    headerTooltip: '% of working gas volume in storage',
                    field: "full",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Trend (%)",
                    titleDownload: "Trend (%)",
                    headerTooltip: 'Daily increase or decrease of gas in storage',
                    field: "trend",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Consumption (2)(TWh)",
                    titleDownload: "Consumption (TWh)",
                    headerTooltip: 'Annual consumption by country',
                    field: "consumption",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Stock/Cons (3)(%)",
                    titleDownload: "Stock/Cons (%)",
                    headerTooltip: 'Filling level compared to annual consumption',
                    field: "consumptionFull",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Injection (GWh/d)",
                    titleDownload: "Injection (GWh/d)",
                    headerTooltip: 'Amount of gas injected during gas day',
                    field: "injection",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Withdrawal (GWh/d)",
                    titleDownload: "Withdrawal (GWh/d)",
                    headerTooltip: 'Amount of gas withdrawn during gas day',
                    field: "withdrawal",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Technical Capacity (TWh)",
                    titleDownload: "Technical Capacity (TWh)",
                    headerTooltip: 'This is the maximum amount that can be stored at the facility.',
                    field: "workingGasVolume",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Injection Capacity (GWh/d)",
                    titleDownload: "Injection Capacity (GWh/d)",
                    headerTooltip: 'Declared Total Maximum Technical Injection (DTMTI)',
                    field: "injectionCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Withdrawal Capacity (GWh/d)",
                    titleDownload: "Withdrawal Capacity (GWh/d)",
                    headerTooltip: 'Declared Total Maximum Technical Withdrawal (DTMTW)',
                    field: "withdrawalCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Contracted Capacity (TWh)",
                    titleDownload: "Contracted Capacity (TWh)",
                    field: "contractedCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Available Capacity (TWh)",
                    titleDownload: "Available Capacity (TWh)",
                    field: "availableCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
                {
                    title: "Covered Capacity (%)",
                    titleDownload: "Covered Capacity (%)",
                    field: "coveredCapacity",
                    minWidth: 100,
                    visible: true,
                    download: true,
                    headerSort: false,
                    resizable: false,
                    hozAlign: 'right',
                    accessorDownload: toNumberAccessor,
                },
            ],
        });
    }
</script>
