<div class="row gx-4 py-3" style="position: relative">
    <h4>News</h4>
    <div class="new-update">
        <i class="fas fa-sync fa-spin"></i>
    </div>
    {#await news_listing}
    {:then news_listing}
        <div class="col-lg-9" style="background: white;">
            <div class="row">
                {#each Object.entries(paged_filtered_listing) as [i, news]}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <small>{formatDate(news.start_at)}</small>
                                {#if news.entities.length > 0}
                                    {#each news.entities as entity}
                                        <br/>
                                        <img src="data:image/png;base64,{entity.logo}" alt="{entity.name}">
                                    {/each}
                                {/if}
                            </div>
                            <div class="col-sm-12 col-md-10">
                                <h5>
                                    {news.title}
                                </h5>
                                <div class="summary">
                                    {@html news.summary}
                                </div>
                                {@html news.details}
                            </div>
                        </div>
                        <hr/>
                    </div>
                {/each}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sticky-top" style="display: none;">
                {#if params.length > 0}
                    <a href="/news">View all news items</a>
                {:else}
                    <div class="input-group mb-3">
                        <label for="searchInput" class="sr-only">Search</label>
                        <input bind:value={term} on:change={filter} type="text" id="searchInput" class="form-control">
                        <button type="submit" on:click={filter} class="btn btn-primary">
                            search
                        </button>
                    </div>
                    <hr/>

                    {#if total && total > perPage}
                        <div class='pagination btn-group btn-group-sm'>
                            <button class="btn btn-primary"
                                    on:click={() => filter(1)}
                                    disabled={page === 1}
                                    aria-label="total left arrow icon"
                                    aria-describedby="first">
                                <i class="fa-regular fa-left-to-line"></i>
                                <span id='first' class='sr-only'>Load first page</span>
                            </button>
                            <button class="btn btn-primary"
                                    on:click={() => filter(previousPage)}
                                    disabled={page === 1}
                                    aria-label="left arrow icon"
                                    aria-describedby="previous">
                                <i class="fa-solid fa-left"></i>
                                <span id='prev' class='sr-only'>Load previous {perPage} rows</span>
                            </button>

                            <button class="btn" disabled>
                                {(perPage * (page -1)) + 1} - {#if perPage * page > total}{total}{:else}{perPage * page}{/if} of {total}
                            </button>
                            <button class="btn btn-primary"
                                    on:click={() => filter(nextPage)}
                                    disabled={page === totalPages}
                                    aria-label="right arrow icon"
                                    aria-describedby="next">
                                <i class="fa-solid fa-right"></i>
                                <span id='next' class='sr-only'>Load next {perPage} rows</span>
                            </button>
                            <button class="btn btn-primary"
                                    on:click={() => filter(totalPages)}
                                    disabled={page === totalPages}
                                    aria-label="total right arrow icon"
                                    aria-describedby="last">
                                <i class="fa-regular fa-right-to-line"></i>
                                <span id='last' class='sr-only'>Load last page</span>
                            </button>
                        </div>
                    {/if}
                {/if}
            </div>
        </div>
    {/await}
</div>


<script>
    import {onMount} from "svelte";
    import moment from 'moment';

    const news = document.getElementById('news');
    const params = news.getAttribute('data-params'),
        apiURL = news.getAttribute('data-url') + '/news' + params;

    let news_listing = Promise.resolve([]);
    let term = '',
        paged_filtered_listing = [],
        page = 1,
        perPage = 10,
        previousPage, nextPage, total, totalPages;

    //load data
    onMount(async function () {
        const news = await fetch(apiURL, {
            method: 'GET'
        });
        const listing = await news.json();
        console.log(listing);
        news_listing = listing.data;
        filter();
    });

    function paginate(displayPage = 1) {
        page = displayPage;
        const offset = perPage * (page - 1);

        let result;
        if(term.length > 0) {
            //filtered, use filtered result
            result = paged_filtered_listing;
        } else {
            //unfiltered, use db result
            result = news_listing;
        }
        totalPages = Math.ceil(result.length / perPage);
        previousPage = page - 1 ? page - 1 : null;
        nextPage = (totalPages > page) ? page + 1 : null;
        total = result.length;

        paged_filtered_listing = paged_filtered_listing.slice(offset, perPage * page);
        jQuery('.new-update').hide();
        jQuery('.sticky-top').show();
    }
    function filter(selectPage = 0) {
        if(selectPage > 0) {
            page = selectPage;
        }
        paged_filtered_listing = news_listing.filter(x => (
            x.title.toLowerCase().indexOf(term.toLowerCase()) >= 0 ||
            x.summary.toLowerCase().indexOf(term.toLowerCase()) >= 0 ||
            x.details.toLowerCase().indexOf(term.toLowerCase()) >= 0
        ));
        paginate(page);
    }

    function formatDate(date) {
        return moment(date).format('D MMMM YYYY');
    }
</script>