<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5>Tariffs</h5>
            <p>In accordance with Article 13(2) of Council Regulation (EU) 2022/2576, Storage System Operators shall, by 31 January 2023, make public tariffs for storage capacity products offered to the market.</p>
            <p>Please refer to the position paper published below to guide you on the following aspects:</p>
            <ul>
                <li>Definition and description of storage capacity products (Part II),</li>
                <li>Type of information to be disclosed to allow comparability of final tariffs across SSOs (Part VI).</li>
            </ul>
            <p>To provide you with meaningful and transparent data, GIE will aggregate the links as provided by storage system operators where such information is published on their corporate websites.</p>
            <p>
                <a href="https://www.gie.eu/REMIT/download/2023/20220120_GSE_Storage_products_position_paper_final.pdf" target="_blank" rel="noreferrer">GSE Storage Products Position Paper (PDF, 117KB)</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {#await promise}
                <div class="new-update clearfix">
                    <i class="fas fa-sync fa-spin"></i>
                </div>
            {:then promise}
                {#each Object.entries(promise) as [company_type, countries] (company_type)}
                    <div class="card">
                        <div class="card-body">
                            {#each Object.entries(countries) as [country, companies] (country)}
                            <span class="country">{country}</span>
                                <table>
                                    <thead>
                                    <tr>
                                        <th style="width: 200px">Logo</th>
                                        <th style="width: 60%">Name</th>
                                        <th style="width: 400px">Tariffs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {#each companies as company}
                                        <tr>
                                            <td><img src="data:image/png;base64,{company.image}" alt="{company.name}" /></td>
                                            <td>{company.name}</td>
                                            <td>
                                                {#each company.tariffs as tariff}
                                                    <a href="{tariff.url}" target="_blank">
                                                        {#if tariff.type === 'pricing' && tariff.description.length === 0}
                                                            Pricing/Tariff Information
                                                        {:else if tariff.type === 'fee' && tariff.description.length === 0}
                                                            Fee/Tariff Calculator
                                                        {:else}
                                                            {tariff.description}
                                                        {/if}
                                                    </a><br/>
                                                {/each}
                                            </td>
                                        </tr>
                                    {/each}
                                    </tbody>
                                </table>
                            {/each}
                        </div>
                    </div>
                {/each}
            {/await}
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";

    const dataProviders = document.getElementById('tariffs');
    const apiURL = dataProviders.getAttribute('data-url') + '/about' + dataProviders.getAttribute('data-params');
    let promise = Promise.resolve([]);

    async function getData() {
        const response = await self.fetch(apiURL, {
            method: 'GET'
        });
        return response.json();
    }

    onMount(async function () {
        promise = getData();
    });
</script>
