<UnavailabilityDataPickers
        dataProviders={dataProviders} facility={facility}
        format={format} from={from} to={to} start={start} end={end} minDate={AGSI_START} moment={moment}
        selected={selected} selected_end_flag={selected_end_flag} selected_type={selected_type}
        currentURL="{currentURL}"
        on:handleChange={handleChange}
        view="gantt"
/>
<div id="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-12">
            {#if loading}
                <div id="loading">
                    <h3>Loading data</h3>
                    <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
                </div>
            {/if}
            <div id="highcharts-unavailability"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="information"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    import {onMount} from "svelte";
    import UnavailabilityDataPickers from './_components/UnavailabilityDataPickers.svelte';
    import moment from "moment";

    const SIZE_LIMIT = 3000;
    const AGSI_START = '2011-01-01';

    const gantt = document.getElementById('gantt');
    const url = gantt.getAttribute('data-url'),
        params = gantt.getAttribute('data-params'),
        apiURL = url + '/unavailability/',// + params,
        format = 'YYYY-MM-DD';

    let dataProviders = [],
        facility = null, company = null, country = null, continent = null, selected_type = 'type_all',
        selected_end_flag = 'flag_all',
        now = new Date(),
        date = now.toISOString().slice(0, 10),
        selected, selectBox, currentURL, dataset = '',
        from = moment().format(format),
        to = moment().format(format),
        start = from,
        end = moment().add(1, 'years').format(format),
        page = 1, pages,
        chart, clear,
        loading = true
    ;

    async function getData() {
        const response_data_providers = await fetch(url + '/about', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();
        selectBox = jQuery('.select2').select2ToTree({
            placeholder: "Select a dataset",
            allowClear: true
        }).on('select2:select', function (e) {
            let data = e.params.data;
            let selected = data.id.split('/');
            if (selected.length === 3) {
                //facility / country / company
                facility = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                company = (selected[2]) ? selected[2] : null;
                currentURL = facility + '/' + country + '/' + company;
            } else if (selected.length === 2) {
                //company / country
                facility = null;
                company = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                currentURL = company + '/' + country;
            } else {
                //country
                facility = null;
                company = null;
                country = (selected[0]) ? selected[0] : null;
                currentURL = country;
            }
            redraw_dashboard();
        });
        currentURL = window.location.href.split('gantt/')[1];
        let selected = parseParams(params.replace('?', ''));
        country = (selected.country) ? selected.country : null;
        company = (selected.company) ? selected.company : null;
        facility = (selected.facility) ? selected.facility : null;
        await redraw_dashboard();
    }

    function parseParams(str) {
        return str.split('&').reduce(function (params, param) {
            let paramSplit = param.split('=').map(function (value) {
                return decodeURIComponent(value.replace(/\+/g, ' '));
            });
            params[paramSplit[0]] = paramSplit[1];
            return params;
        }, {});
    }

    onMount(async function () {
        await getData();
    });

    function handleChange(event) {
        let name = event.detail.name,
            val = event.detail.value;

        if (name === 'dateSelector') {
            let x = val.split('-');
            if(parseInt(x[0]) === 0) {
                //all selected, from AGSI start
                start = moment(AGSI_START).format(format);
                end = moment().endOf().format(format);
            } else {
                let nr = (parseInt(x[0]) === 0) ? 100 : parseInt(x[0]),
                    type = (x[1]) ? x[1] : 'years';
                start = moment().subtract(nr, type).format(format);
                end = moment().format(format);
            }
        } else if (name === undefined) {
            //do nothing => from/to
        } else {
            //set max date range to one year
            if(name === 'from') {
                //check if to is more than a year after
                let checkTo = moment(val).add(1, 'years');
                if(checkTo.isSameOrBefore(to)) {
                    //change to max one year later
                    to = checkTo.format(format);
                }
            }
            if(name === 'to') {
                //check if from is less than a year before
                let checkFrom = moment(val).subtract(1, 'years');
                if(checkFrom.isSameOrAfter(from)) {
                    //change to max one year later
                    from = checkFrom.format(format);
                }
            }
            eval(name + " = '" + val + "'");
            if(start !== null || end !== null) {
                from = null;
                to = null;
            } else if(from === null || to === null) {
                to = moment().format(format);
                from = to.sub(1, 'months').format(format);
            }
        }
        redraw_dashboard();
    }


    async function redraw_dashboard() {
        window.history.pushState('page2', 'Title', '/unavailability/gantt/' + currentURL);
        jQuery('#infoModal button[data-dismiss="modal"]').click(function(el) {
            jQuery('#infoModal').modal('hide');
        });
        loading = true;
        if (country !== null &&
            (country.toLowerCase() === 'eu' || country.toLowerCase() === 'ne' || country.toLowerCase() === 'ai')
        ) {
            continent = country.toLowerCase();
            //change it to first country in that continent/sub
            if(continent === 'eu') {
                country = 'at';
            }
            else if(continent === 'ai') {
                country = 'es*';
            }
            else if(continent === 'ne') {
                country = 'gb*';
            }
            continent = null;
            currentURL = country
            window.history.pushState('page2', 'Title', '/unavailability/gantt/' + currentURL);
        }
        // Get all underlying selections (company, facilities, etc) from the master selection
        let unavailability_data = await query_unavailabilities();

        let unavailability_data_rearranged = await prepare_visualisation_unavailability(unavailability_data.data);
        let chart = build_gantt('highcharts-unavailability', unavailability_data_rearranged, unavailability_data.metadata.dataset, '');
    }

    /**
     * Queries the AGSI unavailabilties for the given selection.
     *
     * @returns {dict} The data for the given selection.
     */
    async function query_unavailabilities() {
        let params = {
            'start': start,
            //"from": from,
            'size': SIZE_LIMIT,
        }

        let type = (selected_type === 'type_all') ? null: selected_type;
        if (type !== null) {
            params.type = type;
        }

        let end_flag = (selected_end_flag === 'flag_all') ? null : selected_end_flag;
        if (end_flag !== null) {
            params.end_flag = end_flag;
        }
/*
        if (to !== null) {
            params.to = to;
        }*/
        if (continent !== null) {
            params.continent = continent;
            //set currentURL
            currentURL = continent;
        }
        if (country !== null) {
            params.country = country;
            //set currentURL
            currentURL = country;
        }
        if (company !== null) {
            params.company = company;
            //set currentURL
            currentURL = company + '/' + country;
        }
        if (facility !== null) {
            params.facility = facility;
            //set currentURL
            currentURL = facility + '/' + country + '/' + company;
        }
        if (end !== null) {
            params.end = end;
        }

        // Initialize data array
        let data = {};

        // Let us load in the first page, and get the total number of pages
        let url_params = Object.keys(params).map(key => key + '=' + params[key]).join('&');
        let url_fetch = apiURL + "?" + url_params + '&gantt=true&page=1';
        let response = await fetch(url_fetch, {
            method: 'GET',
        });

        let parsed = await response.json();
        // First page
        data[1] = parsed.data;
        let dataset = parsed.dataset;
        let last_page = parsed.last_page;
        // If we have more than one page, we will load in the rest of the pages.
        if (last_page > 1) {
            // Start at number 2, because we already have the first page
            pages = Array(last_page - 1).fill(0).map((x, i) => i + 2);
            // Multithreaded fetching of data (https://stackoverflow.com/questions/59037553/fetch-multiple-urls-at-the-same-time)
            await Promise.all(pages.map(page =>
                fetch(
                    url + "?" + Object.keys(params).map(key => key + '=' + params[key]).join('&') + "&gantt=true&page=" + page
                ).then(resp => resp.json()
                    // Save the data in the data dictionary with its corresponding page.
                ).then(results => data[page] = results.data)));
        }

        // Flatten the data dictionary into an array
        let data_array = await Object.keys(data).map(key => data[key]).flat(1);
        return {
            metadata: {
                'first_page': url_fetch,
                'start_date': start,
                'end_date': end,
                'size': SIZE_LIMIT,
                'last_page': last_page,
                'dataset': dataset,
            },
            data: data_array
        }
    }


    /**
     * Processes the unavailability_data obtained and prepares it for the gantt.
     * @param  {Array} unavailability_data
     *
     * @returns  {} unavailability_data_rearranged
     */
    function prepare_visualisation_unavailability(unavailability_data) {
        // Create array of series for unavailability charts.

        // The following is the dependency: country > company > facility

        // First we ought to collect all countries, companies and facilities. The easiest would be to use the about API endpoint.
        // Then we are going to rearrange the unavailabilties dataset in a way that the data is in the correct order.

        // Make it a list instead of a dictionary.
        //let unavailability_data_rearranged = {};

        let unavailability_data_rearranged = [];
        for (let i = 0; i < unavailability_data.length; i++) {
            let country = unavailability_data[i].country.name;
            let company = unavailability_data[i].company.name;
            let facility = unavailability_data[i].facility.name;


            // Convert timestamp in following format 2022-07-17 04:18:38 to a date object.
            let published = new Date(unavailability_data[i].published);
            let start = new Date(unavailability_data[i].start);
            let end = new Date(unavailability_data[i].end);

            let volume = parseFloat(unavailability_data[i].volume);
            let injection = parseFloat(unavailability_data[i].injection);
            let withdrawal = parseFloat(unavailability_data[i].withdrawal);

            let description = unavailability_data[i].description;
            let type = unavailability_data[i].type;
            let end_flag = unavailability_data[i].end_flag;

            // Darkred if type unplanned, otherwise blue.
            let color = (type === 'Unplanned') ? '#186985' : '#239cc6';
            let end_flag_color = (end_flag === 'Estimate') ? '#FFA500' : '#56B334';

            if (unavailability_data_rearranged[country] === undefined) {
                unavailability_data_rearranged[country] = {
                    'name': country,
                    'data': [],
                    'findNearestPointBy': 'xy',
                    'stickyTracking': false,
                    'point': {
                        'events': {
                            click: function () {
                                this.series.chart.update({
                                    'tooltip': {
                                        'enabled': true
                                    }
                                });
                            },
                            mouseOut: function () {
                                //jQuery('#information').html();
                                this.series.chart.update({
                                    'tooltip': {
                                        'enabled': false
                                    }

                                })
                            }
                        }
                    }
                };
            }

            unavailability_data_rearranged[country].data.push({
                'name': country,
                'id': country,
                'visible': false,
                'collapsed': false
            });

            unavailability_data_rearranged[country].data.push({
                'name': company,
                'id': company,
                'parent': country,
                'visible': false,
                'collapsed': false
            });

            // Unique id for the facility.

            unavailability_data_rearranged[country].data.push({
                'name': facility,
                'id': facility + start + end + published,
                'parent': company,
                'published': published.getTime(),
                'start': start.getTime(),
                'end': end.getTime(),
                'volume': volume,
                'injection': injection,
                'withdrawal': withdrawal,
                'description': description,
                //'type': type,
                'type': (type === 'Unplanned') ? 'Unplanned Unavailability' : 'Planned Unavailability',
                'end_flag': (end_flag === 'Estimate') ? 'Estimated End Flag' : 'Confirmed End Flag',
                'end_flag_color': end_flag_color,
                'color': color,
                //'borderColor': end_flag_color,
                //'borderWidth': 5,
                'collapsed': false,
            });

        }
        //console.log(unavailability_data_rearranged);
        // Return the rearranged data but first remove all the duplicate entries with the same id.
        for (let i = 0; i < unavailability_data_rearranged.length; i++) {
            for (let j = 0; j < unavailability_data_rearranged[i].data.length; j++) {
                for (let k = j + 1; k < unavailability_data_rearranged[i].data.length; k++) {
                    if (unavailability_data_rearranged[i].data[j].id === unavailability_data_rearranged[i].data[k].id) {
                        unavailability_data_rearranged[i].data.splice(k, 1);
                    }
                }
            }
        }
        return Object.values(unavailability_data_rearranged);


    }


    /**
     * Builds a gantt chart, based on the data provided.
     * @param  {} content_id The id of the div where the chart will be placed.
     * @param  {} series  The data to be used in the chart.
     * @param  {} title The title of the chart.
     * @param  {} subtitle  The subtitle of the chart.
     */
    function build_gantt(content_id, series, title, subtitle) {

        const formatTextWrap = (text, maxLineLength) => {
            if (text !== undefined) {
                const words = text.replace(/[\r\n]+/g, ' ').split(' ');
                let lineLength = 0;

                // use functional reduce, instead of for loop
                return words.reduce((result, word) => {
                    if (lineLength + word.length >= maxLineLength) {
                        lineLength = word.length;
                        return result + `</br>${word}`; // don't add spaces upfront
                    } else {
                        lineLength += word.length + (result ? 1 : 0);
                        return result ? result + ` ${word}` : `${word}`; // add space only when needed
                    }
                }, '');

            }
        }
        let chart = new Highcharts.ganttChart(content_id, Highcharts.merge(basic_options, {
            title: {
                text: title
            },
            subtitle: {
                text: subtitle
            },
            xAxis: [{
                tickInterval: 1000 * 60 * 60 * 24 * 7 // week
            }, {
                tickIntervalUnit: 'month' // month
            }],
            yAxis: {
                uniqueNames: true,
                breaks: [{
                    breakSize: 0.5,
                    from: 0,
                    to: 0
                }]
            },
            boost: {
                enabled: false,
            },
            turboThreshold: 0,
            tooltip: {
                pointFormatter: function () {
                    // Check if the tooltip is supposed to be hidden.
                    if (this.visible) {
                        let text =
                            // Convert unix timestamp to human-readable date with hours and minutes+
                            '<dl class="row">' +
                            '<dt class="col-12" style="color: ' + this.color + ';">' + this.type + '</dt>' +
                            '<dt class="col-12" style="color: ' + this.end_flag_color + ';">' + this.end_flag + '</dt>' +
                            '<dt class="col-4">Start:</dt><dd class="col-8">' + Highcharts.dateFormat('%e %b %Y %H:%M', this.start) + '</dd>' +
                            '<dt class="col-4">End:</dt><dd class="col-8">' + Highcharts.dateFormat('%e %b %Y %H:%M', this.end) + '</dd>' +
                            '<dt class="col-4">Published:</dt><dd class="col-8">' + Highcharts.dateFormat('%e %b %Y %H:%M', this.published) + '</dd>' +
                            '<dt class="col-4">Volume:</dt><dd class="col-8">' + this.volume + ' TWh</dd>' +
                            '<dt class="col-4">Injection:</dt><dd class="col-8">' + this.injection + ' GWh/d</dd>' +
                            '<dt class="col-4">Withdrawal:</dt><dd class="col-8">' + this.withdrawal + ' GWh/d</dd>' +
                            '<dt class="col-4">Description:</dt><dd class="col-8">' + formatTextWrap(this.description, 50) + '</dd>' +
                            '</dl>';
                        jQuery('#infoModalLabel').html(this.name);
                        jQuery('#information').html(text);
                        jQuery('#infoModal').modal('show');
                        return '';
                    } else {
                        return '';//'<b>' + this.name + '</b>'
                    }
                },
                outside: false,
                // https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/tooltip/positioner/
                shadow: false,
                borderWidth: 0,
                backgroundColor: 'rgba(227,227,227,0.8)',
                followPointer: true
            },
            accessibility: {
                keyboardNavigation: {
                    seriesNavigation: {
                        mode: 'serialize'
                    }
                }
            },

            scrollbar: {enabled: true},
            legend: {enabled: false},
            navigator: {enabled: false},
            rangeSelector: {
                enabled: true,
                selected: 0,
            },
            series: series

        }));

        return chart;

    }


    const basic_options = {
        chart: {
            events: {
                load() {
                    loading = true;
                },
                render() {
                    loading = false;
                },
            },
            zoomType: 'x'
        },
        title: {
            useHTML: true,
            style: {'text-align': 'center'}
        },

        exporting: {enabled: true},

        plotOptions: {
            series: {
                color: 'grey',
                lineWidth: 1,
                marker: {enabled: false},
            }
        },
        credits: {
            text: 'Source: Gas Infrastructure Europe (GIE) | Attribution: Sonnem Holding B.V.',
            href: 'javascript:window.open("https://www.sonnem.tk", "_blank")',
            style: {
                color: '#303030'
            }
        },

        legend: {enabled: true, symbolWidth: 40},
        navigator: {enabled: true},
        scrollbar: {enabled: true},
        rangeSelector: {enabled: true},

        series: {
            states: {
                hover: {enabled: false}
            }
        },

        tooltip: {
            enabled: true,
            split: true,
            useHTML: true
        },

        time: {useUTC: true},
        yAxis: {
            opposite: false
        }
    }
</script>
