<UnavailabilityDataPickers
        dataProviders={dataProviders} facility={facility}
        format={format} from={from} to={to} start={start} end={end} minDate={AGSI_START} moment={moment}
        selected={selected} selected_end_flag={selected_end_flag} selected_type={selected_type}
        on:handleChange={handleChange}
        view="listing"
/>

<div class="table-controls">
    <div class="float-end small-box">
        <button type="button" on:click={tabulatorDownloadFile} class="btn half" data-type="csv"><i class="fal fa-download"></i> CSV</button>
        <button type="button" on:click={tabulatorDownloadFile} class="btn half" data-type="json"><i class="fal fa-download"></i> JSON</button>
        <button type="button" on:click={tabulatorDownloadFile} class="btn" data-type="xlsx"><i class="fal fa-download"></i> XLSX</button>
    </div>
</div>
<div id="dataTable"></div>

<script>
    import {onMount} from "svelte";
    import UnavailabilityDataPickers from './_components/UnavailabilityDataPickers.svelte';
    import moment from 'moment';

    const AGSI_START = '2011-01-01';
    const unavailability = document.getElementById('unavailability');
    const url = unavailability.getAttribute('data-url'),
        params = unavailability.getAttribute('data-params'),
        format = 'YYYY-MM-DD';
    let apiURL = url + '/unavailability/',// + params,
        dataProviders = [],
        table,
        to = moment().format(format),
        oneMonthAgo = moment().subtract(1, 'months'),
        from = oneMonthAgo.format(format),
        start = null, end = null,
        selected, selectBox, currentURL = 'at', dataset = '',
        facility = null, company = null, country = null, continent = null, selected_type = 'type_all', selected_end_flag = 'flag_all'
    ;

    function tabulatorDownloadFile(e) {
        e.preventDefault();
        let target = e.target,
            typeVal = target.getAttribute('data-type'),
            options = {},
            title = 'UnavailabilityStorageData_GIE_' + from + '_' + to
        ;
        switch (typeVal) {
            case 'csv':
                options= {
                    delimiter: ";"
                };
                break;
            case 'json':
                break;
            case 'xlsx':
                options = {
                    sheetName: "Unavailability Storage Data - GIE",
                };
                break;
            case 'pdf':
                options = {
                    orientation:"landscape", //set page orientation to portrait
                    title:"Unavailability Storage Data - Gas Infrastructure Europe", //add title to report
                    jsPDF: {
                        unit: "in",
                        format: [11.7, 16.5],
                    }
                };
                break;
            case 'html':
                options = {
                    style:true,
                };
                break;
            default:
                title = null;
        }
        //table.downloadToTab(typeVal, title + '.' + typeVal, options);
        table.download(typeVal, title + '.' + typeVal, options);
    }

    async function getData() {
        const response_data_providers = await fetch(url + '/about?list=sp', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();
        selectBox = jQuery('.select2').select2ToTree({
            placeholder: "Select a dataset",
            allowClear: true
        }).on('select2:select', function (e) {
            let data = e.params.data;
            let selected = data.id.split('/');
            if(selected.length === 3) {
                //facility / country / company
                facility = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                company = (selected[2]) ? selected[2] : null;
                currentURL = facility + '/' + country + '/' + company;
            } else if(selected.length === 2) {
                //company / country
                facility = null;
                company = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                currentURL = company + '/' + country;
            } else {
                //country / continent?
                facility = null;
                company = null;
                country = (selected[0]) ? selected[0] : null;
                if(country.toLowerCase() === 'eu' || country.toLowerCase() === 'ai' || country.toLowerCase() === 'ne') {
                    continent = country;
                    currentURL = continent;
                    country = null;
                } else {
                    currentURL = country;
                    continent = null;
                }
            }
            drawTable();
        });
        currentURL = window.location.href.split('unavailability/')[1];
        let selected = parseParams(params.replace('?', ''));
        country = (selected.country) ? selected.country : null;
        company = (selected.company) ? selected.company : null;
        facility = (selected.facility) ? selected.facility : null;
        drawTable();
    }
    function parseParams(str) {
        return str.split('&').reduce(function (params, param) {
            let paramSplit = param.split('=').map(function (value) {
                return decodeURIComponent(value.replace(/\+/g, ' '));
            });
            params[paramSplit[0]] = paramSplit[1];
            return params;
        }, {});
    }

    onMount(async function () {
        await getData();
        //console.table(reports);
        selectBox.val(currentURL).trigger('change');
    });

    function handleChange(event) {
        let name = event.detail.name,
            val = event.detail.value;
        if (name === 'dateSelector') {
            let x = val.split('-');
            if(parseInt(x[0]) === 0) {
                //all selected, from AGSI start
                from = moment(AGSI_START).format(format);
            } else {
                let nr = (parseInt(x[0]) === 0) ? 100 : parseInt(x[0]),
                    type = (x[1]) ? x[1] : 'years';
                from = moment().subtract(nr, type).format(format);
            }
            to = moment().format(format);
        } else if (name === undefined) {
            //do nothing
        } else {
            eval(name + " = '" + val + "'");
            if(start !== null || end !== null) {
                from = null;
                to = null;
            } else if(from === null || to === null) {
                to = moment().format(format);
                from = oneMonthAgo.format(format);
            }
        }
        drawTable();
    }

    function drawTable() {
        let commaAccessor = function(value, data, type, params, column, row){
            return value.replace('.', ','); //return the new value for the cell data.
        }
        window.history.pushState('page2', 'Title', '/unavailability/' + currentURL);

        let params = {
            'from': from,
            'to': to,
            'start': start,
            'end': end,
            'facility': facility,
            'company': company,
            'country': country,
            'type': (selected_type === 'type_all') ? null: selected_type,
            'end_flag': (selected_end_flag === 'flag_all') ? null : selected_end_flag,
        };
        table = new Tabulator('#dataTable', {
            placeholder: "No Data Available", //display message to user on empty table
            layout: "fitColumns",
            responsiveLayout:"collapse",
            maxHeight: "650",
            height: "650",
            responsiveLayoutCollapseStartOpen:false,

            dataTree: false,
            initialSort:[
                {
                    column: "published",
                    dir: "desc"
                }, //sort by this first
            ],
            persistence:{
                sort: true, //persist sort
            },
            downloadConfig: {
                columnHeaders: true, //do not include column headers in downloaded table
                columnGroups: false, //do not include column groups in column headers for downloaded table
                rowGroups: false, //do not include row groups in downloaded table
                columnCalcs: false, //do not include column calcs in downloaded table
                dataTree: false, //do not include data tree in downloaded table
            },

            //pagination:true, //enable pagination
            //paginationMode:"remote", //enable remote pagination
            paginationSize: 100, // this option can take any positive integer value
            progressiveLoad: "scroll", //enable progressive loading
            progressiveLoadDelay:500, //wait 200 milliseconds between each request
            progressiveLoadScrollMargin: 300, //trigger next ajax load when scroll bar is 300px or less from the bottom of the table.

            ajaxURL: apiURL, //set url for ajax request
            ajaxParams: params, //set any standard parameters to pass with the request
            ajaxContentType: "application/json; charset=utf-8",
            columns: [ //Define Table Columns
                {
                    formatter:"responsiveCollapse",
                    headerSort:false,
                    width: 50,
                },
                {
                    title: "Published",
                    field: "published",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    responsive: 0,
                    width: 150,
                    hozAlign:"left",
                },
                {
                    title: "Country",
                    field: "country.name",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    responsive: 0,
                    width: 150,
                    hozAlign:"left",
                },
                {
                    title: "Company",
                    field: "company.name",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    responsive: 0,
                    width: 300,
                    hozAlign:"left",
                },
                {
                    title: "Facility",
                    field: "facility.name",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    responsive: 0,
                    width: 600,
                    hozAlign:"left",
                },
                {
                    title: "Start",
                    field: "start",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    responsive: 0,
                    width: 150,
                    hozAlign:"left",
                },
                {
                    title: "End",
                    field: "end",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: true,
                    responsive: 0,
                    width: 150,
                    hozAlign:"left",
                },
                {
                    title: "Volume <small>TWh</small>",
                    titleDownload: "Volume (TWh)",
                    field: "volume",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    responsive: 0,
                    widthGrow:1,
                    hozAlign:"right",
                    accessorDownload: commaAccessor,
                },
                {
                    title: "Injection <small>GWh/d</small>",
                    titleDownload: "Injection (GWh/d)",
                    field: "injection",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    responsive: 0,
                    widthGrow:1,
                    hozAlign:"right",
                    accessorDownload: commaAccessor,
                },
                {
                    title: "Withdrawal <small>GWh/d</small>",
                    titleDownload: "Withdrawal (GWh/d)",
                    field: "withdrawal",
                    visible: true,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    responsive: 0,
                    widthGrow:1,
                    hozAlign:"right",
                    accessorDownload: commaAccessor,
                },
                {
                    title: "Description",
                    field: "description",
                    visible: true,
                    responsive: 1,
                    download: true,
                    resizable: false,
                    headerSort: false,
                    width: 500,
                },
            ],
            rowFormatter: function (row) {
                //row - row component
                let data = row.getData();

                //status bar
                if (data.end_flag === "Estimate") {
                    row.getElement().classList.add('estimated');
                } else if (data.end_flag === "Confirmed") {
                    row.getElement().classList.add('confirmed');
                } else {
                    row.getElement().classList.add('no-data');
                }
                //trend bar
                if (data.type === 'Planned') {
                    row.getElement().classList.add('planned');
                } else if (data.type === 'Unplanned') {
                    row.getElement().classList.add('unplanned');
                } else {
                    row.getElement().classList.add('no-type');
                }
            },
        });
    }
</script>
