{#if isThis}
    <UnavailabilityDataPickers
        dataProviders={dataProviders} facility
        format={format} from to start={start} end={end} minDate={now} moment={moment}
        selected={selected} selected_end_flag={selected_end_flag} selected_type={selected_type}
        on:handleChange={handleChange}
        view="map"
/>
{/if}
<div class="row" style="height: 100%; min-height: 700px; width: 99%;">
    <div class="col-md-12" style="position: relative">
        <div class="card text-center">
            <div class="card-body">
                <div style="position: relative">
                    <div class="logo_gie"></div>
                    <div id="map" style="height: {height}; width: 100%; margin: 0"></div>
                    <div class="loading" style="position: absolute; top: 50px; width: 100%; text-align: center">
                        <h3>Loading data</h3>
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    import UnavailabilityDataPickers from './_components/UnavailabilityDataPickers.svelte';
    import {onMount} from "svelte";
    import moment from "moment/moment";

    let L = window.L;

    let height = '800px';

    const unavailability = (document.getElementById('unavailability_map')) ?
        document.getElementById('unavailability_map') :
        document.getElementById('dashboard');
    const isThis = (document.getElementById('unavailability_map')),
        url = unavailability.getAttribute('data-url'),
        params = unavailability.getAttribute('data-params'),
        format = 'YYYY-MM-DD',
        map_id = 'map';
    const now = moment().add(1, 'day').format(format);
    let apiURL = url + '/unavailability/',// + params,
        dataProviders = [],
        start = moment().format(format), end = moment().add(1, 'years').format(format),
        selected, selectBox, currentURL = '',
        facility = null, company = null, country = null, selected_type = 'type_all', selected_end_flag = 'flag_all',
        markers = document.getElementById('markers').getAttribute('data-img').split('|'),
        map, info, parentGroup,
        plannedIcon, unplannedIcon//, iconClusterGroup
        , radioButtonControl,
        initIds = [],
        iframe = false
    ;

    async function handleChange(event) {
        let name = event.detail.name,
            val = event.detail.value;
        eval(name + " = '" + val + "'");
        await getData();

        return null;
    }

    let color_range = {
        "p": '#239CC6',
        "u": '#186985',
    };

    function get_color(c) {
        c = c.toLowerCase()[0];
        let color = '#808080';
        for (let key in color_range) {
            if (c === key) {
                color = color_range[key];
            }
        }
        return color;
    }

    function updateMap() {
        jQuery('#' + map_id).css("opacity", .5);
        if(radioButtonControl) {
            radioButtonControl.remove();
        }
        map.eachLayer(function (layer) {
            if (layer._latlng !== undefined) {
                map.removeLayer(layer);
            } else {
                //console.log(layer);
            }
        });
    }


    async function get(url) {
        let response = await fetch(url, {
            method: 'GET'
        });

        return response.json();
    }


    onMount(async function () {
        if(window.self !== window.top) {
            iframe = true;
        }
        const response_data_providers = await fetch(url + '/about?list=sp', {
            method: 'GET'
        });
        dataProviders = await response_data_providers.json();

        await build_alsi_unavailability_map(map_id);
        //jQuery('#info-agsi').show();

        selectBox = jQuery('.select2').select2ToTree({
            placeholder: "Select a dataset",
            allowClear: true
        }).on('select2:select', async function (e) {
            let data = e.params.data;
            let selected = data.id.split('/');
            if (selected.length === 3) {
                //facility / country / company
                facility = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                company = (selected[2]) ? selected[2] : null;
                currentURL = '&country=' + country + '&company=' + company + '&facility=' + facility;
            } else if (selected.length === 2) {
                //company / country
                facility = null;
                company = (selected[0]) ? selected[0] : null;
                country = (selected[1]) ? selected[1] : null;
                currentURL = '&country=' + country + '&company=' + company;
            } else {
                //country
                facility = null;
                company = null;
                country = (selected[0]) ? selected[0] : null;
                currentURL = '&country=' + country;
            }
            await getData();
        });
    });
    async function build_alsi_unavailability_map(content_id) {
        map = (iframe) ?
            L.map(content_id, { zoomControl: false }).setView([30.70, 9.92], 3) :
            L.map(content_id, {}).setView([50.8465573, 4.351697], 4);
        const mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

        L.tileLayer(
            'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
                attribution: 'Source: Gas Infrastructure Europe (GIE) | Attribution: Sonnem Holding B.V.',
                maxZoom: 18,
            }).addTo(map);

        map.attributionControl.setPrefix('');

        let layerControl = L.control.layers({}, {}, {position: 'topleft'},).addTo(map);
        let small_pipeline_layer = "/build/data/PIPELINES-SMALL.geojson";
        // Light green color
        const small_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                // lightgreen,
                fillColor: "#B9B7BD",
                color: "#B9B7BD",
                opacity: 0.5,
                weight: 1,
                fillOpacity: 0.5,
            },
        };
        let medium_pipeline_layer = "/build/data/PIPELINES-MEDIUM.geojson";
        const medium_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                // lightgreen,
                fillColor: "#B9B7BD",
                color: "#B9B7BD",
                opacity: 0.5,
                weight: 2,
                fillOpacity: 0.5,
            },
        };
        let large_pipeline_layer = "/build/data/PIPELINES-LARGE.geojson";
        const large_pipeline_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                // lightgreen,
                fillColor: "#B9B7BD",
                color: "#B9B7BD",
                opacity: 0.5,
                weight: 3,
                fillOpacity: 0.5,
            },
        };

        let gas_fields_layer_0 = "/build/data/GAS_FIELDS.geojson";
        let gas_fields_layer_1 = "/build/data/GAS_FILEDS_2.geojson";

        const gas_fields_options = {
            maxZoom: 16,
            tolerance: 3,
            debug: 0,
            style: {
                fillColor: "#8B0000",
                color: "#8B0000",
                opacity: 0.25,
                weight: 2,
                fillOpacity: 0.25,
            },
        };
        const drawCanvasLayer = async (url, _name, options, addToMap) => {
            const name = _name || "canvas";
            const json = await get(url);
            const canvasLayer = L.gridLayer.geoJson(json, options);
            if (addToMap) {
                canvasLayer.addTo(map);
            }
            layerControl.addOverlay(canvasLayer, name);
        };

        await drawCanvasLayer(small_pipeline_layer, "Pipelines - Small", small_pipeline_options, true);
        await drawCanvasLayer(medium_pipeline_layer, "Pipelines - Medium", medium_pipeline_options, true);
        await drawCanvasLayer(large_pipeline_layer, "Pipelines - Large", large_pipeline_options, true);
        await drawCanvasLayer(gas_fields_layer_0, "Gas Fields", gas_fields_options, false);


        info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this._div.id = 'info-agsi';
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (label) {
            // Show div with id info-agsi
            let close_button = '<button type="button" class="info-close" onclick="jQuery(\'#info-agsi\').hide(); return false;" aria-label="Close" style="float:right; margin: 0; padding: 0; background-color: transparent; border: none; color: #000000; opacity: 0.5;"><span aria-hidden="true">&times;</span></button>'
            if (label) {
                this._div.innerHTML = close_button + label;
                this._div.style = '';
            } else {
                this._div.innerHTML = close_button + '<h5>Storage Information</h5>Select a gas storage.';
                this._div.style = 'display:none;';
            }
        };
        info.addTo(map);

        let legend_color = L.control({ position: "bottomleft" });
        legend_color.onAdd = function (map) {
            let div = L.DomUtil.create('div', 'info legend');
            let grades = ['Planned Unavailability', 'Unplanned Unavailability', 'No Unavailability'];
            let labels = ['<strong> Status </strong>'];

            for (let i = 0; i < grades.length; i++) {
                let grade = grades[i];//*0.5;
                labels.push(
                    '<i class="circle"style="background:' + get_color(grade) + '"></i><span>' + grades[i] + '</span>');
            }
            div.innerHTML = labels.join('<br>');
            return div;
        };
        legend_color.addTo(map);

        await getData();

    }

    async function getData() {
        updateMap();
        let json, page = 1, pages,
            end_flag = '',
            type_flag = '';

        if(selected_end_flag !== 'flag_all') {
            end_flag = '&end_flag=' + selected_end_flag;
        }
        if(selected_type !== 'type_all') {
            type_flag = '&type=' + selected_type;
        }

        let layerGroups = {},
            markerList = [],
            unplannedList = [],
            plannedList = [],
            noOutageList = [];
        do {
            json = await get(apiURL + '?page=' + page + '&start=' + start + '&end=' + end + end_flag + type_flag + '&size=300&map=true' + currentURL);
            pages = json.last_page;

            let radius = 5;
            for (let item of json.data) {
                try {
                    let lat_long = [item.location.lat, item.location.lng];

                    let color = get_color(item.type);

                    let circle = new L.circleMarker(lat_long, {
                        title: item.name,
                        fillColor: color,
                        fillOpacity: 1,
                        color: color,
                    });
                    circle.setRadius(radius);
                    let label = "<h5 style='margin: 5px;'>" + item.facility.name + "</h5>";
                    label += "<p><strong>Company:</strong> " + item.company.name;
                    label += "<br/><strong>Country:</strong> " + item.country.name + "</p>";
                    if(item.reports.length > 0) {
                        label += "<div class='info-table'>";
                        item.reports.forEach(function (report) {
                            label += "<table style='border-top: 1px solid #808080;'>" +
                                "<tbody>" +
                                "<tr><td style='padding-top: 5px;'>Start:</td><td style='padding-top: 5px;'>" + (report.start) + "</td></tr>" +
                                "<tr><td>End:</td><td>" + (report.end) + "</td></tr>" +
                                "<tr><td>Type:</td><td class='" + (report.type.toLowerCase()) + "'>" + report.type + "</td></tr>" +
                                "<tr><td>Volume:</td><td>" + report.volume + " TWh</td></tr>" +
                                "<tr><td>Injection:</td><td>" + report.injection + " GWh/d</td></tr>" +
                                "<tr><td>Withdrawal:</td><td>" + report.withdrawal + " GWh/d</td></tr>" +
                                "<tr><td>End Flag:</td><td class='" + (report.end_flag.toLowerCase() === 'estimate' ? 'estimated' : 'confirmed') + "'>" + report.end_flag + "</td></tr>" +
                                "<tr><td>Published:</td><td>" + report.published + "</td></tr>" +
                                "<tr><td style='padding-bottom: 5px;'>Description:</td><td style='padding-bottom: 5px;'>" + report.description + "</td></tr>" +
                                "</tbody>" +
                                "</table>";
                        });
                        label += "</div>";
                    } else {
                        label += '<p><em>No unavailability reported at this time</em></p>';
                    }
                    circle.on('click', function(ev) {
                        info.update(label)
                    });

                    markerList.push(circle);
                    if(item.type === 'Unplanned') {
                        unplannedList.push(circle);
                    } else if(item.type === 'Planned') {
                        plannedList.push(circle);
                    } else {
                        noOutageList.push(circle);
                    }
                } catch (err) {
                    console.log(item);
                    console.log(err);
                }
            }
            page++;
        } while(page <= pages)
        //TODO: @Nicky mss tekst optie zoals bij /data-visualisation/maps ? Filters zijn niet echt super nuttig denk ik? Of misschien wel... best bij David aftoetsen denk ik
        layerGroups['All'] = L.layerGroup(markerList);
        layerGroups['Planned Unavailability [' + plannedList.length + ']'] = L.layerGroup(plannedList);
        layerGroups['Unplanned Unavailability [' + unplannedList.length + ']'] = L.layerGroup(unplannedList);
        layerGroups['No Unavailability [' + noOutageList.length + ']'] = L.layerGroup(noOutageList);
        /*
        */

        jQuery('#' + map_id).css("opacity", 1);


        radioButtonControl = L.control.layers(layerGroups, {}, {
            collapsed: false,
            position: 'topleft',
        }).addTo(map);
        // Set first layer as default
        radioButtonControl._layers[Object.keys(radioButtonControl._layers)[0]].layer.addTo(map);
    }
</script>