@charset "UTF-8";
/*!
 * Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
.fa.fa-glass:before {
  content: "";
}

.fa.fa-envelope-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-envelope-o:before {
  content: "";
}

.fa.fa-star-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-star-o:before {
  content: "";
}

.fa.fa-remove:before {
  content: "";
}

.fa.fa-close:before {
  content: "";
}

.fa.fa-gear:before {
  content: "";
}

.fa.fa-trash-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-trash-o:before {
  content: "";
}

.fa.fa-home:before {
  content: "";
}

.fa.fa-file-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-o:before {
  content: "";
}

.fa.fa-clock-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-clock-o:before {
  content: "";
}

.fa.fa-arrow-circle-o-down {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-arrow-circle-o-down:before {
  content: "";
}

.fa.fa-arrow-circle-o-up {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-arrow-circle-o-up:before {
  content: "";
}

.fa.fa-play-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-play-circle-o:before {
  content: "";
}

.fa.fa-repeat:before {
  content: "";
}

.fa.fa-rotate-right:before {
  content: "";
}

.fa.fa-refresh:before {
  content: "";
}

.fa.fa-list-alt {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-list-alt:before {
  content: "";
}

.fa.fa-dedent:before {
  content: "";
}

.fa.fa-video-camera:before {
  content: "";
}

.fa.fa-picture-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-picture-o:before {
  content: "";
}

.fa.fa-photo {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-photo:before {
  content: "";
}

.fa.fa-image {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-image:before {
  content: "";
}

.fa.fa-map-marker:before {
  content: "";
}

.fa.fa-pencil-square-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-pencil-square-o:before {
  content: "";
}

.fa.fa-edit {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-edit:before {
  content: "";
}

.fa.fa-share-square-o:before {
  content: "";
}

.fa.fa-check-square-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-check-square-o:before {
  content: "";
}

.fa.fa-arrows:before {
  content: "";
}

.fa.fa-times-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-times-circle-o:before {
  content: "";
}

.fa.fa-check-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-check-circle-o:before {
  content: "";
}

.fa.fa-mail-forward:before {
  content: "";
}

.fa.fa-expand:before {
  content: "";
}

.fa.fa-compress:before {
  content: "";
}

.fa.fa-eye {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-eye-slash {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-warning:before {
  content: "";
}

.fa.fa-calendar:before {
  content: "";
}

.fa.fa-arrows-v:before {
  content: "";
}

.fa.fa-arrows-h:before {
  content: "";
}

.fa.fa-bar-chart:before {
  content: "";
}

.fa.fa-bar-chart-o:before {
  content: "";
}

.fa.fa-twitter-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-facebook-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gears:before {
  content: "";
}

.fa.fa-thumbs-o-up {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-thumbs-o-up:before {
  content: "";
}

.fa.fa-thumbs-o-down {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-thumbs-o-down:before {
  content: "";
}

.fa.fa-heart-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-heart-o:before {
  content: "";
}

.fa.fa-sign-out:before {
  content: "";
}

.fa.fa-linkedin-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-linkedin-square:before {
  content: "";
}

.fa.fa-thumb-tack:before {
  content: "";
}

.fa.fa-external-link:before {
  content: "";
}

.fa.fa-sign-in:before {
  content: "";
}

.fa.fa-github-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-lemon-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-lemon-o:before {
  content: "";
}

.fa.fa-square-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-square-o:before {
  content: "";
}

.fa.fa-bookmark-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-bookmark-o:before {
  content: "";
}

.fa.fa-twitter {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-facebook {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-facebook:before {
  content: "";
}

.fa.fa-facebook-f {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-facebook-f:before {
  content: "";
}

.fa.fa-github {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-credit-card {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-feed:before {
  content: "";
}

.fa.fa-hdd-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hdd-o:before {
  content: "";
}

.fa.fa-hand-o-right {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-o-right:before {
  content: "";
}

.fa.fa-hand-o-left {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-o-left:before {
  content: "";
}

.fa.fa-hand-o-up {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-o-up:before {
  content: "";
}

.fa.fa-hand-o-down {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-o-down:before {
  content: "";
}

.fa.fa-globe:before {
  content: "";
}

.fa.fa-tasks:before {
  content: "";
}

.fa.fa-arrows-alt:before {
  content: "";
}

.fa.fa-group:before {
  content: "";
}

.fa.fa-chain:before {
  content: "";
}

.fa.fa-cut:before {
  content: "";
}

.fa.fa-files-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-files-o:before {
  content: "";
}

.fa.fa-floppy-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-floppy-o:before {
  content: "";
}

.fa.fa-save {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-save:before {
  content: "";
}

.fa.fa-navicon:before {
  content: "";
}

.fa.fa-reorder:before {
  content: "";
}

.fa.fa-magic:before {
  content: "";
}

.fa.fa-pinterest {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pinterest-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus:before {
  content: "";
}

.fa.fa-money:before {
  content: "";
}

.fa.fa-unsorted:before {
  content: "";
}

.fa.fa-sort-desc:before {
  content: "";
}

.fa.fa-sort-asc:before {
  content: "";
}

.fa.fa-linkedin {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-linkedin:before {
  content: "";
}

.fa.fa-rotate-left:before {
  content: "";
}

.fa.fa-legal:before {
  content: "";
}

.fa.fa-tachometer:before {
  content: "";
}

.fa.fa-dashboard:before {
  content: "";
}

.fa.fa-comment-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-comment-o:before {
  content: "";
}

.fa.fa-comments-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-comments-o:before {
  content: "";
}

.fa.fa-flash:before {
  content: "";
}

.fa.fa-clipboard:before {
  content: "";
}

.fa.fa-lightbulb-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-lightbulb-o:before {
  content: "";
}

.fa.fa-exchange:before {
  content: "";
}

.fa.fa-cloud-download:before {
  content: "";
}

.fa.fa-cloud-upload:before {
  content: "";
}

.fa.fa-bell-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-bell-o:before {
  content: "";
}

.fa.fa-cutlery:before {
  content: "";
}

.fa.fa-file-text-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-text-o:before {
  content: "";
}

.fa.fa-building-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-building-o:before {
  content: "";
}

.fa.fa-hospital-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hospital-o:before {
  content: "";
}

.fa.fa-tablet:before {
  content: "";
}

.fa.fa-mobile:before {
  content: "";
}

.fa.fa-mobile-phone:before {
  content: "";
}

.fa.fa-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-circle-o:before {
  content: "";
}

.fa.fa-mail-reply:before {
  content: "";
}

.fa.fa-github-alt {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-folder-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-folder-o:before {
  content: "";
}

.fa.fa-folder-open-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-folder-open-o:before {
  content: "";
}

.fa.fa-smile-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-smile-o:before {
  content: "";
}

.fa.fa-frown-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-frown-o:before {
  content: "";
}

.fa.fa-meh-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-meh-o:before {
  content: "";
}

.fa.fa-keyboard-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-keyboard-o:before {
  content: "";
}

.fa.fa-flag-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-flag-o:before {
  content: "";
}

.fa.fa-mail-reply-all:before {
  content: "";
}

.fa.fa-star-half-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-star-half-o:before {
  content: "";
}

.fa.fa-star-half-empty {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-star-half-empty:before {
  content: "";
}

.fa.fa-star-half-full {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-star-half-full:before {
  content: "";
}

.fa.fa-code-fork:before {
  content: "";
}

.fa.fa-chain-broken:before {
  content: "";
}

.fa.fa-unlink:before {
  content: "";
}

.fa.fa-calendar-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-calendar-o:before {
  content: "";
}

.fa.fa-maxcdn {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-html5 {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-css3 {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-unlock-alt:before {
  content: "";
}

.fa.fa-minus-square-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-minus-square-o:before {
  content: "";
}

.fa.fa-level-up:before {
  content: "";
}

.fa.fa-level-down:before {
  content: "";
}

.fa.fa-pencil-square:before {
  content: "";
}

.fa.fa-external-link-square:before {
  content: "";
}

.fa.fa-compass {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-caret-square-o-down {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-caret-square-o-down:before {
  content: "";
}

.fa.fa-toggle-down {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-toggle-down:before {
  content: "";
}

.fa.fa-caret-square-o-up {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-caret-square-o-up:before {
  content: "";
}

.fa.fa-toggle-up {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-toggle-up:before {
  content: "";
}

.fa.fa-caret-square-o-right {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-caret-square-o-right:before {
  content: "";
}

.fa.fa-toggle-right {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-toggle-right:before {
  content: "";
}

.fa.fa-eur:before {
  content: "";
}

.fa.fa-euro:before {
  content: "";
}

.fa.fa-gbp:before {
  content: "";
}

.fa.fa-usd:before {
  content: "\$";
}

.fa.fa-dollar:before {
  content: "\$";
}

.fa.fa-inr:before {
  content: "";
}

.fa.fa-rupee:before {
  content: "";
}

.fa.fa-jpy:before {
  content: "";
}

.fa.fa-cny:before {
  content: "";
}

.fa.fa-rmb:before {
  content: "";
}

.fa.fa-yen:before {
  content: "";
}

.fa.fa-rub:before {
  content: "";
}

.fa.fa-ruble:before {
  content: "";
}

.fa.fa-rouble:before {
  content: "";
}

.fa.fa-krw:before {
  content: "";
}

.fa.fa-won:before {
  content: "";
}

.fa.fa-btc {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bitcoin {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bitcoin:before {
  content: "";
}

.fa.fa-file-text:before {
  content: "";
}

.fa.fa-sort-alpha-asc:before {
  content: "";
}

.fa.fa-sort-alpha-desc:before {
  content: "";
}

.fa.fa-sort-amount-asc:before {
  content: "";
}

.fa.fa-sort-amount-desc:before {
  content: "";
}

.fa.fa-sort-numeric-asc:before {
  content: "";
}

.fa.fa-sort-numeric-desc:before {
  content: "";
}

.fa.fa-youtube-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-youtube {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-xing {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-xing-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-youtube-play {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-youtube-play:before {
  content: "";
}

.fa.fa-dropbox {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-stack-overflow {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-instagram {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-flickr {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-adn {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bitbucket {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bitbucket-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bitbucket-square:before {
  content: "";
}

.fa.fa-tumblr {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-tumblr-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-long-arrow-down:before {
  content: "";
}

.fa.fa-long-arrow-up:before {
  content: "";
}

.fa.fa-long-arrow-left:before {
  content: "";
}

.fa.fa-long-arrow-right:before {
  content: "";
}

.fa.fa-apple {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-windows {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-android {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-linux {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-dribbble {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-skype {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-foursquare {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-trello {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gratipay {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gittip {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gittip:before {
  content: "";
}

.fa.fa-sun-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-sun-o:before {
  content: "";
}

.fa.fa-moon-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-moon-o:before {
  content: "";
}

.fa.fa-vk {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-weibo {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-renren {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pagelines {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-stack-exchange {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-arrow-circle-o-right {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-arrow-circle-o-right:before {
  content: "";
}

.fa.fa-arrow-circle-o-left {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-arrow-circle-o-left:before {
  content: "";
}

.fa.fa-caret-square-o-left {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-caret-square-o-left:before {
  content: "";
}

.fa.fa-toggle-left {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-toggle-left:before {
  content: "";
}

.fa.fa-dot-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-dot-circle-o:before {
  content: "";
}

.fa.fa-vimeo-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-try:before {
  content: "";
}

.fa.fa-turkish-lira:before {
  content: "";
}

.fa.fa-plus-square-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-plus-square-o:before {
  content: "";
}

.fa.fa-slack {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wordpress {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-openid {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-institution:before {
  content: "";
}

.fa.fa-bank:before {
  content: "";
}

.fa.fa-mortar-board:before {
  content: "";
}

.fa.fa-yahoo {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-reddit {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-reddit-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-stumbleupon-circle {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-stumbleupon {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-delicious {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-digg {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pied-piper-pp {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pied-piper-alt {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-drupal {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-joomla {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-behance {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-behance-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-steam {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-steam-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-automobile:before {
  content: "";
}

.fa.fa-cab:before {
  content: "";
}

.fa.fa-spotify {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-deviantart {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-soundcloud {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-file-pdf-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-pdf-o:before {
  content: "";
}

.fa.fa-file-word-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-word-o:before {
  content: "";
}

.fa.fa-file-excel-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-excel-o:before {
  content: "";
}

.fa.fa-file-powerpoint-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-powerpoint-o:before {
  content: "";
}

.fa.fa-file-image-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-image-o:before {
  content: "";
}

.fa.fa-file-photo-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-photo-o:before {
  content: "";
}

.fa.fa-file-picture-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-picture-o:before {
  content: "";
}

.fa.fa-file-archive-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-archive-o:before {
  content: "";
}

.fa.fa-file-zip-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-zip-o:before {
  content: "";
}

.fa.fa-file-audio-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-audio-o:before {
  content: "";
}

.fa.fa-file-sound-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-sound-o:before {
  content: "";
}

.fa.fa-file-video-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-video-o:before {
  content: "";
}

.fa.fa-file-movie-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-movie-o:before {
  content: "";
}

.fa.fa-file-code-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-file-code-o:before {
  content: "";
}

.fa.fa-vine {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-codepen {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-jsfiddle {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-life-bouy:before {
  content: "";
}

.fa.fa-life-buoy:before {
  content: "";
}

.fa.fa-life-saver:before {
  content: "";
}

.fa.fa-support:before {
  content: "";
}

.fa.fa-circle-o-notch:before {
  content: "";
}

.fa.fa-rebel {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ra {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ra:before {
  content: "";
}

.fa.fa-resistance {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-resistance:before {
  content: "";
}

.fa.fa-empire {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ge {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ge:before {
  content: "";
}

.fa.fa-git-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-git {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-hacker-news {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-y-combinator-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-y-combinator-square:before {
  content: "";
}

.fa.fa-yc-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-yc-square:before {
  content: "";
}

.fa.fa-tencent-weibo {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-qq {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-weixin {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wechat {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wechat:before {
  content: "";
}

.fa.fa-send:before {
  content: "";
}

.fa.fa-paper-plane-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-paper-plane-o:before {
  content: "";
}

.fa.fa-send-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-send-o:before {
  content: "";
}

.fa.fa-circle-thin {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-circle-thin:before {
  content: "";
}

.fa.fa-header:before {
  content: "";
}

.fa.fa-futbol-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-futbol-o:before {
  content: "";
}

.fa.fa-soccer-ball-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-soccer-ball-o:before {
  content: "";
}

.fa.fa-slideshare {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-twitch {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-yelp {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-newspaper-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-newspaper-o:before {
  content: "";
}

.fa.fa-paypal {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-wallet {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-visa {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-mastercard {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-discover {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-amex {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-paypal {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-stripe {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bell-slash-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-bell-slash-o:before {
  content: "";
}

.fa.fa-trash:before {
  content: "";
}

.fa.fa-copyright {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-eyedropper:before {
  content: "";
}

.fa.fa-area-chart:before {
  content: "";
}

.fa.fa-pie-chart:before {
  content: "";
}

.fa.fa-line-chart:before {
  content: "";
}

.fa.fa-lastfm {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-lastfm-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ioxhost {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-angellist {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-cc:before {
  content: "";
}

.fa.fa-ils:before {
  content: "";
}

.fa.fa-shekel:before {
  content: "";
}

.fa.fa-sheqel:before {
  content: "";
}

.fa.fa-buysellads {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-connectdevelop {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-dashcube {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-forumbee {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-leanpub {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-sellsy {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-shirtsinbulk {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-simplybuilt {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-skyatlas {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-diamond {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-diamond:before {
  content: "";
}

.fa.fa-transgender:before {
  content: "";
}

.fa.fa-intersex:before {
  content: "";
}

.fa.fa-transgender-alt:before {
  content: "";
}

.fa.fa-facebook-official {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-facebook-official:before {
  content: "";
}

.fa.fa-pinterest-p {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-whatsapp {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-hotel:before {
  content: "";
}

.fa.fa-viacoin {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-medium {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-y-combinator {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-yc {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-yc:before {
  content: "";
}

.fa.fa-optin-monster {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-opencart {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-expeditedssl {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-battery-4:before {
  content: "";
}

.fa.fa-battery:before {
  content: "";
}

.fa.fa-battery-3:before {
  content: "";
}

.fa.fa-battery-2:before {
  content: "";
}

.fa.fa-battery-1:before {
  content: "";
}

.fa.fa-battery-0:before {
  content: "";
}

.fa.fa-object-group {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-object-ungroup {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-sticky-note-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-sticky-note-o:before {
  content: "";
}

.fa.fa-cc-jcb {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-cc-diners-club {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-clone {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hourglass-o:before {
  content: "";
}

.fa.fa-hourglass-1:before {
  content: "";
}

.fa.fa-hourglass-half:before {
  content: "";
}

.fa.fa-hourglass-2:before {
  content: "";
}

.fa.fa-hourglass-3:before {
  content: "";
}

.fa.fa-hand-rock-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-rock-o:before {
  content: "";
}

.fa.fa-hand-grab-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-grab-o:before {
  content: "";
}

.fa.fa-hand-paper-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-paper-o:before {
  content: "";
}

.fa.fa-hand-stop-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-stop-o:before {
  content: "";
}

.fa.fa-hand-scissors-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-scissors-o:before {
  content: "";
}

.fa.fa-hand-lizard-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-lizard-o:before {
  content: "";
}

.fa.fa-hand-spock-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-spock-o:before {
  content: "";
}

.fa.fa-hand-pointer-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-pointer-o:before {
  content: "";
}

.fa.fa-hand-peace-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-hand-peace-o:before {
  content: "";
}

.fa.fa-registered {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-creative-commons {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gg {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gg-circle {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-odnoklassniki {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-odnoklassniki-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-get-pocket {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wikipedia-w {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-safari {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-chrome {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-firefox {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-opera {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-internet-explorer {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-television:before {
  content: "";
}

.fa.fa-contao {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-500px {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-amazon {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-calendar-plus-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-calendar-plus-o:before {
  content: "";
}

.fa.fa-calendar-minus-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-calendar-minus-o:before {
  content: "";
}

.fa.fa-calendar-times-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-calendar-times-o:before {
  content: "";
}

.fa.fa-calendar-check-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-calendar-check-o:before {
  content: "";
}

.fa.fa-map-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-map-o:before {
  content: "";
}

.fa.fa-commenting:before {
  content: "";
}

.fa.fa-commenting-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-commenting-o:before {
  content: "";
}

.fa.fa-houzz {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-vimeo {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-vimeo:before {
  content: "";
}

.fa.fa-black-tie {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-fonticons {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-reddit-alien {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-edge {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-credit-card-alt:before {
  content: "";
}

.fa.fa-codiepie {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-modx {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-fort-awesome {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-usb {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-product-hunt {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-mixcloud {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-scribd {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pause-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-pause-circle-o:before {
  content: "";
}

.fa.fa-stop-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-stop-circle-o:before {
  content: "";
}

.fa.fa-bluetooth {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-bluetooth-b {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-gitlab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wpbeginner {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wpforms {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-envira {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wheelchair-alt {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wheelchair-alt:before {
  content: "";
}

.fa.fa-question-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-question-circle-o:before {
  content: "";
}

.fa.fa-volume-control-phone:before {
  content: "";
}

.fa.fa-asl-interpreting:before {
  content: "";
}

.fa.fa-deafness:before {
  content: "";
}

.fa.fa-hard-of-hearing:before {
  content: "";
}

.fa.fa-glide {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-glide-g {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-signing:before {
  content: "";
}

.fa.fa-viadeo {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-viadeo-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-snapchat {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-snapchat-ghost {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-snapchat-ghost:before {
  content: "";
}

.fa.fa-snapchat-square {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-pied-piper {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-first-order {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-yoast {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-themeisle {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus-official {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus-official:before {
  content: "";
}

.fa.fa-google-plus-circle {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-google-plus-circle:before {
  content: "";
}

.fa.fa-font-awesome {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-fa {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-fa:before {
  content: "";
}

.fa.fa-handshake-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-handshake-o:before {
  content: "";
}

.fa.fa-envelope-open-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-envelope-open-o:before {
  content: "";
}

.fa.fa-linode {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-address-book-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-address-book-o:before {
  content: "";
}

.fa.fa-vcard:before {
  content: "";
}

.fa.fa-address-card-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-address-card-o:before {
  content: "";
}

.fa.fa-vcard-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-vcard-o:before {
  content: "";
}

.fa.fa-user-circle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-user-circle-o:before {
  content: "";
}

.fa.fa-user-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-user-o:before {
  content: "";
}

.fa.fa-id-badge {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-drivers-license:before {
  content: "";
}

.fa.fa-id-card-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-id-card-o:before {
  content: "";
}

.fa.fa-drivers-license-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-drivers-license-o:before {
  content: "";
}

.fa.fa-quora {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-free-code-camp {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-telegram {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-thermometer-4:before {
  content: "";
}

.fa.fa-thermometer:before {
  content: "";
}

.fa.fa-thermometer-3:before {
  content: "";
}

.fa.fa-thermometer-2:before {
  content: "";
}

.fa.fa-thermometer-1:before {
  content: "";
}

.fa.fa-thermometer-0:before {
  content: "";
}

.fa.fa-bathtub:before {
  content: "";
}

.fa.fa-s15:before {
  content: "";
}

.fa.fa-window-maximize {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-window-restore {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-times-rectangle:before {
  content: "";
}

.fa.fa-window-close-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-window-close-o:before {
  content: "";
}

.fa.fa-times-rectangle-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-times-rectangle-o:before {
  content: "";
}

.fa.fa-bandcamp {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-grav {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-etsy {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-imdb {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-ravelry {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-eercast {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-eercast:before {
  content: "";
}

.fa.fa-snowflake-o {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa.fa-snowflake-o:before {
  content: "";
}

.fa.fa-superpowers {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-wpexplorer {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.fa.fa-meetup {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

/*# sourceMappingURL=v4-shims.css.map */
