//noinspection CssUnknownTarget
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Open+Sans&display=swap");
//@import "./fontawesome/fontawesome.scss";
//@import "./fontawesome/solid.scss";
@import "leaflet.css";

$orange: rgb(255, 165, 0);
$green: rgb(86, 179, 52);
$grey: rgb(188, 190, 192);
$light-grey: rgb(224, 224, 232);
$gie-blue: rgb(35, 156, 198);
$primary: rgba(45, 65, 113, 1);
$red: rgb(171, 45, 45);


$full0: #a90000;
$full10: #f70000;
$full20: #fe660d;
$full30: #fea315;
$full40: #8ca744;
$full50: #67b919;
$full60: #17b017;
$full70: #479f22;
$full80: #106c16;
$full90: #094809;

$special: 'Open Sans', Arial, Helvetica, cursive;
$regular: 'Roboto', Arial, Helvetica, sans-serif;
$code: menlo, inconsolata, monospace;
//@import "./bootstrap/bootstrap.scss";
//noinspection CssUnknownTarget
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");
* {
  //border: 1px solid #f00 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: $regular;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $special;
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h6 {
  font-weight: bold;
}

a, a:hover {
  color: $gie-blue;
}

code {
  font-family: $code;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

div {
  &.container-fluid {
    margin: 0;
    padding: 0;

    .row {
      margin: 0;
    }
  }
}

.logo {
  height: 100%;
  max-height: 90px;
  margin: 3px 0 0 0;
  padding: 0;
}

.carousel {
  width: 728px;
  float: right;
}

nav {
  font-weight: 400;
  margin: 0 0 0 10px;
  vertical-align: bottom;

  ul {
    margin: 0;
    padding: 0;
    vertical-align: bottom;

    &.float-right {
      font-size: .8em;
      padding-top: 9px;
    }


    li {
      display: block;
      float: left;
      vertical-align: bottom;

      a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: .5em 1em;
        display: block;
        text-transform: uppercase;
        font-weight: 400;

        &.selected {
          color: #b3b3b3;
        }
      }

      &:first-of-type a {
        padding-left: 0;
      }
    }
  }

  .dropdown-menu {
    z-index: 10000;
    font-size: 12px;
    padding: 15px;
    min-width: 50vw;

    .row:not(:first-of-type) {
      margin-top: 15px;
    }

    ul {
      li {
        float: none;

        &.title {
          font-weight: bold;
          text-transform: uppercase;
        }

        a {
          padding: 4px 0;
          text-transform: none;
          color: $gie-blue;
          text-decoration: underline;

          &.selected {
            font-weight: bold;

            &:before {
              display: inline-block;
              text-rendering: auto;
              content: "\00BB";
              padding-right: 5px;
            }
          }

          &[href='#'] {
            color: gray;
            font-style: italic;
          }

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}

/* clearfix */
nav:after, ul::after {
  content: '';
  display: block;
  clear: both;
}

footer {
  width: 100%;
  height: 30px;
}

.new-update {
  width: 100%;
  text-align: center;
  padding: 25px 0 10px 0;
  font-size: 2em;
}

main {
  position: relative;
  max-width: 100%;
  background-color: white;
  padding: 0 1em 1em;
  margin: 0 auto;
  box-sizing: border-box;
}

footer {
  font-size: .9em;
  position: absolute;
  bottom: 0;
  background-color: #929292;
  clear: both;

  a, a:focus, a:hover {
    color: #FFF
  }

  &.no-sticky {
    position: inherit;
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      float: left;
      border-right: 2px solid #fff;
      padding-left: 8px;
      padding-right: 8px;
      color: #fff;
      line-height: 30px;

      &:first-child {
        margin-left: -15px;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.right {
  float: right;

  &.small-box {
    width: 20% !important;

    .legend {
      div {
        width: 50%;
        display: inline-block;
        float: left;
        text-align: center;
      }
    }

    button {
      width: 35%;

      &:first-of-type {
        clear: both;
      }
    }
  }
}

.header {
  background-color: $light-grey;
  font-size: 1.3em;
  line-height: 35px;
  border-bottom: 1px solid #c4c4d2;
  padding: 5px 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  vertical-align: middle;

  .website-btn {
    text-align: center;

    .btn-primary {
      background-color: $gie-blue !important;
      border-color: $gie-blue !important;
      cursor: initial;
    }
  }

  .title {
    text-align: center;

    .system-status {
      text-transform: uppercase;
      font-size: smaller;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;

        &.ok {
          background-color: #06f106;
        }

        &.nok {
          background-color: #750404;
        }
      }
    }
  }

  .announcement {
    text-transform: none;
    padding: .25em .5em;
    background-color: $gie-blue;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.8em;
    border-bottom: 1px solid darken($gie-blue, 10%);
    margin: 0;
    display: block;
    height: 2.4em;
    position: absolute;
    right: 0;
    min-width: 560px;
    text-align: center;

    #gasDay {
      font-weight: bold;
    }

    .svg-inline--fa {
      margin: auto 5px;
    }
  }
}

.subheader, .extra-information {
  background: rgba($gie-blue, .1);
  line-height: 25px;
  border-bottom: 1px solid #dddddd;
  color: darken($gie-blue, 20%);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;

  .announcement {
    text-transform: none;
    padding: .25em .5em;
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;

    a {
      color: #000000;
    }
  }
}

.footer {
  width: 100%;
  display: block;
  margin: 0;
  font-size: 1em;

  div {
    margin: 5px 0;
    padding: 5px 0;

    &.extra-information {
      border-top: 1px solid $gie-blue;
      padding: 5px;

      p {
        margin: 2px 0 !important;
        line-height: normal;
        font-size: .9em;
      }
    }
  }
}

.extra-information {
  //border-top: 1px solid $gie-blue;
  padding: 0 15px;
  font-size: 1em;
  text-transform: initial;
  //height: 50px;
  height: auto;

  p {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    font-size: 1.4em;
    font-weight: normal;
    white-space: normal;
  }
}

.show-xs {
  display: none;
}

.tabulator {
  clear: both;
  font-size: 1em;
  border-radius: 0;
  /*
    &:not(.home) .tabulator-tableholder {
      overflow-x: hidden;
    }
    &.home .tabulator-tableholder {
      overflow-y: hidden;
    }*/

  .tabulator-header {
    font-weight: normal;

    .tabulator-col {
      &[tabulator-field="status"] {
        min-width: 20px !important;
        width: 20px !important;
      }

      /*
            &:last-of-type {
              width: 110px !important;
            }*/
      .tabulator-header-filter {
      }

      .tabulator-col-content {
        .tabulator-col-title {
          font-weight: bold;

          small {
            display: block;
            color: $red;
            font-size: .9em;

            & + small {
              color: black;
              width: 100%;
              white-space: normal;
            }
          }

          i, svg {
            float: right;
          }
        }
      }
    }
  }

  .tabulator-table {
    .tabulator-row {
      .fa-bell-exclamation {
        float: right;
        color: $red;
      }

      &:hover {
        background-color: #bbb !important;

        .tabulator-cell.wgv {
          color: black !important;
        }
      }

      &.tabulator-row-odd {
        #background: #eeeeee;
      }

      &.tabulator-tree-level-0 {
        font-weight: bold;
        font-size: larger;
        background: #eeeeee;
      }

      &.tabulator-tree-level-1 {
        font-weight: bold;
        background-color: rgb(233, 245, 249);
      }

      &.tabulator-tree-level-2 {
        font-weight: bold;
      }

      &.tabulator-tree-level-3 {
        border-bottom-color: #424242;
      }

      //status
      &.confirmed {
        /*
                > div[tabulator-field="name"] {
                  border-left: solid $green 8px;
                }*/
        > div[tabulator-field="status"] {
          background: $green;
          width: 20px !important;
          color: white;
          text-align: center;
          font-weight: bold;
        }

        > div[tabulator-field="end"] {
          border-right: solid $green 8px;
        }
      }

      &.estimated {
        /*
                > div[tabulator-field="name"] {
                  border-left: solid $orange 8px;
                }*/
        > div[tabulator-field="status"] {
          background: $orange;
          width: 20px !important;
          color: white;
          text-align: center;
          font-weight: bold;
        }

        > div[tabulator-field="end"] {
          border-right: solid $orange 8px;
        }
      }

      &.no-data {
        /*
                > div[tabulator-field="name"] {
                  border-left: solid $grey 8px;
                }*/
        > div[tabulator-field="status"] {
          background: $grey;
          width: 20px !important;
          color: white;
          text-align: center;
          font-weight: bold;
        }
      }

      //type
      &.planned {
        > div[tabulator-field="published"] {
          border-left: solid $gie-blue 8px;
        }
      }

      &.unplanned {
        > div[tabulator-field="published"] {
          border-left: solid darken($gie-blue, 30%) 8px;
        }
      }

      //trend
      &.positive-trend {
        > div[tabulator-field="trend"] {
          //border-left: solid $green 8px;
          color: $green;

          &:after {
            //font: var(--fa-font-solid);
            //content: "\f0d8";
            //padding-left: 5px;
          }
        }
      }

      &.negative-trend {
        > div[tabulator-field="trend"] {
          //border-left: solid $red 8px;
          color: $red;

          &:after {
            //font: var(--fa-font-solid);
            //content: "\f0d7";
            //padding-left: 5px;
          }
        }
      }

      &.no-trend {
        > div[tabulator-field="trend"] {
          //border-left: solid $grey 8px;
          padding-right: 19px;
        }
      }

      //full
      > div[tabulator-field="full"] {
        color: #FFFFFF;
      }

      &.full0 > div[tabulator-field="full"] {
        background-color: $full0;
      }

      &.full10 > div[tabulator-field="full"] {
        background-color: $full10;
      }

      &.full20 > div[tabulator-field="full"] {
        background-color: $full20;
      }

      &.full30 > div[tabulator-field="full"] {
        background-color: $full30;
      }

      &.full40 > div[tabulator-field="full"] {
        background-color: $full40;
      }

      &.full50 > div[tabulator-field="full"] {
        background-color: $full50;
      }

      &.full60 > div[tabulator-field="full"] {
        background-color: $full60;
      }

      &.full70 > div[tabulator-field="full"] {
        background-color: $full70;
      }

      &.full80 > div[tabulator-field="full"] {
        background-color: $full80;
      }

      &.full90 > div[tabulator-field="full"] {
        background-color: $full90;
      }

      &.company {
        background-color: rgba($gie-blue, .1);
      }

      .tabulator-cell {
        white-space: normal;

        &.wgv {
          font-style: italic;
          color: #7c7c7c;
        }

        &:not(:nth-of-type(1)) {
          text-align: right;
        }

        /*&:last-of-type {
          width: 110px !important;
        }*/

        .tabulator-data-tree-branch {
          border-color: darken($grey, 50%);
        }

        a {
          color: $gie-blue;

          .right {
            position: absolute;
            right: 0;
          }

          &:hover {
            color: $gie-blue;
          }
        }

        .svg-inline--fa {
          margin-right: 5px;
        }

        .fas.fa-info-circle {
          font-size: 1.4em;
          color: $orange;
          margin: 5px 10px 5px 0;
        }

        a.button {
          font-size: .95em;
          font-weight: normal;
          color: rgb(51, 51, 51);
          text-decoration: none;
          background: rgb(255, 255, 255);
          margin: 0;
          padding: 2px 4px;
          border-radius: 0 5px 5px 0;
          border: 1px solid darken(rgb(255, 255, 255), 5);

          &:first-of-type {
            border-radius: 5px 0 0 5px;
            color: rgb(255, 255, 255);
            background: $gie-blue;
            border: 1px solid darken($gie-blue, 5);
          }

          display: inline-block;

          &:hover {
            background: darken(rgb(255, 255, 255), 5);

            &:first-of-type {
              background: darken($gie-blue, 5);
            }
          }
        }

        &:first-of-type {
          i.fas {
            padding-right: 5px;
          }
        }
      }
    }
  }

  &.news {
    .tabulator-cell {
      border-right: 0;
    }

    .tabulator-responsive-collapse {
      border-top: 0;

      div {
        max-width: 90%;
      }
    }
  }
}

span {
  &.ugf, &.omi {
    margin: 5px 0 5px 15px;
    display: inline-block;
  }

  &.version {
    display: inline-block;
    float: right;
    font-weight: bold;
    font-family: $special;
  }
}

.btn-group.display-btn {
  width: 100%;
  margin: 0 0 15px 0;
}

.filter-listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 5px 0;

    .btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px 15px;

      span {
        display: inline-block;
        padding: 0 0 0 5px;
        width: 90%;
        text-align: right;
        float: right;

        strong {
          float: left;
        }
      }
    }
  }
}


.card-header {
  font-weight: bold;
  font-family: $special;
  padding: .53rem 1.25rem;

  .icon {
    display: inline-block;
    float: right;
  }

  span {
    &.icon.fa-layers {
      border: 0;
      float: right;
      opacity: 1;
      font-size: 1.2em;

      .fa-layers-counter {
        background-color: Tomato;
        font-size: 2.5em;
      }
    }
  }
}

.accordion {
  .card-header {
    padding: 0;
  }

  .card-footer {
    font-size: smaller;
  }

  .btn {
    &:focus {
      box-shadow: none;
    }

    &[aria-expanded="false"] {
      color: darkgray;
    }
  }
}

.toasts {
  bottom: 0 !important;
  top: auto !important;

  .toast {
    opacity: 1;
  }
}

.bg-info {
  .btn {
    color: #ffffff;
  }
}

.table-controls {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 30px;

  .row > div:nth-of-type(2) {
    text-align: right;

    strong {
      display: inline-block;
    }
  }

  .btn {
    font-family: $special;
    text-transform: none;
    padding: 0 .6em;
    background-color: $gie-blue;
    color: #ffffff;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0;
    height: 2.26em;
    border: 0;
    border-bottom: 1px solid darken($gie-blue, 10%);
    display: inline-block;
    border-radius: 0;

    &:hover, &.selected {
      background-color: $light-grey;
      color: $gie-blue;
      border-bottom: 1px solid darken($light-grey, 10%);
    }
  }

  .left {
    width: 59%;
    display: inline-block;

    .btn {
      float: left;
      width: 33%;
    }
  }

  .right {
    width: 40%;
    text-align: right;

    &.small-box {
      width: auto;
    }

    .input-group-prepend {
      height: 25px;

      .input-group-text {
        border-radius: 0 0 0 .2rem;
        border-color: $gie-blue;
        background-color: $gie-blue;
        color: #ffffff;
        padding: 0;
      }

      label {
        height: 25px;
        margin: 0 5px;
      }
    }

    input {
      display: inline-block;
      width: 20%;
      float: left;
      height: 27px;
      padding: 2px 10px 0 10px;
      border-radius: 0;
      border-width: 0 1px 1px 1px;
      border-color: $gie-blue;
      border-style: solid;
      color: $gie-blue;
    }

    .btn {
      float: left;
      width: 30%;

      &.half {
        width: 35%;
      }
    }
  }

  &:after, &:before {
    clear: both;
  }
}

#historical {
  .right {
    .alert {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    input {
    }

    .btn {
      width: 33.33333%;
    }
  }
}

#info {
  padding: 10px;
  background: #f6f6fa;
  margin: 0 0 15px 0;
  min-height: 80px;

  .dates {
    .input-group {
      width: 250px;
      display: inline-block;
    }

    &:after {
      clear: both;
    }
  }
}

dt {
  &.detail {
    text-align: right;
  }
}

.card {
  clear: both;
  margin: 15px 0;
}

.text-primary {
  color: $primary !important;
}

.border-primary {
  border-color: $primary !important;
}

.btn-primary, .bg-primary, .form-check-input:checked {
  background-color: $primary !important;
  border-color: $primary !important;

  &.btn-sm {
    //font-size: .8rem;
    //line-height: 1.2;
  }

  &:hover, &:active, &:focus {
  }
}

.btn-light {
  border-color: $primary;
}

@media screen and (max-width: 1189px) {
  .header {
    height: auto;
    min-height: 35px;

    .announcement {
      line-height: 1.8em;

      #gasDay {
        font-weight: bold;
      }
    }
  }
  .logo,
  .announcement {
    display: block;
    float: none;
    clear: both;
    min-height: 20px;
    margin: 0;
  }
  nav {
    height: auto;

    ul, ul.nav-right {
      margin: 0;
      padding: 0;
      display: block;
      //float: none;
      height: auto;
      //clear: both;

      li {
        a {
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .table-controls {
    .left, .right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  #detail {
    .table-controls {
      a.btn.btn-xs {
        line-height: 2em;
      }

      .left {
        width: 100%;
        min-width: auto;
        display: block;
        clear: both;

        .btn {
          width: 100%;
        }
      }

      .right {
        width: 100%;
        display: block;
        clear: both;

        .btn {
          max-width: 100%;
          float: left;
        }
      }
    }
  }

  .table-controls {
    .right {
      float: none;
    }
  }

  .logo {
    width: 90%;
    min-height: 90px;
  }
  .header {
    min-height: 70px;

    .announcement {
      display: block;
      position: relative;
      width: 100%;
    }
  }
  footer.no-sticky {
    height: auto;

    li, li.right {
      float: none;
      border: none;

      &.hide-xs {
        display: none;
      }

      &.show-xs {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 423px) { // 357px) {
  .header {
    font-size: 1em;
  }
  .table-controls {
    .left {
      .btn {
        width: 100%;
      }
    }
  }
}

#dataProviders, #tariffs {
  .card {
    .company_type {
      font-weight: bold;
      font-size: 1em;
    }

    .country {
      background: rgba($gie-blue, .1);
      display: block;
      height: 25px;
      line-height: 25px;
      border-bottom: 1px solid $gie-blue;
      color: $gie-blue;
      padding: 2px 10px;
      margin: -1rem -1rem 20px -1rem;
      text-transform: uppercase;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    table {
      width: 100%;

      thead {
        th {
          vertical-align: middle;

          &:nth-of-type(1) {
            width: 20%;
          }

          &:nth-of-type(2) {
            width: 40%;
          }

          &:nth-of-type(3) {
            width: 40%;
          }
        }
      }

      tbody {
        tr {
          td {
            vertical-align: middle;

            img {
              padding: 5px 0;
            }
          }

          &:not(:last-of-type) {
            td {
              border-bottom: 1px solid $light-grey;
            }
          }
        }
      }
    }
  }
}

main#dataVisualisationWGV,
main#dataVisualisationFillingLevels {
  .legend {
    div {
      display: block;
      clear: both;
      margin: 5px 0;

      span.circle {
        width: 18px;
        height: 18px;
        float: left;
        margin: 0 8px 0 0;
        opacity: 0.7;
      }
    }
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
  }
}

main:not(#graphs):not(#fillingLevels) {
  p:first-of-type {
    margin-top: 14px;
  }

  .legend {
    font-family: $special;
    font-size: 1em;
    text-align: left;
    margin: 0;

    .legend-item {
      display: inline-block;
      font-weight: bold;
      margin: 0 3px 3px 0;


      .badge {
        font-size: 12px;
        //background: transparent !important;
        border-radius: 0;

        //full
        &.full0 {
          background-color: $full0;
        }
        &.full10 {
          background-color: $full10;
        }
        &.full20 {
          background-color: $full20;
        }
        &.full30 {
          background-color: $full30;
        }

        &.full40 {
          background-color: $full40;
        }

        &.full50 {
          background-color: $full50;
        }

        &.full60 {
          background-color: $full60;
        }

        &.full70 {
          background-color: $full70;
        }

        &.full80 {
          background-color: $full80;
        }

        &.full90 {
          background-color: $full90;
        }
      }

      .planned {
        border-left: solid $gie-blue 8px;
      }

      .unplanned {
        border-left: solid darken($gie-blue, 15%) 8px;
      }

      .confirmed, .estimated, .no-data {
        width: 25px;
        text-align: center;
      }

      .confirmed {
        //border-left: solid $green 8px;
        background: $green;
      }

      .estimated {
        //border-left: solid $orange 8px;
        background: $orange;
      }

      .no-data {
        //border-left: solid $grey 8px;
        background: $grey;
      }
    }

    div.col-12 {
      .legend-item {
        display: inline-block;
      }
    }
  }
}

.input-group {
  .planned {
    background-color: $gie-blue;
  }

  .unplanned {
    background-color: darken($gie-blue, 15%);
  }

  .confirmed {
    background-color: $green;
  }

  .estimate {
    background-color: $orange;
  }
}
/*
main:not(#unavailability):not(#gantt):not(#account):not(#fillingLevels):not(#news) {
  .row {
    h5, h6 {
      padding: 5px 0 0 0;
      margin: 15px 0 0 0;
    }

    p {
      padding: 0;
      margin: 0;

      + p {
        margin-top: 15px;
      }
    }
  }
}*/
main:not(#unavailability):not(#account):not(#news) {
  .row {
    h5, h6 {
      padding: 5px 0 0 0;
      margin: 15px 0 0 0;
    }
    p {
      padding: 0;
      margin: 0;

      +p {
        margin-top: 15px;
      }
    }
  }
}

main#news {
  .row {
    h5, h6 {
      padding: 0;
      margin: 0;
      color: $primary;
    }

    p {
      padding: 0;
      margin: 0;

      + p {
        margin-top: 15px;
      }
    }
  }
}

main#fillingLevels {
  .row {
    .card {
      .card-body {
        h5.card-title {
          padding: 0;
          margin: -5px 0 10px !important;
        }
      }
    }
  }
}

/*
main#unavailability {
  .form-group {
    margin: 0 0 10px 0;
    .input-group-text {
      padding: 0.575rem 0.75rem;
      border-radius: 0.375rem 0 0 0.375rem;
    }
  }

}*/

main#login,
main#account {
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    padding-bottom: 15px;

    .form-control, .input-group-addon, .input-group-btn {
      display: table-cell;
    }

    .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
      border-width: 0 0 1px 0;
    }

    span {
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      padding: 0.375rem 0.75rem;
      width: 10%;
      text-align: center;
      border-radius: 5px 0 0 15px;
      color: #555;
      background-color: #eee;
      border: 1px solid #ccc;

      &.required {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;

        ~ .form-control {
          color: #856404;
          border-color: #ffeeba;

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(133, 100, 4, 0.7);
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(133, 100, 4, 0.7);
          }

          &::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(133, 100, 4, 0.7);
          }
        }
      }
    }
  }
}

#register {
  input[type="checkbox"] {
    margin-right: 5px;
  }
}

#loading {
  position: absolute;
  z-index: 100;
  left: 0;
  height: 50%;
  width: 100%;
  padding: 5%;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.highcharts-multiple {
  position: relative;

  .loading {
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 30%;
  }
}
.highcharts-point:hover {
  cursor: pointer;
}

ul#myTab {
  border-bottom: 0;
  margin-bottom: -10px;
  color: $gie-blue;

  &.nav-pills {
    .nav-link {
      padding: 5px 15px;
      color: #000000;

      &:disabled {
        color: #626262;

        &:hover {
          color: #626262;
          background-color: transparent;
        }
      }

      &:hover {
        color: $gie-blue;
        background-color: #FFFFFF;
      }
    }

    .nav-link.active, &.show > .nav-link {
      background-color: $gie-blue;
      color: #FFFFFF;
    }
  }
}

#map {
  .leaflet-marker-icon.marker-cluster {
    background-color: $gie-blue;
    color: white;

    &.marker-cluster-unplanned-small,
    &.marker-cluster-unplanned-medium,
    &.marker-cluster-unplanned-large {
      background-color: darken($gie-blue, 15%);
    }
  }

  section.leaflet-control-layers-list {
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;

    label:nth-of-type(2) {
      color: $gie-blue;
    }

    label:nth-of-type(3) {
      color: darken($gie-blue, 15%);
    }
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    &#info-agsi {
      height: 500px;
      width: 500px;
      overflow: auto;

      .btn-outline-dark {
        color: #000000;

        &:hover, &:active, &:focus {
          color: $gie-blue;
          background: #ffffff;
          border-color: $gie-blue;
        }

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba($gie-blue, .5);
        }
      }

      .positive-trend {
        color: $green;

        &:after {
          //font: var(--fa-font-solid);
          //content: "\f0d8";
          //padding-left: 5px;
        }
      }

      .negative-trend {
        color: $red;

        &:after {
          //font: var(--fa-font-solid);
          //content: "\f0d7";
          //padding-left: 5px;
        }
      }

      .planned {
        color: $gie-blue;
      }

      .unplanned {
        color: darken($gie-blue, 15%);
      }

      .confirmed {
        //border-left: solid $green 8px;
        color: $green;
      }

      .estimated {
        //border-left: solid $orange 8px;
        color: $orange;
      }
    }

    div.info-table {
      height: 90%;
      width: 100%;
      font-size: small;
      padding: 15px 5px;
    }

    h4 {
      margin: 0 0 5px;
      color: #777;
    }

    table {
      text-align: left;

      tr {
        &:nth-of-type(even) {
          background: rgba(0, 0, 0, 0.02);
        }

        td {
          width: 300px;
          vertical-align: top;
        }

        td:first-of-type {
          width: 200px;
        }
      }
    }
  }

  td {
    &.planned {
      color: $gie-blue;
    }

    &.unplanned {
      color: darken($gie-blue, 30%);
    }

    &.confirmed {
      //border-left: solid $green 8px;
      color: $green;
    }

    &.estimated {
      //border-left: solid $orange 8px;
      color: $orange;
    }
  }

  /*Legend specific*/
  .legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    line-height: 20px;
    color: #555;

    h4 {
      text-align: center;
      font-size: 16px;
      margin: 2px 12px 8px;
      color: #777;
    }

    span {
      position: relative;
      bottom: 3px;
    }

    i {
      width: 18px;
      height: 18px;
      float: left;
      margin: 0 8px 0 0;
      opacity: 0.7;

      &.icon {
        background-size: 18px;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.color-gie {
  color: $gie-blue;
}

.logo_gie {
  position: absolute;
  top: 1%;
  left: 61px;
  width: 150px;
  height: 150px;
  z-index: 1000;
  //border: 1px solid black;
  background-image: url('../img/logo_GIE.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#scroll {
  display: none;
}

@media (max-width: 1550px) {
  #scroll {
    display: block;
  }
}

.leaflet-control-layers-overlays {
  text-align: left;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
}

#capacityForecast {
  tbody {
    tr {
      th, &:has(+.element-0), &:last-of-type {
        border-bottom: 2px solid black;
      }
    }
  }
}

#tooltip-screen {
  background: $gie-blue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  width: 200px;
  font-style: italic;
  z-index: 50;
}

.title-tooltip {
  .fa-circle-question {
    &:hover {
      cursor: pointer;
    }
  }

  &:hover + .tooltip,
  &:focus + .tooltip,
  &.hover + .tooltip {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1) rotate(0deg);
    pointer-events: inherit;
  }
}

.tooltip {
  display: block;
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75) rotate(5deg);
  transform-origin: top center;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  color: white;
  transition: 0.15s ease-in-out;
  opacity: 0;
  width: 90%;
  max-width: 100vw;
  pointer-events: none;
  z-index: 9999999;
  font-size: x-small;

  &.blue {
    background: rgba($gie-blue, 1);

    &:after {
      border-top: 5px solid rgba($gie-blue, 0.75);
    }
  }

  &:hover {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1) rotate(0deg);
    pointer-events: inherit;
  }
}

.info {
  margin: 15px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dddddd;

  > div {
    border-right: 1px solid #dddddd;

    strong {
      display: block;
    }

    span {
      text-align: justify-all;
    }
  }

  > div:last-of-type {
    border-right: 0;

    strong {
      text-transform: uppercase;
    }
  }

  + .table-controls {
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #dddddd;

    > div {
      &:nth-of-type(1) {
        span {
          background-color: $gie-blue;
          color: #FFFFFF;
          padding: 5px 0;
          width: 100%;
          margin: 0 auto;
          border-radius: .25rem;
          display: inline-block;
          text-align: center;
          height: 1.76em;
          line-height: 1.1em;
        }
      }

      &:nth-of-type(2) {
        label {
          display: block;

          span {
            background-color: $gie-blue;
            color: #FFFFFF;
            padding: 5px 5px 0 5px;
            margin: 0 auto;
            border-radius: .25rem 0 0 .25rem;
            display: inline-block;
            text-align: center;
            height: 1.76em;
            line-height: 1.1em;
            float: left;
            width: 20%;
          }

          input {
            border-radius: 0 .25rem .25rem 0;
            height: 1.76em;
            line-height: 1.1em;
            float: left;
            font-size: 12px;
            width: 80%;
          }
        }

        div:nth-of-type(3) {
          button.btn.download {
            border-radius: .25rem;
            display: inline-block;
            text-align: center;
            height: 2.1em;
            line-height: 1.1em;
          }
        }
      }
    }
  }
}

#dashboard {
  .card {
    min-height: 400px;
    text-align: center;

    .card-title {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
  }

  .trend {
    font-size: 5em;

    &.positive {
      color: $green;
    }

    &.negative {
      color: $red;
    }
  }
}

#close_dropdown {
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: 10px;
}

.fa-stack {
  width: 1.12em !important;
}