{% extends 'base.html.twig' %}

{% block title %}API Account - {% endblock %}
{% block pageTitle %}API Account{% endblock %}

{% block javascripts_first %}
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>

    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.2/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/tabulator-tables@5.1.2/dist/css/tabulator_simple.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
{% endblock %}