{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<!doctype html>
<html lang='en'>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WB8P80CLLN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-WB8P80CLLN');
        </script>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet" crossorigin="anonymous">
        link href="https://unpkg.com/tabulator-tables@5.1.2/dist/css/tabulator.min.css" rel="stylesheet"-->
        <title>{% block title %}{% endblock %}AGSI</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('build/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('build/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('build/favicon-16x16.png')}}">
        <link rel="manifest" href="{{asset('build/site.webmanifest')}}">
        <link rel="mask-icon" href="{{asset('build/safari-pinned-tab.svg')}}" color="#239cc6">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <main id="{{ svelteId }}" data-url="{{ path('api') }}" {% if params is not null %} data-params="{{ params }}"{% endif %} class="container-fluid">
            {{ include ('nav.html.twig') }}
            <div class="header row">
                <!--
                <div class="col-lg-4 col-xs-12">
                <span class="btn-group-sm website-btn">
                    <span class="btn btn-primary">AGSI Storage Inventory</span>
                    <a href="https://alsi.gie.eu" class="btn btn-secondary">ALSI LNG Inventory</a>
                    <a href="https://iip.gie.eu" class="btn btn-secondary">UMM Inside Information</a>
                </span>
                </div>
                -->
                <div class="col-lg-12 col-xs-12 title">
                    <div class="float-end system-status">
                        system status
                        <span class="circle ok"></span>
                        ok
                    </div>
                    {% block pageTitle %}{% endblock %}
                </div>
            </div>

            {% if svelteId is same as('main') or svelteId is same as('dashboard') %}
                <div class="subheader">
                    <span class="announcement" id="sa_slide"></span>
                    <span class="announcement">> <a href="/news">Read more news here</a></span>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </main>

        <footer class="no-sticky">
            <ul>
                <li class="right hide-xs"><a href="http://jaic.be" target="_blank"><small>Powered by JAIC</small></a></li>
                <li class="hide-xs">&copy; GIE AISBL {{ 'now' | date('Y') }}</li>
                <li><a href="{{ path('disclaimer') }}">Disclaimer</a></li>
                <li><a href="https://www.gie.eu/privacy-policy" target="_blank">Privacy policy</a></li>
                <li><a href="mailto:transparency@gie.eu" target="_blank">Contact</a></li>
                <li class="show-xs">
                    <a href="http://jaic.be" target="_blank" style="float: right"><small>Powered by JAIC</small></a>
                    &copy; GIE AISBL {{ 'now' | date('Y') }}
                </li>
            </ul>
        </footer>

        <div id="tooltip-screen" style="display: none;"></div>

        <script src="https://kit.fontawesome.com/3d888677a5.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        {% block javascripts_first %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

    <script>
        $('.dropdown-toggle').hover(function(){
            $(this).dropdown('show');
        });
        $('body').on('click', '#close_dropdown', function() {
            $('.dropdown-toggle').dropdown('hide');
        }).on('mouseleave', '.dropdown-menu.show', function () {
            $(this).dropdown('hide');
        });
    </script>
    </body>
</html>
