{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {% endblock %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block javascripts_first %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js" integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/geojson-vt@3.2.1/geojson-vt.js"></script>
    <script src="https://unpkg.com/nestie@1.0.2/dist/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('build/data/nicky.min.js') }}"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.3/dist/leaflet-search.src.js" integrity="sha256-YzvkFoKC133K/Hkntg1vA1+7zRCI+Ameom1XsdqD7nw=" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.3/dist/leaflet-search.min.css" integrity="sha256-l4HUANz/iJKhhmy+E3ovEfFv+P4PC0ItCySjOpjiRjk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.3/dist/leaflet-search.mobile.min.css" integrity="sha256-caIhbvJR1s4xeillIuzNe0uBhKW8er0KIPI2ROnJ+a8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.3/dist/leaflet-search.mobile.src.css" integrity="sha256-BpWmRidEjqc4GNhVijnHAnquCUG5dkxSy7XD3wszMX8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.3/dist/leaflet-search.src.css" integrity="sha256-Trjviccp/jQTxVPkgqC9UzjsLG5v3ZtQWnFf53/qTmY=" crossorigin="anonymous">
{% endblock %}

{% block body %}{% endblock %}