{% extends 'base.html.twig' %}

{% block title %}Data Usage - {% endblock %}
{% block pageTitle %}Data Usage{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% endblock %}