{% extends 'base.html.twig' %}

{% block title %}Data Definitions - {% endblock %}
{% block pageTitle %}Data Definitions{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% endblock %}