{% extends 'base.html.twig' %}

{% block title %}Disclaimer - {% endblock %}
{% block pageTitle %}Disclaimer{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">
            <p>
                All data is provided by the contributors on a voluntary basis and free of charge. The Data provided by AGSI is for information only. GSE is using reasonable efforts to invest in ensuring the correctness, completeness, and timeliness of the information provided herein. Data have been carefully checked, are updated at regular intervals and may be subject to changes, removal, or amendments without prior notice.
            </p>
            <p>
                GSE neither assumes any warranty or liability for the correctness and completeness of information/services and entries nor for the mode of presentation.
            </p>
        </div>
        <div class="col-4">
            <p>
                <strong>
                    Inquiries
                </strong>
            </p>
            <p>
                For inquiries, please contact GIE at:
            </p>
            <p>
                Gas Infrastructure Europe (GIE)<br />
                Avenue de Cortenbergh 100<br />
                1000 Brussels<br />
                Belgium<br />
                T +32 2 209 05 00<br />
                transparency@gie.eu
            </p>
        </div>
    </div>
{% endblock %}