{% extends 'base.html.twig' %}

{% block title %}Gas Infrastructure Europe - {% endblock %}
{% block pageTitle %}REMIT Storage Data{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.2/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/tabulator-tables@5.1.2/dist/css/tabulator_simple.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% endblock %}