<div class="row">
    <div class="col-12 col-lg-6">
        <a href='{{ path('home') }}'><img src="{{asset('build/img/logo.png')}}" alt="logo" class="logo"></a>
    </div>
    <div class="col-12 col-lg-6 text-right">
        <div class="carousel">
            <div>
                <a href="https://www.gie.eu/conference" target="_blank">
                    <img src="{{asset('build/img/bannerAGSI-GC2025.jpg')}}" style="width: 728px; height: 90px;" alt="GIE 2025 Conference banner" width="728" height="90">
                </a>
            </div>
            <div>
                <a href="https://www.gie.eu/transparency/databases/" target="_blank">
                    <img src="{{asset('build/img/GIE_Databases_Leaderboard.png')}}" style="width: 728px; height: 90px;" alt="GIE Databases banner" width="728" height="90">
                </a>
            </div>
            <div>
                <a href="https://www.gie.eu/publications/maps/" target="_blank">
                    <img src="{{asset('build/img/GIE_Maps_Leaderboard.png')}}" style="width: 728px; height: 90px;" alt="GIE Maps banner" width="728" height="90">
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="row">
    <div class="col-12 col-lg-8">

        <div class="btn-group-sm website-btn">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                AGSI Storage Inventory
            </button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <h6 class="dropdown-header" id="close_dropdown"><i class="fa-light fa-circle-xmark"></i> close</h6>
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li class="title">data</li>
                            <li><a class="dropdown-item {% if currentPath is same as ('/') %}selected{% endif %}" href="{{ path('home') }}">Storage Inventory status</a></li>
                            <li><a class="dropdown-item {% if 'historical-data' in currentPath or 'data-overview' in currentPath %}selected{% endif %}" href="{{ path('data_overview', {'code1': 'EU'}) }}">Storage Historical Data</a></li>
                            <li><a class="dropdown-item {% if 'unavailability' in currentPath and 'map' not in currentPath and 'gantt' not in currentPath %}selected{% endif %}" href="{{ path('unavailability', {'code1': 'EU'}) }}">Storage Unavailability Data</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">operator info</li>
                            <li><a class="dropdown-item {% if 'capacity-forecast' in currentPath and 'map' not in currentPath %}selected{% endif %}" href="{{ path('capacity_forecast') }}">Storage Capacity Forecast</a></li>
                            <li><a class="dropdown-item {% if 'transparency' in currentPath %}selected{% endif %}" href="{{ path('transparency') }}">Storage Transparency</a></li>
                            <li><a class="dropdown-item {% if 'tariffs' in currentPath %}selected{% endif %}" href="{{ path('tariffs') }}">Storage Tariffs</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">contact</li>
                            <li><a class="dropdown-item" href="mailto:transparency@gie.eu" target="_blank">Contact Us</a></li>
                            <li><a class="dropdown-item {% if 'subscribe' in currentPath %}selected{% endif %}" href="{{ path('subscribe') }}">Subscribe to mailing list</a></li>
                            <li><a class="dropdown-item" href="https://www.gie.eu/privacy-policy" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li class="title">charts</li>
                            <li><a class="dropdown-item {% if 'unavailability/gantt' in currentPath %}selected{% endif %}" href="{{ path('unavailability', {'code1': 'gantt'}) }}">Storage Unavailability / Timeline</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/filling-levels/' in currentPath and 'map' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'filling-levels', 'code2': 'EU'}) }}">Storage Filling Levels / EU</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/filling-levels-region/' in currentPath and 'eu' not in currentPath and 'map' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'filling-levels-region', 'code2': 'EU'}) }}">Storage Filling Levels / Region - Operator</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/net-withdrawal/' in currentPath and 'map' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'net-withdrawal', 'code2': 'EU'}) }}">Storage Net Withdrawal / EU</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/net-withdrawal-region/' in currentPath and 'map' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'net-withdrawal-region', 'code2': 'EU'}) }}">Storage Net Withdrawal / Region - Operator</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">maps</li>
                            <li><a class="dropdown-item {% if 'data-visualisation/map' in currentPath and 'wgv' not in currentPath and 'country' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'map'}) }}">Storage Inventory</a></li>
                            <li><a class="dropdown-item {% if 'unavailability/map' in currentPath %}selected{% endif %}" href="{{ path('unavailability', {'code1': 'map'}) }}">Storage Unavailability</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/filling-levels-wgv/map' in currentPath and 'country' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'filling-levels-wgv', 'code2': 'map'}) }}">Storage Filling Levels / WGV</a></li>
                            <li><a class="dropdown-item {% if 'data-visualisation/filling-levels-country/map' in currentPath and 'wgv' not in currentPath %}selected{% endif %}" href="{{ path('data_visualisation', {'code1': 'filling-levels-country', 'code2': 'map'}) }}">Storage Filling Levels / Country</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">about us</li>
                            <li><a class="dropdown-item" href="https://www.gie.eu" target="_blank">Who is GIE</a></li>
                            <li><a class="dropdown-item" href="https://www.gie.eu/privacy-policy" target="_blank">Terms of Use</a></li>
                            <li><a class="dropdown-item {% if 'disclaimer' in currentPath %}selected{% endif %}" href="{{ path('disclaimer') }}">Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li class="title">legend</li>
                            <li><a class="dropdown-item {% if 'data-definition' in currentPath %}selected{% endif %}" href="{{ path('data_definition') }}">Storage Data Definitions</a></li>
                            <li><a class="dropdown-item" href="#">Storage Data Legend</a></li>
                            <li><a class="dropdown-item" href="#">Storage Data Publication</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">publication</li>
                            <li><a class="dropdown-item {% if 'data-usage' in currentPath %}selected{% endif %}" href="{{ path('data-usage') }}">Data Usage - Rules & Source Referral</a></li>
                            <li><a class="dropdown-item {% if 'account' in currentPath %}selected{% endif %}" href="{{ path('account') }}">API Service</a></li>
                            <li><a class="dropdown-item" href="#">Historical Data</a></li>
                            <li><a class="dropdown-item" href="#">Mobile App</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li class="title">news</li>
                            <li><a class="dropdown-item {% if 'news' in currentPath %}selected{% endif %}" href="{{ path('news') }}">Storage / Data Announcements</a></li>
                            <li><a class="dropdown-item" href="#">System Status</a></li>
                            <li><a class="dropdown-item" href="#">Press Releases</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="https://alsi.gie.eu" class="btn btn-secondary">ALSI LNG Inventory</a>
            <a href="https://iip.gie.eu" class="btn btn-secondary">UMM Inside Information</a>
        </div>
        <!--
        <ul>
            <li><a class="{% if currentPath is same as('/') %}selected{% endif %}" href="{{ path('home') }}">Storage</a></li>
            <li><a class="{% if 'unavailability' in currentPath %}selected{% endif %}" href="{{ path('unavailability') }}">Unavailability</a></li>
            <li><a class="{% if 'data-visualisation' in currentPath %}selected{% endif %}" href="{{ path('data_visualisation') }}">Data Visualisation</a></li>
            <li><a class="{% if 'data-overview' in currentPath %}selected{% endif %}" href="{{ path('data_overview', {'code1':'eu'}) }}">Historical Data</a></li>
            <li><a class="{% if 'capacity-forecast' in currentPath %}selected{% endif %}" href="{{ path('capacity_forecast') }}">Capacity Forecast</a></li>
            <li><a class="{% if 'news' in currentPath %}selected{% endif %}" href="{{ path('news') }}">News</a></li>
            <li><a class="{% if 'data-definition' in currentPath %}selected{% endif %}" href="{{ path('data_definition') }}">Data Definition</a></li>
            <li><a class="{% if 'transparency' in currentPath %}selected{% endif %}" href="{{ path('transparency') }}">Transparency</a></li>
            <li><a class="{% if 'tariffs' in currentPath %}selected{% endif %}" href="{{ path('tariffs') }}">Tariffs</a></li>
        </ul>
        -->
    </div>
    <div class="col-12 col-lg-4">
        <ul class="float-right right">
            <li>
                <a class="{% if 'subscribe' in currentPath %}selected{% endif %}" href="{{ path('subscribe') }}">
                    <i class="fas fa-envelope"></i> Subscribe
                </a>
            </li>
            <li>
                <a href="{{ path('account') }}">
                    <i class="fa-thin fa-arrow-down-from-dotted-line"></i> API
                </a>
            </li>
        </ul>
    </div>
</nav>