{% extends 'base.html.twig' %}

{% block title %}News - {% endblock %}
{% block pageTitle %}News{% endblock %}

{% block javascripts_first %}
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.1.2/dist/js/tabulator.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://unpkg.com/tabulator-tables@5.1.2/dist/css/tabulator.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% endblock %}