{% extends 'base.html.twig' %}

{% block title %}Privacy Policy - {% endblock %}
{% block pageTitle %}Privacy Policy{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
        </div>
    </div>
{% endblock %}