{% extends 'base.html.twig' %}

{% block title %}Tariffs - {% endblock %}
{% block pageTitle %}Tariffs{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% endblock %}